<div class="act-teas">
		<div class="act-teas__visual">
			<div class="act-teas__type">
				<div class="act-type">Тип акции</div>
			</div>
			<div class="act-teas__cover">
				<img src="img/img_act-md_02.jpg" alt="" class="act-teas__img">
			</div>
		</div>
		<div class="act-teas__info">
			<div class="act-teas__calendar">
				<div class="act-cal">
					<div class="act-cal__title">Осталось</div>
					<div class="act-cal__value">13</div>
					<div class="act-cal__label">дней</div>
				</div>
			</div>
			<div class="act-teas__main">
				<div class="act-teas__ctrl">
					<a href="#" class="btn btn--main btn--md">Смотреть товары</a>
				</div>
				<div class="act-teas__description">Каждый покупатель светильников Odeon light</div>
			</div>
		</div>
	</div>