<a href="#" class="blog-teas">
	<div class="blog-teas__visual">
		<div class="blog-teas__type">
			<div class="blog-type">Обзор</div>
		</div>
		<div class="blog-teas__cover">
			<img src="https://picsum.photos/380/220?image=1068" alt="" class="blog-teas__img">
		</div>
	</div>
	<div class="blog-teas__info">
		<div class="blog-teas__date">23.08.2018</div>
		<div class="blog-teas__title">Встречаем люстры и светильники от компании Brilliant из Германии</div>
	</div>
</a>