<footer class="footer">
	<div class="container">
		<div class="footer__main">
			<div class="footer__first footer__col">
				<div class="footer__title">Интернет-магазин</div>

				<div class="footer__box">
					<div class="footer__mode">Режим работы<br>c 8:00 до 23:00 ежедневно</div>

					<div class="footer__phone">
						<a href="tel:88009992485">8 800 999 24 85</a>
					</div>
				</div>
			</div>

			<div class="footer__second footer__col">
				<div class="footer__title">Покупателям</div>

				<div class="footer__box">
					<nav class="f-nav">
						<ul class="f-nav__list">
							<li class="f-nav__item">
								<a href="#" class="f-nav__link">Фирменные магазины</a>
							</li>
							<li class="f-nav__item">
								<a href="#" class="f-nav__link">Бренды</a>
							</li>
							<li class="f-nav__item">
								<a href="#" class="f-nav__link">Блог</a>
							</li>
							<li class="f-nav__item">
								<a href="#" class="f-nav__link">Акции</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<div class="footer__third footer__col">
				<div class="footer__title">Помощь</div>
				
				<div class="footer__box">
					<nav class="f-nav">
						<ul class="f-nav__list f-nav__list--cols">
							<li class="f-nav__item">
								<a href="#" class="f-nav__link">Страница помощи</a>
							</li>
							<li class="f-nav__item">
								<a href="#" class="f-nav__link">Узнать где заказ</a>
							</li>
							<li class="f-nav__item">
								<a href="#" class="f-nav__link">Условия доставки</a>
							</li>
							<li class="f-nav__item">
								<a href="#" class="f-nav__link">Где посмотреть товары</a>
							</li>
							<li class="f-nav__item">
								<a href="#" class="f-nav__link">Раздел помощи</a>
							</li>
							<li class="f-nav__item">
								<a href="#" class="f-nav__link">Раздел помощи</a>
							</li>
							<li class="f-nav__item">
								<a href="#" class="f-nav__link">Раздел помощи</a>
							</li>
							<li class="f-nav__item">
								<a href="#" class="f-nav__link">Раздел помощи</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>

			<div class="footer__fourth footer__col">
				<div class="footer__title">Принимаем к оплате</div>
				
				<div class="footer__extra">
					<ul class="pay-nav">
						<li class="pay-nav__item pay-nav__item--visa" title="Visa">Visa</li>
						<li class="pay-nav__item pay-nav__item--mc" title="MasterCard">MasterCard</li>
					</ul>
				</div>

				<div class="footer__title">Lamp.ru в соцсетях</div>
				
				<div class="footer__extra">
					<ul class="soci-nav">
						<li class="soci-nav__item">
							<a href="#" class="soci-nav__link soci-nav__link--vk">Вконтакте</a>
						</li>
						<li class="soci-nav__item">
							<a href="#" class="soci-nav__link soci-nav__link--fb">Facebook</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="footer__bottom">
			<div class="footer__copyright">© 2018 Personal-svet.ru</div>

			<div class="footer__links">
				<div class="footer__link">
					<a href="#">Правовая информация</a>
				</div>
				<div class="footer__link">
					<a href="#">Политика конфиденциальности</a>
				</div>
			</div>
		</div>
	</div>
</footer>