<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="header__wrap">
				<div class="header__location header__first">
					<div class="your-city">
						<div class="your-city__label">Город:</div>
						<div class="your-city__value">
							<button class="your-city__btn">
								<span class="your-city__current">Москва</span>
							</button>
						</div>
					</div>
				</div>
				<div class="header__contacts header__second">
					<div class="h-contacts">
						<div class="h-contacts__phone">
							Тел.: <a href="tel:88009992485">8 800 999 24 85</a>
						</div>
						<div class="h-contacts__mode">Режим работы с 8:00 до 23:00 ежедевно</div>
					</div>
				</div>
				<div class="header__help header__third">
					<nav class="help-nav">
						<ul class="help-nav__list">
							<li class="help-nav__item"><a href="#" class="help-nav__link">Помощь покупателю</a></li>
							<li class="help-nav__item"><a href="#" class="help-nav__link help-nav__link--where">Где мой заказ</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<div class="header__main">
		<div class="container">
			<div class="header__wrap header__wrap--center">
				<div class="header__logo header__first">
					<a href="./" class="logo">
						<img src="img/logo.svg" width="254" height="52" alt="" class="logo__img">
					</a>
				</div>

				<div class="header__nav header__second">
					<nav class="h-nav">
						<ul class="h-nav__list">
							<li class="h-nav__item">
								<a href="#" class="h-nav__link">Фирменные магазины</a>
							</li>
							<li class="h-nav__item">
								<a href="#" class="h-nav__link">Доставка и оплата</a>
							</li>
							<li class="h-nav__item">
								<a href="#" class="h-nav__link">Блог</a>
							</li>
							<li class="h-nav__item">
								<a href="./brands_abc.html" class="h-nav__link">Бренды</a>
							</li>
							<li class="h-nav__item">
								<a href="./contacts.html" class="h-nav__link">Контакты</a>
							</li>
						</ul>
					</nav>
				</div>

				<div class="header__pa header__third">
					<div class="header-pa">
						<div class="header-pa__ctrl">
							<a href="./pa_p-data.html" class="link link--dashed">Войти в личный кабинет</a>
						</div>
						<div class="header-pa__info">На Лс есть 400 баллов</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="header__bottom">
		<div class="container">
			<div class="header__wrap header__wrap--center">
				<div class="header__cat">
					<div class="cat-nav">
						<a href="./catalog.html" class="cat-nav__btn">Каталог товаров</a>
					</div>
				</div>

				<div class="header__stock">
					<a href="#" class="link-stock">Акции</a>
				</div>

				<div class="header__search">
					<div class="search-box">
						<div class="search-box__main">
							<div class="search-box__item">
								<input type="text" class="search-box__control" placeholder="Поиск по бренду, категории, товару" value="Хрустальные люстры">

								<div class="search-box__result open">
									<div class="search-result">
										<div class="search-result__wrap">
											<div class="search-result__body">
												<div class="search-result__block">
													<div class="search-result__title">Категории</div>

													<div class="search-result__list">
														<div class="search-result__item">
															<a href="#" class="result-item">
																<div class="result-item__info">
																	<div class="result-item__name">Хрустальные люстры</div>
																	<div class="result-item__label">1200 товаров</div>
																</div>
															</a>
														</div>

														<div class="search-result__item">
															<a href="#" class="result-item">
																<div class="result-item__info">
																	<div class="result-item__name">Хрустальные люстры с пультом</div>
																	<div class="result-item__label">22 товара</div>
																</div>
															</a>
														</div>

														<div class="search-result__item">
															<a href="#" class="result-item">
																<div class="result-item__info">
																	<div class="result-item__name">Хрустальные люстры на натяжной потолок</div>
																	<div class="result-item__label">1200 товаров</div>
																</div>
															</a>
														</div>
													</div>
												</div>

												<div class="search-result__block">
													<div class="search-result__title">Популярные товары</div>

													<div class="search-result__list">
														<div class="search-result__item">
															<a href="#" class="result-item">
																<div class="result-item__cover">
																	<img src="img/img_prod-sm_02.jpg" alt="" class="result-item__img">
																</div>
																<div class="result-item__info">
																	<div class="result-item__name">Arte Lamp 234 84</div>
																	<div class="result-item__label">Хрустальные люстры</div>
																</div>
															</a>
														</div>
														<div class="search-result__item">
															<a href="#" class="result-item">
																<div class="result-item__cover">
																	<img src="img/img_prod-sm_02.jpg" alt="" class="result-item__img">
																</div>
																<div class="result-item__info">
																	<div class="result-item__name">Arte Lamp 234 84</div>
																	<div class="result-item__label">Хрустальные люстры</div>
																</div>
															</a>
														</div>
														<div class="search-result__item">
															<a href="#" class="result-item">
																<div class="result-item__cover">
																	<img src="img/img_prod-sm_02.jpg" alt="" class="result-item__img">
																</div>
																<div class="result-item__info">
																	<div class="result-item__name">Arte Lamp 234 84</div>
																	<div class="result-item__label">Хрустальные люстры</div>
																</div>
															</a>
														</div>
													</div>
												</div>

												<div class="search-result__block">
													<div class="search-result__title">Бренд</div>

													<div class="search-result__list">
														<div class="search-result__item">
															<a href="#" class="result-item">
																<div class="result-item__cover">
																	<img src="img/logo_arte-lamp.jpg" alt="" class="result-item__img">
																</div>
																<div class="result-item__info">
																	<div class="result-item__name">Arte Lamp</div>
																	<div class="result-item__label">2340 товаров</div>
																</div>
															</a>
														</div>
														<div class="search-result__item">
															<a href="#" class="result-item">
																<div class="result-item__cover">
																	<img src="img/logo_arte-lamp.jpg" alt="" class="result-item__img">
																</div>
																<div class="result-item__info">
																	<div class="result-item__name">Arte Lamp</div>
																	<div class="result-item__label">2340 товаров</div>
																</div>
															</a>
														</div>
														<div class="search-result__item">
															<a href="#" class="result-item">
																<div class="result-item__cover">
																	<img src="img/logo_arte-lamp.jpg" alt="" class="result-item__img">
																</div>
																<div class="result-item__info">
																	<div class="result-item__name">Arte Lamp</div>
																	<div class="result-item__label">2340 товаров</div>
																</div>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="search-box__submit">
								<button class="search-box__btn">Найти</button>
							</div>
						</div>
					</div>
				</div>

				<div class="header__ctrl">
					<nav class="ctrl-nav">
						<ul class="ctrl-nav__list">
							<li class="ctrl-nav__item">
								<a href="#" class="ctrl-nav__link ctrl-nav__link--compare">Сравнение <span class="ctrl-nav__qty">1</span></a>
							</li>
							<li class="ctrl-nav__item">
								<a href="#" class="ctrl-nav__link ctrl-nav__link--favorites">Избранное <span class="ctrl-nav__qty">2</span></a>
							</li>
							<li class="ctrl-nav__item">
								<a href="./cart_1-1.html" class="ctrl-nav__link ctrl-nav__link--cart">Корзина</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>