<div class="prod-card">
		<div class="prod-card__grid">
			<div class="prod-card__col">
				<div class="prod-card__visual">
					<div class="prod-card__cover">
						<div class="prod-cover">
							<div class="prod-cover__thumbs">
								<div class="prod-thumbs">
									<div class="prod-thumbs__item">
										<a href="#" class="prod-thumbs__link active">
											<img src="img/img_prod-xs_01.jpg" alt="" class="prod-thumbs__img">
										</a>
									</div>

									<div class="prod-thumbs__item">
										<a href="#" class="prod-thumbs__link">
											<img src="img/img_prod-xs_02.jpg" alt="" class="prod-thumbs__img">
										</a>
									</div>
								</div>
							</div>
							<div class="prod-cover__gallery">
								<div class="prod-cover__badges">
									<div class="prod-badges">
										<div class="prod-badges__item">
											<span class="prod-badge prod-badge--stock">Акция</span>
										</div>
										<div class="prod-badges__item">
											<span class="prod-badge prod-badge--new">Новинка</span>
										</div>
										<div class="prod-badges__item">
											<span class="prod-badge prod-badge--month">Товар месяца</span>
										</div>
										<div class="prod-badges__item">
											<span class="prod-badge prod-badge--top">Топ продаж</span>
										</div>
									</div>
								</div>
								<div class="prod-gallery">
									<div class="prod-gallery__item">
										<img src="img/img_prod-lg_01.jpg" alt="" class="prod-gallery__img">
									</div>
									<div class="prod-gallery__item">
										<img src="img/img_prod-lg_02.jpg" alt="" class="prod-gallery__img">
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="prod-card__tasks">
						<div class="prod-tasks">
							<div class="prod-tasks__main">
								<div class="prod-tasks__item">
									<div class="prod-task">
										<div class="prod-task__description">
											Получите <span>1000</span> баллов за обзор
										</div>
										<div class="prod-task__ctrl">
											<a href="#" class="link-info link-info--lg">Подробнее</a>
										</div>
									</div>
								</div>
								<div class="prod-tasks__item">
									<div class="prod-task">
										<div class="prod-task__description">
											Получите <span>500</span> баллов за распаковку
										</div>
										<div class="prod-task__ctrl">
											<a href="#" class="link-info link-info--lg">Подробнее</a>
										</div>
									</div>
								</div>
							</div>

							<div class="prod-tasks__description">
								Информация о технических характеристиках, комплекте поставки, стране изготовления и внешнем виде товара носит справочный характер и основывается на последних доступных сведениях от производителя
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="prod-card__col">
				<div class="prod-info">
					<div class="prod-info__wrap">
						<div class="prod-info__block">
							<div class="prod-info__line">
								<div class="prod-buy">
									<div class="prod-buy__prices">
										<div class="prod-buy__main-price">13 400 руб.</div>

										<div class="prod-buy__cashback">
											<div class="prod-cashback">
												<div class="prod-cashback__value">Кэшбэк 30%</div>
												<div class="prod-cashback__ctrl">
													<a href="#" class="link-info">Информация</a>
												</div>
												<div class="prod-cashback__sum">4 020 руб.</div>
											</div>
										</div>
									</div>

									<div class="prod-buy__ctrl">
										<div class="prod-buy__btns">
											<div class="prod-buy__btn prod-buy__btn--main">
												<a href="#" class="btn btn--main">Купить</a>
											</div>
											<div class="prod-buy__btn prod-buy__btn--one">
												<a href="#" class="btn btn--write">Купить в 1 клик</a>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="prod-info__line">
								<div class="prod-favorites">
									<div class="prod-favorites__ctrl">
										<a href="#" class="link-favorite">В избранное</a>
									</div>
									<div class="prod-favorites__info">137 человек добавили товар в избранное</div>
								</div>
							</div>

							<div class="prod-info__line">
								<div class="stock-main">
									<div class="stock-main__top">
										<span class="stock-main__terms">Акция! Купи люстру и получи плафон в подарок!</span>
										<span class="stock-main__ctrl"><a href="#" class="link link--dashed">Условия акции</a></span>
									</div>

									<div class="stock-main__body">
										<div class="stock-main__gift">
											<a href="#" class="prod-gift">
												<div class="prod-gift__label">Подарок</div>
												<div class="prod-gift__cover">
													<img src="img/img_prod-gift-sm_01.jpg" alt="" class="prod-gift__img">
												</div>
											</a>
										</div>

										<div class="stock-main__countdown">
											<div class="countdown">
												<div class="countdown__top">До конца акции осталось:</div>

												<div class="countdown__main">
													<div class="countdown__col">
														<div class="countdown__dgt">19</div>
														<div class="countdown__lbl">часов</div>
													</div>
													<div class="countdown__col">
														<div class="countdown__dgt">30</div>
														<div class="countdown__lbl">минут</div>
													</div>
													<div class="countdown__col">
														<div class="countdown__dgt">30</div>
														<div class="countdown__lbl">секунд</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="prod-info__block">
							<div class="prod-info__line">
								<div class="prod-info__row">
									<div class="prod-info__col">
										<div class="prod-info__list">
											<div class="prod-info__item">
												<strong>Особенности:</strong>
											</div>
											<div class="prod-info__item">Итальянское качество;</div>
											<div class="prod-info__item">Особенность 2;</div>
											<div class="prod-info__item">Особенность 3;</div>
											<div class="prod-info__item">Особенность 4;</div>
											<div class="prod-info__item">Особенность 5</div>
										</div>
									</div>
									<div class="prod-info__col">
										<div class="prod-info__list">
											<div class="prod-info__item">
												<strong>Бренд:</strong> <a href="#" class="link">Arte Lamp</a>
											</div>
											<div class="prod-info__item">
												<strong>Страна:</strong> Италия <span class="flag flag--ita"></span>
											</div>
											<div class="prod-info__item">
												<strong>Коллекция:</strong> Avalo Gold
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="prod-info__block">
							<div class="prod-info__line">
								<div class="prod-info__top">
									<div class="prod-info__title">
										<strong>Доставка и самовывоз в пределах МКАД:</strong>
									</div>
									<div class="prod-info__ctrl">
										<a href="#" class="link link--dashed">Изменить город</a>
									</div>
								</div>

								<div class="prod-info__get">
									<div class="prod-get">
										<div class="prod-get__list">
											<div class="prod-get__item">
												<div class="prod-get__ctrl">
													<div class="prod-get__icon">
														<img src="img/icon_shipping-dark.svg" width="20" height="16" alt="" class="prod-get__icon-img">
													</div>
													<div class="prod-get__link">
														<a href="#" class="link link--dashed">Доставка</a>
													</div>
												</div>
												<div class="prod-get__info">
													<div class="prod-get__value">
														<strong>завтра</strong> в пределах МКАД за <strong>250 ₽</strong>
													</div>
												</div>
											</div>

											<div class="prod-get__item">
												<div class="prod-get__ctrl">
													<div class="prod-get__icon">
														<img src="img/icon_pickup-dark.svg" width="21" height="20" alt="" class="prod-get__icon-img">
													</div>
													<div class="prod-get__link">
														<a href="#" class="link link--dashed">Самовывоз</a>
													</div>
												</div>
												<div class="prod-get__info">
													<div class="prod-get__value">
														<strong class="prod-get__today">сегодня</strong>
													</div>
												</div>
											</div>

											<div class="prod-get__item">
												<div class="prod-get__ctrl">
													<div class="prod-get__icon">
														<img src="img/icon_store-dark.svg" width="22" height="20" alt="" class="prod-get__icon-img">
													</div>
													<div class="prod-get__link">
														<a href="#" class="link link--dashed">В магазине</a>
													</div>
												</div>
												<div class="prod-get__info">
													<div class="prod-get__value">
														<strong class="prod-get__today">сегодня</strong>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="prod-info__block">
							<div class="prod-info__line">
								<div class="prod-info__item">
									<strong>Оплата:</strong> Наличные / Картой при доставке
								</div>
							</div>

							<div class="prod-info__line">
								<div class="prod-info__item">
									<strong>Возврат и обмен:</strong> в течение 14 дней
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>