<div class="prod-teas">
		<div class="prod-teas__wrap">
			<div class="prod-teas__visual">
				<div class="prod-teas__cover">
					<a href="#" class="prod-teas__cover-link">
						<img src="img/img_prod-sm_01.jpg" alt="" class="prod-teas__img">
					</a>
				</div>
			</div>

			<div class="prod-teas__main prod-teas__main--limited">
				<div class="prod-teas__title">
					<a href="#" class="prod-teas__title-link">
						Люстра Vibrant A6412SP-5CC
					</a>
				</div>
			</div>

			<div class="prod-teas__info prod-teas__info--limited">
				<div class="prod-teas__rate">
					<div class="prod-rate">
						<div class="prod-rate__stars">
							<span class="prod-rate__star active"></span>
							<span class="prod-rate__star active"></span>
							<span class="prod-rate__star active"></span>
							<span class="prod-rate__star active"></span>
							<span class="prod-rate__star"></span>
						</div>
						<div class="prod-rate__label">23 отзыва</div>
					</div>
				</div>
			</div>

			<div class="prod-teas__bottom">
				<div class="prod-teas__cashback">
					<div class="prod-cashback">
						<div class="prod-cashback__value">Кэшбэк 30%</div>
						<div class="prod-cashback__ctrl">
							<a href="#" class="link-info">Информация</a>
						</div>
					</div>
				</div>

				<div class="prod-teas__prices">
					<div class="prod-teas__price">
						<div class="prod-price">13 400 руб.</div>
					</div>
				</div>
			</div>
		</div>
	</div>