<div class="prod-teas">
		<div class="prod-teas__wrap">
			<div class="prod-teas__visual">
				<div class="prod-teas__cover prod-teas__cover--xs">
					<a href="#" class="prod-teas__cover-link">
						<img src="img/img_prod-sm_01.jpg" alt="" class="prod-teas__img">
					</a>
				</div>
			</div>

			<div class="prod-teas__main prod-teas__main--limited">
				<div class="prod-teas__title prod-teas__title--xs">
					<a href="#" class="prod-teas__title-link">
						Люстра Vibrant A6412SP-5CC
					</a>
				</div>
			</div>

			<div class="prod-teas__bottom">
				<div class="prod-teas__prices prod-teas__prices--xs">
					<div class="prod-teas__price">
						<div class="prod-price">13 400 руб.</div>
					</div>
				</div>
			</div>
		</div>
	</div>