<div class="prod-teas">
										<div class="prod-teas__mark">
											<div class="prod-mark prod-mark--stock">Акция</div>
										</div>
										<div class="prod-teas__wrap">
											<div class="prod-teas__visual">
												<div class="prod-teas__cover">
													<a href="#" class="prod-teas__cover-link">
														<img src="img/img_prod-sm_01.jpg" alt="" class="prod-teas__img">
													</a>
												</div>
	
												<div class="prod-teas__stock">
													<div class="prod-stock">
														Акция! Купи люстру и получи плафон в подарок! <a href="#" class="link-info">Информация</a>
													</div>
												</div>
											</div>
	
											<div class="prod-teas__main">
												<div class="prod-teas__title">
													<a href="#" class="prod-teas__title-link">
														Люстра Vibrant A6412SP-5CC
													</a>
												</div>
	
												<div class="prod-teas__gift">
													<a href="#" class="prod-gift">
														<div class="prod-gift__label">Подарок</div>
														<div class="prod-gift__cover">
															<img src="img/img_prod-gift-sm_01.jpg" alt="" class="prod-gift__img">
														</div>
													</a>
												</div>
											</div>
	
											<div class="prod-teas__info">
												<div class="prod-teas__rate">
													<div class="prod-rate">
														<div class="prod-rate__stars">
															<span class="prod-rate__star active"></span>
															<span class="prod-rate__star active"></span>
															<span class="prod-rate__star active"></span>
															<span class="prod-rate__star active"></span>
															<span class="prod-rate__star"></span>
														</div>
														<div class="prod-rate__label">23 отзыва</div>
													</div>
												</div>
											</div>
	
											<div class="prod-teas__bottom">
												<div class="prod-teas__cashback">
													<div class="prod-cashback">
														<div class="prod-cashback__value">Кэшбэк 30%</div>
														<div class="prod-cashback__ctrl">
															<a href="#" class="link-info">Информация</a>
														</div>
													</div>
												</div>
	
												<div class="prod-teas__prices">
													<div class="prod-teas__price">
														<div class="prod-price prod-price--old">13 400 руб.</div>
													</div>
													<div class="prod-teas__price">
														<div class="prod-price prod-price--new">11 500 руб.</div>
													</div>
												</div>
	
												<div class="prod-teas__btns">
													<div class="prod-teas__btn prod-teas__btn--main">
														<a href="#" class="btn btn--main">Купить</a>
													</div>
													<div class="prod-teas__btn prod-teas__btn--ctrl">
														<a href="#" class="btn btn--icon btn--favorites">В избранное</a>
													</div>
													<div class="prod-teas__btn prod-teas__btn--ctrl">
														<a href="#" class="btn btn--icon btn--compare">В сравнение</a>
													</div>
												</div>
											</div>
										</div>
									</div>