<div class="review">
											<div class="review__top">
												<div class="review__prod-name">Люстра Vibrant SCC-320</div>
												<div class="review__rate">
													<div class="prod-rate">
														<div class="prod-rate__stars">
															<span class="prod-rate__star active"></span>
															<span class="prod-rate__star active"></span>
															<span class="prod-rate__star active"></span>
															<span class="prod-rate__star active"></span>
															<span class="prod-rate__star"></span>
														</div>
													</div>
												</div>

												<div class="review__date">23 февраля 2018</div>
											</div>

											<div class="review__main">
												<div class="review__visual">
													<div class="review__cover">
														<img src="img/img_prod-review-sm_01.jpg" alt="" class="review__img">
													</div>
												</div>

												<div class="review__info">
													<div class="review__author">Антонов Антон</div>

													<div class="review__text">
														<p>Заказали данную люстру для спальни. Порадовала комплектация: все плафоны были аккуратно упакованы в пузырчатую пленку, имелись все необходимые провода и защелки для подключения люстры и даже были положены перчатки и такая штука, с помощью которой можно вкрутить плафоны, очень удобно и быстро</p>
														<p>
															<strong>Достоинства:</strong> В подарок шли лампы
														</p>
														<p>
															<strong>Недостатки:</strong> лампы немного не подходят люстре, но всё же приятно :)
														</p>
													</div>
												</div>
											</div>
										</div>