.btn {
	display: inline-block;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: .4s;
	cursor: pointer;
	border: 0 none;

	&:disabled,
	&.disabled {
		opacity: 0.6;
		cursor: not-allowed;
	}

	&--main {
		padding: 6px 12px;
		min-width: 140px;
		font-size: 16px;
		text-transform: uppercase;
		line-height: 1.25;
		background-color: $clr-red_light;
		box-shadow: inset 0 -2px 0 $clr-red;
		border-radius: 2px;
		color: $clr-white;

		&:hover {
			color: $clr-white;
			background-color: $clr-red;
			box-shadow: inset 0 -2px 0 darken($clr-red, 5%);
		}
	}

	&--green {
		padding: 6px 40px;
		min-width: 160px;
		font-size: 16px;
		line-height: 1.25;
		background-color: $clr-green;
		box-shadow: inset 0 -2px 0 $clr-green_dark;
		border-radius: 2px;
		color: $clr-white;

		&:hover {
			background-color: $clr-green_dark;
			box-shadow: inset 0 -2px 0 darken($clr-green_dark, 5%);
		}
	}

	&--blue {
		padding: 5px 5px;
		font-size: 14px;
		line-height: 18px;
		background-color: $clr-blue;
		box-shadow: inset 0 -2px 0 $clr-blue_dark;
		border-radius: 2px;
		color: $clr-white;

		&:hover {
			background-color: $clr-blue_dark;
			box-shadow: inset 0 -2px 0 darken($clr-blue_dark, 5%);
		}
	}

	&--light {
		border-radius: 2px;
		background-color: $clr-bg_light;
		box-shadow: inset 0 -2px 0 $clr-btn_light;
		color: $clr-dark;

		&:hover {
			background-color: $clr-bg_light_hover;
		}
	}

	&--lg {
		font-size: 16px;
		line-height: 20px;
		padding: 14px;
		text-transform: uppercase;
	}

	&--md {
		padding: 5px;
		font-size: 12px;
		line-height: 18px;
		text-transform: none;
	}

	&--sm {
		padding: 2px 4px 4px 4px;
		font-size: 10px;
		font-weight: 600;
		text-transform: uppercase;
	}

	&--write {
		box-shadow: inset 0 0 0 1px $clr-blue, inset 0 -1px 0 1px $clr-blue;
		color: $clr-text;
		width: 100%;
		text-transform: none;

		&:hover {
			box-shadow: inset 0 0 0 1px $clr-red_light, inset 0 -1px 0 1px $clr-red_light;
		}
	}

	&--icon {
		width: 32px;
		height: 32px;
		text-indent: -9999px;
		overflow: hidden;
		border-radius: 2px;
		background-color: $clr-bg_light;
		box-shadow: inset 0 -2px 0 $clr-btn_light;

		&:hover {
			background-color: $clr-bg_light_hover;

			&:before {
				opacity: 0;
			}

			&:after {
				opacity: 1;
			}
		}

		&:before,
		&:after {
			position: absolute;
			content: '';
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;	
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			transition: .4s;
		}

		&:after {
			opacity: 0;
		}
	}

	&--compare {
		&:before,
		&:after {
			width: 20px;
			height: 20px;
		}

		&:before {
			background-image: url('../img/icon_compare-dark.svg');
		}

		&:after {
			background-image: url('../img/icon_compare-blue.svg');
		}
	}

	&--share {
		&:before,
		&:after {
			width: 16px;
			height: 14px;
		}

		&:before {
			background-image: url('../img/icon_share-dark.svg');
		}

		&:after {
			background-image: url('../img/icon_share-blue.svg');
		}
	}

	&--favorites {
		&:before,
		&:after {
			width: 18px;
			height: 18px;
		}

		&:before {
			background-image: url('../img/icon_favorites-dark.svg');
		}

		&:after {
			background-image: url('../img/icon_favorites-red.svg');
		}
	}

	&--yes {
		&:before,
		&:after {
			width: 22px;
			height: 18px;
		}

		&:before {
			background-image: url('../img/icon_yes-dark.svg');
		}

		&:after {
			background-image: url('../img/icon_yes-green.svg');
		}
	}

	&--no {
		&:before,
		&:after {
			width: 22px;
			height: 18px;
		}

		&:before {
			background-image: url('../img/icon_no-dark.svg');
		}

		&:after {
			background-image: url('../img/icon_no-red.svg');
		}
	}
}

.link {
	text-decoration: none;
	transition: .4s;

	&--dashed {
		border-bottom: 1px dashed $clr-link;

		&:hover,
		&.active {
			color: $clr-red_light;
			border-bottom-color: $clr-red_light;
		}
	}

	&--map {
		display: inline-block;
		position: relative;
		margin-left: 20px;
		font-size: 13px;

		&:before {
			position: absolute;
			content: '';
			width: 12px;
			height: 18px;
			top: 50%;
			transform: translateY(-50%);
			left: -20px;
			background: url('../img/icon_location-blue.svg') no-repeat center;
			background-size: contain;
		}
	}

	&--docs {
		display: inline-block;
		position: relative;
		margin-left: 30px;

		&:before {
			position: absolute;
			content: '';
			width: 18px;
			height: 22px;
			background: url('../img/icon_docs-dark.svg') no-repeat center;
			background-size: contain;
			left: -30px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.link-favorite {
	display: block;
	width: 24px;
	height: 24px;
	overflow: hidden;
	position: relative;
	text-indent: -9999px;
	background: url('../img/icon_heart-active.svg') no-repeat center;
	background-size: contain;
	opacity: 0.3;
	filter: grayscale(100%);
	transition: .4s;

	&:hover {
		opacity: 0.5;
		filter: grayscale(0%);
	}

	&.active {
		opacity: 1;
		filter: grayscale(0%);
	}
}

.link-stock {
	display: inline-block;
	padding-left: 26px;
	position: relative;

	&:before {
		position: absolute;
		content: '';
		width: 16px;
		height: 16px;
		background: url('../img/icon_pct.svg') no-repeat center;
		background-size: contain;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
	}
}

.link-info {
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	text-indent: -9999px;
	width: 12px;
	height: 12px;
	background: url('../img/icon_info-link.svg') no-repeat center;
	background-size: contain;
	transition: .4s;

	&--lg {
		width: 18px;
		height: 18px;
	}

	&:hover {
		filter: brightness(0.85);
	}
}

.link-delete {
	display: inline-block;
	position: relative;
	padding-left: 20px;
	text-decoration: none;
	color: rgba($clr-text, .65);
	transition: .4s;

	&:hover {
		color: $clr-red_light;

		&:before {
			background-color: $clr-red_light;
		}
	}

	&:before {
		position: absolute;
		content: '×';
		width: 14px;
		height: 14px;
		border-radius: 50%;
		background-color: #111111;
		left: 0;
		top: 50%;
		margin-top: -7px;
		color: $clr-white;
		line-height: 14px;
		text-align: center;
		font-weight: 400;
		transition: .4s;
	}
}

.link-edit {
	display: block;
	width: 14px;
	height: 14px;
	background: url('../img/icon_edit-blue.svg') no-repeat center;
	background-size: contain;
	text-indent: -9999px;
	overflow: hidden;
	margin-left: 4px;
	margin-top: -2px;
}

.link-toggle {
	position: relative;
	display: block;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	overflow: hidden;
	

	&:before,
	&:after {
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		transition: .4s;
	}

	&:before {
		background-image: url('../img/icon_arrow-bottom-blue.svg');
	}

	&:after {
		background-image: url('../img/icon_arrow-bottom-red.svg');
		opacity: 0;
	}

	&.active {
		&:before {
			opacity: 0;
		}

		&:after {
			opacity: 1;
		}
	}
}