.form-group {
	margin-bottom: 15px;
}

.form-label {
	margin-bottom: 8px;
}

.form-help {
	font-size: 12px;
	margin-top: .5em;
}

.form-line {
	@include flex;

	&__label {
		font-size: 13px;
		flex-basis: 170px;
		max-width: 170px;
		padding-right: 5px;
		margin-top: 4px;
	}

	&__main {
		flex-grow: 1;
	}
}

.form-file {
	border: 1px dashed rgba($clr-text, .17);
	padding: 40px 16px;

	&__description {
		text-align: center;
		font-size: 13px;
		position: relative;
		padding-top: 64px;

		&:before {
			position: absolute;
			content: '';
			width: 50px;
			height: 50px;
			background: url('../img/icon_file-upload-dark.svg') no-repeat center;
			background-size: contain;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			opacity: 0.65;
		}
	}
}

.form-control {
	height: 28px;
	border: 1px solid $clr-border_light;
	box-shadow: inset 0 1px 3px rgba($clr-black, .17);
	font-size: 13px;
	line-height: 1.5;
	@include placeholder(rgba($clr-text, .64));
	padding: 6px 8px;
	width: 100%;
	transition: .4s;
	border-radius: 0;
	background-color: $clr-white;

	&:focus {
		outline: none;
		border-color: $clr-blue;
		box-shadow: inset 0 1px 3px rgba($clr-black, .22), 0 0 4px $clr-blue_light;
	}
}

select.form-control {
	appearance: none;
	background-image: url('../img/icon_arrow-select.svg');
	background-repeat: no-repeat;
	background-position: top 50% right 10px;
	background-size: 10px 5px;
	padding-right: 24px;
}

textarea.form-control {
	height: auto;
	resize: none;
	padding-top: 8px;
}

.form-submit {
	margin-top: 20px;
}

.vote {
  &__one {
    display: inline-block;
    width: 24px;
    height: 24px;
		position: relative;
		margin-right: 10px;

    &.active label:after,
    input:checked + label:after {
      opacity: 1;
		}

		&.active label:before,
    input:checked + label:before {
      opacity: 0;
		}
  }

  input {
    opacity: 0;
    z-index: 1;
    height: 100%;
  }

  label {
    cursor: pointer;

    &:before,
    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 24px;
      height: 24px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
      top: 0;
      left: 0;
      transition: .4s;
      
    }

    &:before {
      background-image: url('../img/icon_star-unactive.svg');
    }

    &:after {
			opacity: 0;
      background-image: url('../img/icon_star-active.svg');
    }
  }
}