* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: $fnt-main;
	font-size: 14px;
	font-weight: 500;
	line-height: 1.35;
	color: $clr-text;
	min-width: $container-lg + 30px;

	button,
	input,
	select,
	textarea {
		font-family: $fnt-main;
		font-weight: 500;
	}

	p {
		margin: 0;
		
		&:not(:last-child) {
			margin: 0 0 0.65em;
		}
	}
}

.wrapper {
	min-height: 100vh;
	@include flex;
	flex-direction: column;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
	padding-left: 15px;
	width: $container-lg;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
	color: $clr-link;
	transition: color .4s;

	&:hover {
		color: $clr-red;
	}
}

//header
.header {
	background-color: $clr-dark;
	color: $clr-white;

	a {
		text-decoration: none;
		color: $clr-white;
	}

	&__wrap {
		@include flex;

		&--center {
			align-items: center;
		}
	}

	&__first {
		flex: 0 1 300px;
		max-width: 300px;
		margin-right: 10px;
	}

	&__second,
	&__search {
		flex: 0 1 590px;
		max-width: 590px;
	}

	&__third {
		margin-left: auto;
	}

	&__top {
		padding: 12px 0;
		box-shadow: inset 0 -1px 0 #050505;
	}

	&__main {
		padding: 15px 0;
	}

	&__pa {
		margin-top: -10px;
	}

	&__cat {
		flex: 0 1 192px;
		max-width: 192px;
	}

	&__stock {
		flex: 0 1 118px;
		max-width: 118px;
		text-align: center;
	}

	&__stock,
	&__search {
		margin-top: -5px;
	}

	&__ctrl {
		flex-grow: 1;
	}
}

.your-city {
	@include flex($j-fs, $a-center);
	font-size: 12px;

	&__label {
		margin-right: 5px;
	}

	&__btn {
		background-color: transparent;
		border-radius: 0;
		border: 0 none;
		position: relative;
		font-family: $fnt-main;
		color: $clr-white;
		display: block;
		padding: 0 12px 0 0;
		margin-top: 2px;
		outline: none;

		&:after {
			position: absolute;
			content: '';
			width: 8px;
			height: 5px;
			background: url('../img/arrow_bottom-white.svg') no-repeat center;
			background-size: contain;
			right: 0;
			top: 50%;
			transform: translateY(-50%)
		}

		span {
			display: inline-block;
			padding-bottom: 2px;
			border-bottom: 1px dashed $clr-white;
		}
	}
}

.h-contacts {
	@include flex;

	&__phone {
		a {
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__mode {
		font-size: 10px;
		opacity: 0.6;
		margin-left: 5px;
	}
}

.help-nav {
	font-size: 12px;

	&__list {
		margin: 0 -8px;
		padding: 0;
		list-style: none;
		@include flex;
	}

	&__item {
		padding-left: 8px;
		padding-right: 8px;
	}

	&__link {
		position: relative;
		display: inline-block;

		&--where {
			padding-right: 20px;

			&:after {
				position: absolute;
				content: '';
				width: 12px;
				height: 18px;
				background: url('../img/icon_location-white.svg') no-repeat center;
				background-size: contain;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

.h-nav {
	&__list {
		margin: 0 -12px;
		padding: 0;
		list-style: none;
		@include flex;
	}

	&__item {
		padding-left: 12px;
		padding-right: 12px;
	}

	&__link {
		&:hover {
			text-decoration: underline;
		}
	}
}

.header-pa {
	text-align: right;
	
	&__ctrl {
		margin-bottom: 5px;

		.link--dashed {
			border-bottom-color: $clr-white;

			&:hover {
				opacity: 0.7;
				color: $clr-white;
			}
		}
	}

	&__info {
		font-size: 12px;
	}
}

.cat-nav {
	&__btn {
		display: inline-block;
		position: relative;
		padding: 0;
		border: 0 none;
		border-radius: 3px 3px 0 0;
		background-color: $clr-red;
		color: $clr-white;
		font-weight: 600;
		text-transform: uppercase;
		padding: 16px 8px 16px 34px;
		box-shadow: inset 0 -3px 0 $clr-red_dark;
		cursor: pointer;
		transition: .4s;

		&:hover {
			background-color: $clr-red_contrast;
		}

		&:before {
			position: absolute;
			content: '';
			width: 16px;
			height: 14px;
			background: url('../img/icon_cat-btn.svg') no-repeat center;
			background-size: contain;
			top: 50%;
			left: 12px;
			transform: translateY(-50%);
		}
	}
}

.ctrl-nav {
	&__list {
		padding: 0;
		margin: 0 -5px;
		list-style: none;
		@include flex($j-end, $a-end);
	}

	&__item {
		margin-top: -25px;
		padding-left: 5px;
		padding-right: 5px;
	}

	&__link {
		display: inline-block;
		padding-top: 38px;
		position: relative;

		&:hover {
			text-decoration: underline;
		}

		&:before {
			position: absolute;
			content: '';
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			height: 32px;
			transition: .2s;
		}

		&--compare {
			&:before {
				width: 32px;
				background-image: url('../img/icon_compare-white.svg');
			}
		}

		&--favorites {
			&:before {
				width: 24px;
				background-image: url('../img/icon_favorites-white.svg');
			}
		}

		&--cart {
			&:before {
				width: 27px;
				background-image: url('../img/icon_cart-white.svg');
			}
		}
	}

	&__qty {
		position: absolute;
		top: -4px;
		right: 16px;
		width: 16px;
		font-size: 12px;
		font-weight: 600;
		line-height: 16px;
		color: $clr-white;
		background-color: $clr-red_light;
		text-align: center;
		border-radius: 50%;
	}
}

.search-box {
	&__main {
		@include flex;
	}

	&__item {
		flex-grow: 1;
		position: relative;
	}

	&__control {
		width: 100%;
		height: 32px;
		padding: 6px 12px;
		font-size: 13px;
		font-family: $fnt-main;
		border-width: 1px 0 1px 1px;
		border-style: solid;
		border-color: #D5D5D5;		border-radius: 2px 0 0 2px;
		box-shadow: inset 0 1px 3px rgba($clr-black, .2);
		outline: none;
	}

	&__result {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		left: 0;

		&.open {
			display: block;
		}
	}

	&__btn {
		background-color: lighten($clr-red_light, 8%);
		color: $clr-white;
		font-family: $fnt-main;
		padding: 8px 25px;
		border: 0 none;
		border-radius: 0 2px 2px 0;
		box-shadow: inset 0 -3px 0 $clr-red;
		cursor: pointer;
		transition: .4s;

		&:hover {
			background-color: $clr-red_light;
		}
	}
}

.search-result {
	color: $clr-text;
	background-color: $clr-white;
	border: 1px solid rgba($clr-text, .17);
	max-height: 530px;
	overflow-y: auto;

	&__wrap {
		padding: 16px 0 16px 16px;
	}

	&__block {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__title {
		font-size: 13px;
		text-transform: uppercase;
		opacity: 0.65;
		margin-bottom: 12px;
	}

	&__item {
		border-bottom: 1px solid rgba($clr-text, .17);
	}

	a {
		color: $clr-text;
	}
}

.result-item {
	display: block;
	transition: .4s;
	padding: 2px;
	@include flex($j-fs, $a-center);

	&:hover {
		background-color: rgba($clr-text, .08);
	}

	&__cover {
		flex-shrink: 0;
		flex-basis: 48px;
		max-width: 48px;
	}

	&__info {
		flex: 1 1 100%;
		max-width: 100%;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 8px;
	}

	&__name {
		font-weight: 600;
		font-size: 13px;
		line-height: 1.2;
		margin-bottom: 4px;
	}

	&__label {
		opacity: 0.65;
		font-size: 12px;
		line-height: 1.25;
	}
}
//-/header

//main
.section {
	padding: 40px 0;
}

.main {
	&__insert {
		padding-bottom: 40px;

		&--bordered {
			border-bottom: 1px solid rgba($clr-dark, .2);
			margin-bottom: 16px;
		}
	}

	&__top {
		margin-bottom: 20px;
	}

	&__breadcrumbs {
		margin-bottom: 24px;
	}
	
	&__head {
		padding-bottom: 6px;
		margin-bottom: 24px;
		border-bottom: 1px solid rgba($clr-dark, .2);
	}

	&__grid {
		@include flex;
		margin-right: -15px;
		margin-left: -15px;
	}

	&__side,
	&__content {
		padding-left: 15px;
		padding-right: 15px;
	}

	&__side {
		flex: 1 0 205px;
		max-width: 205px;

		&--wide {
			flex: 1 0 305px;
			max-width: 305px;
		}
	}

	&__content {
		flex: 1 1 auto;
		max-width: 100%;
	}

	&__half {
		flex: 1 1 50%;
		max-width: 50%;
		padding-left: 15px;
		padding-right: 15px;
	}

	&__bottom {
		margin-top: 25px;
	}

	&__wrap {
		&--limited {
			max-width: 895px;
		}
	}

	&__block {
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}
}

.top-front {
	overflow: hidden;

	&__row {
		@include flex;
		margin-left: -16px;
		margin-right: -16px;
	}

	&__col {
		padding-left: 16px;
		padding-right: 16px;
	}

	&__link {
		display: block;
		transition: .4s;
		opacity: 0.9;

		&:hover {
			opacity: 1;
		}
	}
}

.breadcrumbs {
	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
		@include flex($j-fs, $a-center);
		font-size: 13px;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 3px;

			&:after {
				opacity: 0.65;
				content: '/';
			}
		}
	}

	&__link {
		text-decoration: none;
		color: $clr-text;
	}

	&__current {
		opacity: 0.65;
	}
}

.c-insert {
	background-color: $bg-light;
	padding: 24px;

	&__wrap {
		@include flex($j-fs, $a-center);
	}

	&__info {
		flex-grow: 1;
	}

	&__logo {
		width: 160px;
		height: 160px;
		@include flex($j-center, $a-center);
		flex-direction: column;
	}

	&__head {
		margin-bottom: 15px;
	}

	&__title {
		font-size: 20px;
		font-weight: 600;
		line-height: 1.2;
	}
}

.shop-cnt {
	&__main {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 16px;

		sup {
			font-size: 14px;
			font-weight: 500;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	&__label {
		font-weight: 600;
	}
}

.shop-photos {
	&__link {
		display: block;
		text-decoration: none;
		position: relative;

		&:hover {
			span {
				text-decoration: underline;
			}
		}
		
		&:before {
			position: absolute;
			content: '';
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: $clr-black;
			opacity: 0.32;
		}
	}

	&__img {
		display: block;
		max-width: 264px;
	}

	&__label {
		position: absolute;
		color: $clr-white;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
		z-index: 1;
	}
}

.block {
	border-top: 1px solid rgba($clr-dark, .25);
	padding-top: 25px;
	padding-bottom: 15px;

	&--front {
		border-top: 0 none;
		padding-top: 15px;
		padding-bottom: 10px;
	}

	&__title {
		font-family: $fnt-serif;
		font-weight: bold;
		font-size: 24px;
		line-height: 1;
		margin-bottom: 20px;

		&--lg {
			font-size: 28px;
		}
	}

	&__subtitle {
		font-size: 20px;
		margin-bottom: 0.5em;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__text,
	&__bottom {
		font-size: 13px;
		line-height: 1.5;

		p {
			&:not(:last-child) {
				margin: 0 0 1.5em;
			}
		}
	}

	&__bottom {
		margin-top: 15px;
	}

	&__ctrl {
		margin-top: 20px;

		&--right {
			text-align: right;
		}
	}

	&__row {
		@include flex;
	}

	&__col {
		flex: 1 1 auto;
		border-width: 1px 0 1px 1px;
		border-style: solid;
		border-color: rgba($clr-dark, .15);

		&:last-child {
			border-right-width: 1px;
		}


		&--third {
			flex-basis: 33.33333%;
			max-width: 33.33333%;
		}

		&--fourth {
			flex-basis: 25%;
			max-width: 25%;
		}

		&--fifth {
			flex-basis: 20%;
			max-width: 20%;
		}
	}
}

.v-nav {
	list-style: none;
	padding: 0;

	&__item {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
}

.review {
	&__top {
		@include flex($j-fs, $a-center);
		margin-bottom: 15px;
	}

	&__prod-name {
		font-weight: 600;
		margin-right: 10px;
	}

	&__date {
		margin-left: auto;
		font-size: 12px;
		font-weight: 500;
		opacity: 0.65;
	}

	&__main {
		@include flex;
	}

	&__visual {
		flex-shrink: 0;
		margin-right: 12px;
	}

	&__cover {
		width: 104px;
	}

	&__author {
		font-weight: 600;
		margin-bottom: 8px;
	}

	&__text {
		font-size: 13px;
		line-height: 1.5;

		strong {
			font-weight: 600;
		}
	}
}

.page-title {
	margin: 0;
	font-family: $fnt-serif;
	font-weight: bold;
	font-size: 28px;

	sup {
		color: rgba($clr-dark, .65);
		font-family: $fnt-main;
		font-weight: 500;
		font-size: 12px;
		top: -8px;
	}
}

.subtitle {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.2;
}

.side {
	&__title {
		text-transform: uppercase;
		padding-bottom: 10px;
		font-weight: 600;
	}

	&__bottom {
		margin-top: 12px;

		.btn--md {
			padding: 11px 16px;
			font-weight: 600;
		}
	}
}

.side-nav {
	&__list,
	&__sublist {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__sublist {
		padding-left: 10px;
		margin-top: 5px;
	}

	&__item {
		padding-top: 12px;
		padding-bottom: 12px;
		border-top: 1px solid rgba($clr-dark, .15);
		
		a {
			font-size: 12px;
		}

		> a.active {
			font-size: 14px;
		}
	}

	&__subitem {
		padding-top: 6px;
		padding-bottom: 6px;
	}

	&__link {
		display: inline-block;
		color: $clr-dark;
		text-decoration: none;
		transition: .4s;

		&:hover {
			color: $clr-red_light;
		}

		sup {
			font-weight: 500;
			font-size: 10px;
			color: rgba($clr-dark, .5);
		}

		&.active,
		&.current {
			font-weight: bold;
		}
	}
}

.article {
	&__title {
		font-weight: 600;
		font-size: 20px;
		margin: 0 0 20px;
	}

	p,
	ul {
		line-height: 1.4;
	}

	li {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	img {
		display: block;
		margin: 20px 0;
	}
}

.msg {
	padding: 28px;
	background-color: rgba($clr-text, .08);
	@include flex($j-fs, $a-center);

	&__icon {
		flex-shrink: 0;
		margin-right: 20px;
	}
}

.help-item {
	&__bottom {
		margin-top: 20px;
		border-top: 1px solid lighten($clr-black, 85%);
		padding-top: 20px;
	}

	&__rev {
		margin-top: 20px;
		max-width: 480px;
	}
}

.write-rev {
	padding: 24px 16px 20px 16px;
	border: 1px solid lighten($clr-black, 85%);

	&__title {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 24px;
	}

	&__group {
		@include flex;
	}

	&__label {
		flex-shrink: 0;
		flex-basis: 172px;
		max-width: 172px;
		padding-right: 8px;
	}

	&__item {
		flex-grow: 1;
	}

	&__submit {
		margin-left: 172px;

		.btn--md {
			font-size: 14px;
			width: 100%;
		}
	}
}
//-/main

//catalog
.catalog {
	&__top {
		padding-bottom: 12px;
		border-bottom: 1px solid rgba($clr-dark, .15);
		margin-bottom: 22px;
	}

	&__pop {
		font-size: 12px;
		font-weight: 500;
	}

	&__filters {
		font-size: 12px;
		margin: 10px 0;

		&--pa {
			margin: 20px 0;
		}
	}

	&__row {
		@include flex($j-fs, $a-st);
		flex-wrap: wrap;
		padding-left: 1px;
		padding-top: 1px;
		margin-right: -4px;
	}

	&__col {
		position: relative;
		flex: 1 1 25%;
		max-width: 25%;
		border-width: 1px;
		border-style: solid;
		border-color: lighten($clr-black, 85%);
		margin-top: -1px;
		margin-left: -1px;
	}

	&__bottom {
		margin-top: 20px;
	}

	&__extra {
		@include flex($j-sb, $a-center);
	}

	&__more {
		margin-top: 20px;

		.btn {
			width: 100%;
		}
	}
}

.cat-filters {
	
	&__top {
		@include flex;
	}

	&__main {
		flex-grow: 1;
	}

	&__list {
		@include flex($j-fs, $a-center);
		flex-wrap: wrap;
		margin: -4px -6px;
	}

	&__item {
		padding: 4px 6px;
	}

	&__extra {
		flex: 0 0 200px;
		max-width: 200px;
		text-align: right;
		margin-top: 6px;
	}

	&__bottom {
		margin-top: 8px;
	}
}

.filt-item {
	position: relative;

	&.active {
		.filt-btn {
			background-color: $clr-text;
			color: $clr-white;

			&:after {
				display: none;
			}
		}

		.filt-reset {
			display: block;
		}
	}

	&.open {
		.filt-val {
			display: block;
		}
	}

	&__btn {
		display: inline-block;
		position: relative;
		padding: 6px 24px 6px 12px;
		border: 0 none;
		box-shadow: inset 0 0 0 1px $clr-dark;
		border-radius: 3px;
		color: $clr-dark;
		font-size: 12px;
		line-height: 1;
		font-weight: 500;
		background-color: transparent;
		outline: none;
		cursor: pointer;
		transition: .4s;

		&:hover {
			background-color: $clr-bg_light;
		}

		&:after {
			position: absolute;
			content: '';
			width: 8px;
			height: 5px;
			top: 50%;
			transform: translateY(-50%);
			right: 8px;
			background: url('../img/icon_arrow-filter.svg') no-repeat center;
			background-size: contain;
		}
	}
}

.filt-clear {
	display: inline-block;
	position: relative;
	padding: 6px 24px 6px 12px;
	border: 0 none;
	border-radius: 3px;
	background-color: $clr-text;
	color: $clr-white;
	font-size: 12px;
	line-height: 1;
	font-weight: 500;
	outline: none;
	cursor: pointer;
	transition: .4s;

	&:before,
	&:after {
		position: absolute;
		content: '';
		width: 10px;
		height: 2px;
		background-color: $clr-white;
		top: 50%;
		margin-top: -1px;
		right: 8px;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(135deg);
	}
}

.filt-reset {
	display: none;
	position: absolute;
	top: 50%;
	right: 6px;
	transform: translateY(-50%);
	width: 12px;
	height: 12px;
	overflow: hidden;
	background-color: transparent;
	border: 0 none;
	padding: 0;
	border-radius: 0;
	cursor: pointer;
	outline: none;

	&:before,
	&:after {
		position: absolute;
		content: '';
		width: 10px;
		height: 2px;
		background-color: $clr-white;
		top: 50%;
		margin-top: -1px;
		left: 50%;
		margin-left: -5px;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(135deg);
	}
}

.filt-val {
	position: absolute;
	min-height: 24px;
	top: 100%;
	left: 0;
	min-width: 280px;
	max-width: 560px;
	background-color: $clr-white;
	border: 1px solid $clr-btn_light;
	box-shadow: 0 4px 8px rgba($clr-black, .24);
	z-index: 2;
	margin-top: 5px;
	font-size: 13px;
	display: none;

	&__top {
		padding: 16px 16px 12px;
		border-bottom: 1px solid rgba($clr-text, .17);
	}

	&__extra {
		margin-top: 12px;
	}

	&__body {
		border-bottom: 1px solid rgba($clr-text, .17);
	}

	&__main {
		padding: 10px 16px;
		max-height: 210px;
		overflow-y: auto;
	}

	&__grid {
		@include flex;
		margin-left: -16px;
		margin-right: -16px;
	}

	&__col {
		flex: 1 0 50%;
		max-width: 50%;
		padding-left: 16px;
		padding-right: 16px;
	}

	&__title {
		font-weight: 600;
		margin: .2em 0 1em;
	}

	&__list {
		min-width: 230px;
	}

	&__item {
		padding: 8px 0;
		font-size: 12px;
	}

	&__bottom {
		padding: 12px 16px;
		text-align: right;

		.btn {
			min-width: 120px;
		}
	}
}

.color {
	&__val,
	&__label {
		display: inline-block;
		vertical-align: middle;
	}

	&__val {
		width: 12px;
		height: 12px;
		border-radius: 50%;
	}
}

.price-range {
	@include flex;
	margin-left: -16px;
	margin-right: -16px;

	&__item {
		padding-left: 16px;
		padding-right: 16px;
		flex: 1 0 50%;
		max-width: 50%;
		@include flex($j-fs, $a-center);

		&:first-child {
			position: relative;

			&:after {
				position: absolute;
				content: '—';
				right: -6px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	&__label {
		margin-right: 5px;
	}
}

.cat-sort {
	@include flex($j-fs, $a-center);

	&__label {
		margin-right: 8px;
	}

	&__btn {
		display: inline-block;
		position: relative;
		min-width: 220px;
		border: 1px solid $clr-border_light;
		border-radius: 2px;
		box-shadow: inset 0 1px 3px rgba($clr-black, .15);
		background-color: transparent;
		font-size: 13px;
		font-weight: 500;
		text-align: left;
		padding: 6px 24px 6px 12px;
		cursor: pointer;
		outline: none;
		transition: .4s;

		&:hover {
			background-color: $clr-bg_light;
		}

		&:after {
			position: absolute;
			content: '';
			width: 8px;
			height: 5px;
			top: 50%;
			transform: translateY(-50%);
			right: 8px;
			opacity: 0.65;
			background: url('../img/icon_arrow-filter.svg') no-repeat center;
			background-size: contain;
		}
	}

	&__current {
		opacity: 0.65;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	&__link {
		display: block;
		padding: 4px 4px 4px 24px;
		color: $clr-text;
		text-decoration: none;

		&.current {
			position: relative;

			&:before {
				position: absolute;
				content: '';
				width: 16px;
				height: 16px;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background: url('../img/icon_checked-blue.svg') no-repeat center;
			}
		}
	}
}

.my-select {
	position: relative;

	&.open {
		.my-select__list {
			display: block;
		}
	}

	&__list {
		position: absolute;
		top: 100%;
		right: 0;
		width: 100%;
		margin-top: 5px;
		background-color: $clr-white;
		border: 1px solid $clr-btn_light;
		box-shadow: 0 4px 8px rgba($clr-black, .24);
		z-index: 2;
		margin-top: 5px;
		font-size: 13px;
		display: none;
		padding: 16px;
	}
}

.prod-teas {
	position: relative;

	&__mark {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	&__wrap {
		padding: 14px;
	}

	&__visual {
		position: relative;
		margin-bottom: 15px;
	}

	&__badges {
		position: absolute;
		top: 0;
		left: 0;
	}

	&__stock {
		position: absolute;
		bottom: -8px;
		left: 0;
		right: 0;
	}

	&__cover {
		min-width: 208px;
		min-height: 208px;
		max-width: 218px;
		max-height: 218px;
		margin: 0 auto;
		@include flex($j-center, $a-center);

		&--xs {
			min-width: 156px;
			min-height: 156px;
			max-width: 166px;
			max-height: 166px;
		}
	}

	&__main {
		position: relative;
		padding-right: 52px;

		&--limited {
			padding-right: 0;
		}
	}

	&__title {
		font-weight: bold;
		font-size: 16px;
		line-height: 1.25;
		margin-bottom: 5px;
		height: 2.5em;
		overflow: hidden;

		&--xs {
			font-size: 14px;
		}

		&-link {
			display: inline-block;
			line-height: inherit;
			color: $clr-dark;
			text-decoration: none;
		}
	}

	&__gift {
		position: absolute;
		top: 2px;
		right: 0;
	}

	&__info {
		min-height: 72px;
		width: 100%;
		@include flex($j-fs, $a-st);
		flex-direction: column;
		border-bottom: 1px solid rgba($clr-dark, .1);
		padding-bottom: 8px;
		margin-bottom: 8px;

		&--limited {
			min-height: auto;
		}
	}

	&__rate {
		margin-bottom: auto;
	}

	&__prices {
		margin: 8px 0;
		@include flex($j-fs, $a-center);

		&--xs {
			.prod-price {
				font-size: 14px;
			}
		}
	}

	&__price {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	&__btns {
		@include flex;
		margin-left: -2px;
		margin-right: -2px;
	}

	&__btn {
		padding-left: 2px;
		padding-right: 2px;

		&--main {
			flex-grow: 1;

			.btn {
				width: 100%;
			}
		}
	}
}

.prod-gift {
	display: block;
	text-decoration: none;
	width: 52px;
	border: 1px solid $clr-red_light;

	&__label {
		font-weight: 800;
		font-size: 8px;
		line-height: 1.25;
		padding-bottom: 1px;
		text-transform: uppercase;
		text-align: center;
		color: $clr-white;
		background-color: $clr-red_light;
	}
}

.prod-stock {
	background-color: rgba(#E8E8E8, .75);
	padding: 3px 4px;
	font-size: 10px;
	font-weight: 600;
	line-height: 13px;
	color: $clr-red_light;
}

.prod-mark {
	font-size: 12px;
	font-weight: 600;
	line-height: 15px;
	padding: 5px 8px;
	border-bottom-right-radius: 2px;

	&--stock {
		background-color: $clr-red_light;
		color: $clr-white;
	}
}

.availability {
	font-size: 11px;
	line-height: 14px;

	&:not(:last-child) {
		margin-bottom: 4px;
	}

	&--ends {
		color: $clr-red_light;
	}

	&--ended {
		opacity: 0.5;
	}
}

.prod-price {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.25;

	&--old {
		color: $clr-gray;
		text-decoration: line-through;
	}

	&--new {
		color: $clr-red_light;
	}
}

.prod-cashback {
	@include flex($j-fs, $a-center);

	&__value {
		background-color: $clr-red_light;
		color: $clr-white;
		font-size: 10px;
		padding: 2px 4px;
		border-radius: 2px;
		margin-right: 5px;
	}

	&__sum {
		margin-left: 4px;
		font-size: 14px;
	}
}

.prod-rate {
	@include flex($j-fs, $a-center);

	&__stars {
		@include flex($j-fs, $a-center);
	}

	&__star {
		width: 13px;
		height: 13px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		background-image: url('../img/icon_star-unactive.svg');
		margin-right: 5px;

		&.active {
			background-image: url('../img/icon_star-active.svg');
		}
	}

	&__label {
		font-weight: 600;
		font-size: 10px;
		margin-top: 2px;
	}

	&__link {
		margin-left: 4px;
		font-size: 13px;
		font-weight: 500;
	}
}

.pager {
	margin: 0;
	padding: 0;
	list-style: none;
	@include flex;
	border: 1px solid rgba($clr-dark, .15);
	border-radius: 2px;

	&__item {
		&:not(:last-child) {
			border-right: 1px solid  rgba($clr-dark, .15);
		}
	}

	&__link {
		text-align: center;
		text-decoration: none;
		color: $clr-dark;
		display: inline-block;
		min-width: 32px;
		line-height: 32px;
		padding: 0 2px;
		transition: .4s;

		&:hover {
			background-color: $clr-bg_light;
		}

		&.active {
			background-color: $clr-dark;
			color: $clr-white;
		}

		&--extra {
			padding: 0 10px;
		}
	}
}

.extra-box {
	background-color: #f7f7f7;
	padding: 30px 0;

	&__wrap {
		position: relative;
	}

	&__close {
		position: absolute;
		display: block;
		padding: 0;
		border: 0 none;
		outline: none;
		width: 28px;
		height: 28px;
		background-color: transparent;
		border-radius: 50%;
		text-indent: -9999px;
		overflow: hidden;
		top: 0;
		right: 0;
		cursor: pointer;
		transition: .4s;

		&:before,
		&:after {
			position: absolute;
			content: '';
			width: 20px;
			height: 2px;
			background-color: $clr-border_light;
			top: 50%;
			margin-top: -1px;
			left: 50%;
			margin-left: -5px;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(135deg);
		}
	}

	&__steps {
		@include flex;
		margin-left: -10px;
		margin-right: -10px;
	}

	&__step {
		flex: 1 0 33.33333%;
		max-width: 33.33333%;
		padding-left: 10px;
		padding-right: 10px;
	}

	&__title {
		font-size: 34px;
		text-align: center;
		margin-bottom: 30px;
	}

	&__ctrl {
		text-align: center;
		margin-top: 30px;

		.btn--light {
			background-color: $clr-white;
			min-width: 200px;
		}
	}
}

.extra-step {
	@include flex;
	height: 110px;
	border: 2px solid $clr-border_light;
	border-radius: 6px;

	&__visual {
		position: relative;
		flex: 1 0 100px;
		max-width: 100px;
		background-color: $clr-red;
		color: $clr-white;
		@include flex($j-center, $a-center);
		flex-direction: column;
		border-radius: 6px;
		box-shadow: 0 0 0 2px $clr-red;

		&:after {
			position: absolute;
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 12px 0 12px 12px;
			border-color: transparent transparent transparent $clr-red;
			bottom: 15px;
			right: -12px;
		}

		&--first {
			background-color: $clr-dark;
			box-shadow: 0 0 0 2px $clr-dark;

			&:after {
				border-color: transparent transparent transparent $clr-dark;
			}
		}
	}

	&__num {
		font-size: 68px;
		line-height: 1;
	}

	&__main {
		flex-grow: 1;
		padding: 15px;
		text-align: center;
		@include flex($j-center, $a-st);
		flex-direction: column;
	}

	&__description {
		font-size: 14px;
	}
}
//-/catalog

//product
.product {
	&__top {
		margin-top: 6px;
		margin-bottom: 6px;
	}

	&__card {
		margin-bottom: 16px;
	}

	&__tabs {
		margin-bottom: 28px;
	}
}

.prod-top {
	@include flex($j-fs, $a-center);

	&__sku {
		margin-right: 12px;
	}
}

.prod-sku {
	font-size: 12px;
	line-height: 20px;
	padding: 6px 8px;
	border-radius: 16px;
	background-color: rgba($clr-red_light, .3);
}

.prod-card {
	&__grid {
		@include flex;
		margin-left: -14px;
		margin-right: -14px;
	}

	&__col {
		flex: 1 0 50%;
		max-width: 50%;
		padding-left: 14px;
		padding-right: 14px;
	}

	&__tasks {
		max-width: 484px;
		margin-left: auto;
		margin-top: 20px;
	}
}

.prod-tasks {
	&__main {
		@include flex($j-center, $a-center);
		margin: 0 -8px;
	}

	&__item {
		flex: 1 0 220px;
		max-width: 220px;
		padding-left: 8px;
		padding-right: 8px;
	}

	&__description {
		margin-top: 16px;
		font-size: 10px;
		text-align: center;
		line-height: 1.4;
		color: rgba($clr-dark, .34);
	}
}

.prod-task {
	border: 1px dashed $clr-red_light;
	box-shadow: 0 1px 2px rgba($clr-black, .12);
	padding: 16px 36px 16px 16px;
	position: relative;
	
	&__description {
		text-align: center;
		font-size: 13px;
		line-height: 1.25;

		span {
			font-weight: 600;
			color: $clr-red_light;
		}
	}

	&__ctrl {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 10px;
	}
}

.prod-cover {
	@include flex($j-sb, $a-st);
	position: relative;

	&__thumbs {
		flex: 1 0 62px;
		max-width: 62px;
	}

	&__gallery {
		flex: 1 0 484px;
		max-width: 484px;
	}

	&__badges {
		margin-bottom: 8px;
	}
}

.prod-badges {
	@include flex($j-fs, $a-center);

	&__item {
		&:not(:last-child) {
			margin-right: 8px;
		}
	}

	.prod-badge {
		font-size: 12px;
		border-radius: 18px;
		padding: 8px 16px;
	}
}

.teas-badges {
	&__item {
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}

	.prod-badge {
		font-size: 10px;
		padding: 4px 12px;
		border-radius: 12px;
	}
}

.prod-badge {
	display: inline-block;
	vertical-align: middle;
	font-weight: 600;
	text-transform: uppercase;
	color: $clr-white;
	line-height: 16px;
	
	&--stock {
		background-color: #D0021B;
	}
	&--new {
		background-color: #4CD04F;
	}
	&--month {
		background-color: #4C5ED0;
	}
	&--top {
		background-color: #D04C8A;
	}
}

.prod-thumbs {
	height: 484px;
	overflow: hidden;

	&__item {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__link {
		display: block;
		border: 1px solid transparent;
		transition: .4s;

		&:hover {
			border-color: $clr-bg_light;
		}

		&.active {
			border-color: $clr-blue;
		}
	}

	&__img {
		display: block;
	}
}

.prod-gallery {
	@include flex;
	flex-direction: column;
	height: 484px;
	overflow: hidden;
}

.prod-info {
	background-color: $bg-light;
	padding: 20px 16px;
	font-size: 13px;
	line-height: 1.25;

	strong {
		font-weight: 600;
	}

	&__line {
		background-color: $clr-white;
		padding: 16px;
		box-shadow: 0 1px 2px rgba($clr-black, .12);

		&:not(:last-child) {
			margin-bottom: 1px;
		}
	}

	&__block {

		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	&__row {
		@include flex;
		margin-left: -4px;
		margin-right: -4px;
	}

	&__col {
		flex: 1 0 50%;
		max-width: 50%;
		padding-left: 4px;
		padding-right: 4px;
	}

	&__top {
		@include flex($j-sb, $a-center);
		margin-bottom: 12px;
	}

	&__ctrl {
		margin-left: 8px;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
}

.prod-buy {
	@include flex($j-sb, $a-center);

	&__prices {
		@include flex($j-fs, $a-fs);
		flex-direction: column;
	}

	&__old-price {
		font-size: 16px;
		font-weight: 600;
		line-height: 1.2;
		opacity: 0.65;
		text-decoration: line-through;
		margin-bottom: 4px;
	}

	&__main-price {
		font-weight: 600;
		font-size: 24px;
		margin-bottom: 10px;
	}

	&__btns {
		@include flex;
	}

	&__btn {
		&--main {
			.btn {
				width: 176px;
			}

			.btn--main {
				font-size: 20px;
				line-height: 1.2;
				padding-top: 7px;
				padding-bottom: 7px;
			}

			.btn--light {
				padding-top: 4px;
				font-size: 12px;
				color: rgba($clr-dark, .65);
			}
		}

		&--one {
			margin-left: 8px;

			.btn--write {
				font-size: 14px;
				padding: 10px 12px 12px;
			}
		}

		&--ctrl {
			margin-left: 4px;

			.btn {
				width: 38px;
				height: 38px;
			}
		}		
	}

	&__notice {
		margin-top: 8px;
	}
}

.prod-notice {
	font-size: 10px;

	&--ends {
		color: $clr-red_light;
	}

	&--ended {
		opacity: 0.65;
	}
}

.prod-favorites {
	@include flex($j-fs, $a-center);

	&__ctrl {
		margin-right: 16px;
	}
}

.stock-main {
	&__top {
		margin-bottom: 8px;
	}

	&__terms {
		font-weight: 600;
		color: $clr-red_light;
	}

	&__ctrl {
		display: inline-block;
		margin-left: 6px;
		font-size: 12px;
	}

	&__body {
		@include flex($j-fs, $a-end);
	}

	&__gift {
		margin-right: 12px;
	}
}

.countdown {
	&__top {
		font-size: 10px;
		line-height: 1.25;
		margin-bottom: 4px;

		&--lg {
			font-size: 16px;
			margin-bottom: 12px;
		}
	}

	&__main {
		@include flex;
		margin-left: -4px;
		margin-right: -4px;
	}

	&__col {
		position: relative;
		padding-left: 4px;
		text-align: center;

		&:not(:last-child) {
			padding-right: 8px;

			&:after {
				position: absolute;
				content: ':';
				font-size: 14px;
				right: 0;
				top: 8px;
			}
		}

		&--lg {

			&:not(:last-child) {
				padding-right: 12px;
				margin-right: 4px;
				
				&:after {
					font-size: 24px;
					top: 16px;
				}
			}
		}
	}

	&__dgt {
		font-size: 28px;
		line-height: 1.25;

		&--lg {
			font-size: 48px;
		}
	}

	&__lbl {
		font-size: 9px;
		line-height: 10px;

		&--lg {
			font-size: 14px;
		}
	}
}

.prod-body {
	&__grid {
		@include flex;
		margin-left: -15px;
		margin-right: -15px;

		&--half {
			margin-left: -10px;
			margin-right: -10px;
		}
	}

	&__col {
		flex-grow: 1;
		padding-left: 15px;
		padding-right: 15px;

		&--half {
			flex-basis: 50%;
			max-width: 50%;
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	&__extra {
		flex-shrink: 0;
		flex-basis: 380px + 30px;
		max-width: 380px + 30px;

		&--border {
			position: relative;

			&:before {
				position: absolute;
				content: '';
				height: calc(100% + 28px);
				width: 1px;
				left: 0;
				top: -28px;
				background-color: rgba($clr-text, .17);
			}
		}
	}

	&__title {
		font-family: $fnt-serif;
		font-size: 24px;
		font-weight: bold;
		line-height: 1;
		margin: 0 0 20px 0;
	}

	&__subtitle {
		font-size: 16px;
		font-weight: 600;
		line-height: 1.5;
		margin: 0 0 16px;
	}

	&__block {
		&:not(:last-child) {
			margin-bottom: 40px;
		}

		&--limited {
			max-width: 790px;
		}
	}

	&__gallery {
		@include flex;
		flex-wrap: wrap;
		margin-left: -6px;
		margin-right: -6px;
	}

	&__photo-item {
		flex: 0 1 auto;
		padding-left: 6px;
		padding-right: 6px;
	}

	&__photo-link {
		display: block;
		border: 1px solid rgba($clr-dark, .17);
		transition: .4s;

		&:hover {
			border-color: $clr-red_light;
		}
	}

	&__ctrl {
		margin-top: 16px;
		@include flex($j-fs, $a-center);

		a:not(:last-child) {
			margin-right: 30px;
		}
	}

	&__tabs {
		margin-bottom: 24px;
	}
}

.consultation {
	padding: 20px;
	border: 1px solid rgba($clr-text, .17);

	&__title {
		font-family: $fnt-serif;
		font-weight: bold;
		font-size: 24px;
		line-height: 1.15;
		margin-bottom: 20px;
	}

	&__questions {
		padding-left: 46px;
		position: relative;

		&:before {
			position: absolute;
			content: '';
			width: 34px;
			height: 34px;
			background: url('../img/icon_question-red.svg') no-repeat center;
			background-size: contain;
			left: 0;
			top: 0;
			margin-top: 2 px;
		}
	}

	&__item {
		margin-top: 8px;

		strong {
			color: $clr-red_light;
		}
	}

	&__btn {
		.btn--write {
			padding-top: 11px;
			padding-bottom: 11px;
			max-width: 172px;
		}
	}

	&__bottom,
	&__extra {
		@include flex($j-fs, $a-center);
	}

	&__left,
	&__extra {
		flex: 1 0 50%;
		max-width: 50%;
	}

	&__call {
		flex-shrink: 0;
		flex-basis: 130px;
		max-width: 130px;
		line-height: 1.75;
		margin-left: 20px;
	}

	&__phone {
		flex-grow: 1;
		text-align: right;
		padding-left: 5px;
		font-family: $fnt-serif;
		font-weight: bold;
		font-size: 24px;
		line-height: 1;
	}
}

.advantages {
	&__list {
		@include flex;
		margin-left: -6px;
		margin-right: -6px;
	}

	&__item {
		flex: 1 0 33.33333%;
		max-width: 33.33333%;
		padding-left: 6px;
		padding-right: 6px;
	}
}

.advantage {
	text-align: center;
	font-size: 12px;

	&__cover {
		width: 64px;
		height: 64px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50%;
		background-color: rgba($clr-text, .08);
		@include flex($j-center, $a-center);
		flex-direction: column;
	}

	&__info {
		font-size: 12px;
		line-height: 1.25;
		margin-top: 14px;
	}
}

.prod-brand {

	&__country {
		margin: 16px 0;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	&__bottom {
		border-bottom: 1px solid rgba($clr-text, .17);
		padding-bottom: 24px;
	}
}

.share-block {
	&__title {
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	&__main {
		margin-bottom: 16px;
	}

	&__item {
		margin-top: 10px;
	}
}

.share-nav {
	&__list {
		padding: 0;
		margin: 0 -8px;
		list-style: none;
		@include flex($j-fs, $a-center);
	}

	&__item {
		padding-left: 8px;
		padding-right: 8px;
	}

	&__link {
		position: relative;
		display: block;
		width: 32px;
		height: 32px;
		box-shadow: inset 0 0 0 1px $clr-black;
		border-radius: 50%;
		overflow: hidden;
		text-indent: -9999px;
		opacity: .4;
		transition: .4s;

		&:hover {
			opacity: 0.8;
		}

		&:before {
			position: absolute;
			content: '';
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			width: 20px;
			height: 20px;
		}

		&--vk {
			&:before {
				background-image: url('../img/icon_share-vk-dark.svg');
			}
		}

		&--fb {
			&:before {
				background-image: url('../img/icon_share-fb-dark.svg');
			}
		}
		
		&--ok {
			&:before {
				background-image: url('../img/icon_share-ok-dark.svg');
			}
		}

		&--tw {
			&:before {
				background-image: url('../img/icon_share-tw-dark.svg');
			}
		}
	}
}

.prod-get {
	margin-left: -16px;
	margin-right: -16px;
	margin-bottom: -16px;

	&__item {
		@include flex($j-fs, $a-center);
		border-top: 1px solid rgba($clr-text, .17);
	}
	
	&__ctrl,
	&__info {
		padding-top: 8px;
		padding-bottom: 8px;
		padding-right: 8px;
	}

	&__ctrl {
		padding-left: 12px;
		flex-shrink: 0;
		flex-basis: 156px;
		max-width: 156px;
		@include flex($j-fs, $a-center);
		border-right: 1px solid rgba($clr-text, .17);
	}

	&__info {
		padding-left: 16px;
	}

	&__today {
		color: $clr-red;
	}

	&__icon {
		width: 24px;
		height: 24px;
		@include flex($j-center, $a-center);
		flex-direction: column;
		margin-right: 6px;
	}
}

.prod-reviews {
	&__item {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__bottom {
		margin-top: 20px;
	}

	&__extra {
		@include flex($j-sb, $a-center);
	}

	&__more {
		margin-top: 20px;

		.btn {
			width: 100%;
		}
	}
}

.prod-review {
	&__top {
		@include flex($j-fs, $a-center);
		margin-bottom: 8px;
	}

	&__author {
		font-weight: 600;
		margin-right: 8px;
	}

	&__rate {
		margin-top: -2px;
	}

	&__date {
		margin-left: auto;
		font-size: 12px;
		opacity: 0.65;
	}

	&__helpful {
		margin-top: 15px;
	}
}

.helpful {
	@include flex($j-end, $a-center);

	&--start {
		justify-content: flex-start;
	}

	&__label {
		font-size: 13px;
		margin-right: 8px;

		&--lg {
			font-size: 14px;
			margin-right: 28px;
		}
	}

	&__ctrls {
		@include flex($j-fs, $a-center);
	}

	&__ctrl {
		&:first-child {
			margin-right: 8px;
		}
	}

	&__qty {
		display: inline-block;
		margin-right: 5px;

		&--yes {
			color: $clr-green;
		}

		&--no {
			margin-left: 4px;
			color: $clr-red_light;
		}
	}
}

.rev-stats {
	&__top {
		margin-bottom: 16px;
	}

	&__block {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__title {
		font-weight: 600;
		margin-bottom: 12px;
	}

	&__row {
		@include flex($j-fs, $a-center);
		font-size: 13px;
		
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	&__pct {
		margin-left: 40px;
	}

	&__qty {
		flex: 1 0 45%;
		max-width: 45%;
		margin-left: auto;
	}
}

table {
	width: 100%;
	max-width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
}

.tech-tbl {
	max-width: 604px;

	td {
		padding-left: 16px;
		padding-right: 12px;
		border: 1px solid lighten($clr-text, 72%);
	}

	&--xs {
		td {
			border: 0 none;
		}
	}

	&__title {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		line-height: 1.4;

		.link-info {
			margin-top: -2px;
		}

		td {
			padding-top: 14px;
			padding-bottom: 14px;
		}
	}

	&__25 {
		width: 25%;
	}

	&__label {
		font-weight: 600;
	}

	&__odd,
	&__even {
		font-size: 13px;
		line-height: 1.2;

		td {
			width: 50%;
			padding-top: 12px;
			padding-bottom: 12px;
		}
	}

	&__odd {
		td {
			background-color: $clr-bg_light;
		}
	}

	&__fourth {
		td {
			width: 25%;
		}
	}
}

.docs-list {
	@include flex;
	flex-wrap: wrap;
	margin-left: -6px;
	margin-right: -6px;

	&__item {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
		padding-left: 6px;
		padding-right: 6px;
	}

	&__link {
		display: block;
		text-decoration: none;
	}

	&__cover {
		margin-bottom: 8px;
	}

	&__label {
		display: inline;
		border-bottom: 1px dashed;
	}
}

.consultations {
	&__item {
		padding-bottom: 20px;

		&--admin {
			margin-left: 100px;
		}

		&:not(:first-child) {
			padding-top: 20px;
			border-top: 1px solid rgba($clr-dark, .17);
		}
	}
}

.consultation {
	&--admin {
		position: relative;

		&:before {
			position: absolute;
			content: '';
			width: 63px;
			height: 63px;
			background: url('../img/logo_icon.svg') no-repeat center;
			background-size: contain;
			top: 0;
			left: -75px;
		}
	}


	&__top {
		@include flex($j-sb, $a-center);
		margin-bottom: 12px;
	}

	&__author {
		font-weight: 600;
	}

	&__date {
		font-size: 12px;
		opacity: 0.65;
	}

	&__bottom {
		margin-top: 16px;
	}
}
//-/product

//help
.help-main {
	&__search {
		margin-bottom: 24px;
	}

	&__grid {
		@include flex;
		flex-wrap: wrap;
		padding: 1px 0 0 1px;
		margin-right: -2px;
	}

	&__col {
		flex: 1 1 50%;
		max-width: 50%;
		border: 1px solid lighten($clr-black, 85%);
		margin: -1px 0 0 -1px;
	}
}

.help-teas {
	display: block;
	text-decoration: none;
	color: $clr-text;
	padding: 24px;
	background-color: $bg-light;
	transition: .4s;

	&:hover {
		background-color: $clr-bg_light;
	}

	&__title {
		font-weight: 600;
		font-size: 16px;
		margin-bottom: 12px;

		&:first-letter {
			font-size: 20px;
			color: $clr-blue;
		}
	}

	&__description {
		line-height: 1.4;
	}
}
//-/help

//contacts
.contact-boxes {
	&__item {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}
.contact-box {
	border: 1px solid rgba($clr-text, .17);
	padding: 24px;

	&__title {
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 1.25;
		margin-bottom: 1.25em;
	}

	&__subtitle {
		font-weight: 700;
		margin-bottom: 0.5em;
	}

	&__block {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__info {
		&:not(:last-child) {
			margin-bottom: 8px;
		}

		&--phone {
			font-weight: 600;
			font-size: 16px;
		}

		&--help {
			opacity: 0.65;
		}
	}

	&__row {
		@include flex;
		margin-left: -8px;
		margin-right: -8px;
	}

	&__col {
		flex: 1 1 100%;
		max-width: 100%;
		padding-left: 8px;
		padding-right: 8px;

		&--half {
			flex-basis: 50%;
			max-width: 50%;
		}

		&--third {
			flex-basis: 33.33333%;
			max-width: 33.33333%;
		}
	}

	&__tbl {
		tr {
			&:not(:first-child) {
				td {
					padding-top: 16px;
				}
			}

			&:not(:last-child) {
				td {
					padding-bottom: 16px;
					border-bottom: 1px solid rgba($clr-text, .17);
				}
			}
		}

		td {
			&:first-child {
				width: 100px;
			}

			&:not(:last-child) {
				padding-right: 16px;
			}
		}
	}
}

.cnt-soci-nav {
	padding: 0;
	margin: 0 -4px;
	list-style: none;
	@include flex($j-fs, $a-center);

	&__item {
		padding-left: 4px;
		padding-right: 4px;
	}

	&__link {
		display: block;
		overflow: hidden;
		text-indent: -9999px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		transition: .4s;
		width: 42px;
		height: 42px;

		&:hover {
			opacity: 0.75;
		}

		&--dz {
			background-image: url('../img/icon_soci-dzen.svg');
		}
	}
}
//-/contacts

//pages
.tech {
	&__oops {
		font-size: 80px;
		line-height: 1.2;
	}

	&__title {
		margin-bottom: 24px;
	}

	&__description {
		margin: 16px 0 8px;
	}

	&__code {
		opacity: 0.65;
	}

	&__search {
		max-width: 586px;
	}
}
//-/pages

//cart
.cart-page {
	&__tbl {
		margin-bottom: 20px;
	}

	&__block {
		margin-bottom: 25px;
	}

	&__title {
		font-family: $fnt-serif;
		font-weight: bold;
		font-size: 24px;
		line-height: 1;
		margin-bottom: 15px;

		sup {
			font-family: $fnt-main;
			font-size: 14px;
			font-weight: 500;
		}

		span {
			color: $clr-red;
		}
	}

	&__subtitle {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 15px;
	}

	&__box {
		&--limited {
			max-width: 490px;
			margin-top: 15px;
		}

		&--mt {
			margin-top: 15px;
		}
	}

	&__bottom {
		margin-top: 25px;
	}

	&__extra {
		font-size: 11px;
		margin-top: 12px;
	}

	&__wrap {
		margin-top: 24px;
	}
}

.cart-tbl {
	&--main {
		padding: 26px 32px 8px;
		border: 1px solid rgba($clr-text, .2);
	}

	&__head {
		padding-bottom: 5px;
	}

	&__title {
		text-transform: uppercase;
	}

	&__row {
		@include flex;
		margin-left: -5px;
		margin-right: -5px;

		&--aife {
			align-items: flex-end;
		}

		&--aic {
			align-items: center;
		}
	}

	&__col {
		flex-grow: 1;
		padding-left: 5px;
		padding-right: 5px;

		&:nth-child(2),
		&:last-child {
			flex-basis: 30%;
			max-width: 30%;
		}

		&:last-child {
			text-align: right;
			margin-left: auto;
		}
	}

	&__title {
		font-size: 16px;
		font-weight: 600;
	}

	&__label {
		font-size: 12px;
		opacity: 0.65;
	}

	&__item {
		padding: 15px 0;
		border-bottom: 1px solid rgba($clr-text, .2);
	}

	&__sum {
		padding: 15px 0;
	}

	&__main {
		@include flex;
	}

	&__photo {
		width: 48px;
		margin-right: 8px;
	}

	&__info {
		flex-grow: 1;
	}

	&__name {
		font-weight: bold;

		&-link {
			text-decoration: none;
			color: $clr-text;
		}
	}

	&__qty {
		margin-top: 5px;
	}

	&__price {
		margin-bottom: 8px;

		span {
			font-weight: 600;
		}
	}
}

.qty {
	@include flex($j-fs, $a-center);

	&__main {
		padding-left: 6px;
		padding-right: 6px;
	}

	&__btn {
		border: 1px solid $clr-text;
		line-height: 18px;
		width: 20px;
		padding: 0;
		text-align: center;
		border-radius: 0;
		background-color: transparent;
		outline: none;
		transition: .4s;
		cursor: pointer;

		&:hover {
			background-color: $bg-light;
		}
	}
}

.notification {
	padding: 8px 16px;
	background-color: $bg-light;

	&__text {
		line-height: 1.3;
	}

	span {
		font-weight: 600;
		color: $clr-red_light;
	}
}

.add-services {
	&__item {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}

.add-srvc {
	@include flex;

	&__main {
		position: relative;
		margin-left: 10px;
		@include flex($j-sb, $a-st);
		flex-grow: 1;

		&:before {
			position: absolute;
			content: '';
			height: 0;
			border-bottom: 1px dotted $clr-text;
			bottom: 6px;
			left: 0;
			right: 0;
		}
	}

	&__name,
	&__ctrl {
		position: relative;
		background-color: $clr-white;
	}

	&__price {
		flex-shrink: 0;
		flex-basis: 20%;
		max-width: 20%;
		text-align: right;
		margin-left: auto;

		span {
			font-weight: 600;
		}
	}
}

.checkbox {
	@include flex($j-fs, $a-center);
	
	&__input {
		display: none;

		&:checked + span {
			&:before {
				box-shadow: none;
				border-color: $clr-link;
				background-color: $clr-link;
				background-image: url('../img/icon_checked-white.svg');
			}
		}
	}

	&__label {
		display: inline-block;
		padding-left: 24px;
		position: relative;
		cursor: pointer;

		&--blank {
			padding-left: 0;
			width: 16px;
			height: 16px;
		}

		&:before {
			position: absolute;
			content: '';
			width: 14px;
			height: 14px;
			border: 1px solid $clr-border;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background-position: center;
			background-size: 10px 8px;
			background-repeat: no-repeat;
			border-radius: 2px;
			box-shadow: inset 0 1px 1px rgba($clr-black, .17);
			transition: .4s;
		}
	}

	&__qty {
		opacity: 0.65;
		margin-left: auto;
	}
}

.cart-accessories {
	&__item {
		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}
}

.cart-accessory {
	padding: 15px;
	border: 1px solid rgba($clr-black, .15);

	&__row {
		@include flex;
	}

	&__col {
		flex-grow: 1;
		padding-left: 5px;
		padding-right: 5px;

		&:first-child {
			flex-basis: 50%;
			max-width: 50%;
		}

		&:nth-child(2) {
			flex-basis: 16%;
			max-width: 16%;
		}

		&:last-child {
			flex-basis: 34%;
			max-width: 34%;

			.btn {
				width: 100%;
			}
		}
	}

	&__label {
		font-size: 12px;
		opacity: 0.65;
	}

	&__body {
		margin-top: 12px;
	}

	&__main {
		@include flex;
	}

	&__photo {
		width: 48px;
		margin-right: 8px;
	}

	&__name {
		font-weight: bold;

		&-link {
			text-decoration: none;
			color: $clr-text;
		}
	}

	&__price {
		span {
			font-weight: 600;
		}
	}
}

.cart-sum {
	&__main {
		font-family: $fnt-serif;
		font-size: 24px;
		font-weight: bold;

		span {
			color: $clr-red_light;
		}
	}

	&__extra {
		margin-top: 15px;
	}

	&__btns {
		@include flex;
		margin-left: -8px;
		margin-right: -8px;
	}

	&__btn {
		padding-left: 8px;
		padding-right: 8px;

		.btn--write {
			padding: 7px 32px;
			color: $clr-blue;

			&:hover {
				color: $clr-red_light;
			}
		}
	}

	&__bottom {
		margin-top: 12px;
	}
}

.customers {
	@include flex($j-fs, $a-center);
	margin-left: -2px;
	margin-right: -2px;

	&__item {
		padding-left: 2px;
		padding-right: 2px;
	}

	&__link {
		display: inline-block;
		text-decoration: none;
		padding: 6px 16px;
		border-radius: 16px;

		&.active {
			color: $clr-text;
			background-color: rgba($clr-blue, .64);
		}
	}
}

.cart-form {

	&__group {
		@include flex;
	}

	&__label {
		flex: 1 0 204px;
		max-width: 204px;
		padding-right: 20px;
	}

	&__main {
		flex-grow: 1;
	}

	&__sms-code {
		margin-top: 10px;
	}

	&__extra {
		padding: 15px;
		background-color: $clr-bg_light;
	}

	&__text {
		font-size: 12px;
	}
}

.sms-code {
	&__wrap {
		@include flex;
		margin-left: -3px;
		margin-right: -3px;
	}

	&__ctrl,
	&__item {
		flex: 1 1 50%;
		max-width: 50%;
		padding-left: 3px;
		padding-right: 3px;
	}

	&__ctrl {
		.btn {
			width: 100%;
			padding: 5px;
			font-size: 14px;
			line-height: 18px;
			min-width: auto;
		}
	}

	&__item {
		&--ok {
			position: relative;

			&:after {
				position: absolute;
				content: '';
				width: 16px;
				height: 16px;
				background-color: $clr-green;
				border-radius: 50%;
				right: 10px;
				top: 50%;
				margin-top: -8px;
				background-image: url('../img/icon_checked-white.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: 10px 9px;
			}
		}
	}

	&__input {
		&--ok {
			border-color: $clr-green;
		}
	}
}

.cart-box {
	border: 1px solid rgba($clr-text, .17);
	padding: 18px 16px;
	
	&__title {
		font-weight: 600;
	}
}

.shipp-box {
	&__top {
		@include flex($j-sb, $a-center);
		margin-bottom: 20px;
	}

	&__title {
		padding-right: 10px;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__row {
		@include flex;
	}

	&__way {
		flex: 1 0 220px;
		max-width: 220px;
		padding-right: 10px;
	}

	&__prices {
		flex: 1 0 120px;
		max-width: 120px;
		text-align: right;
	}

	&__details {
		flex-grow: 1;
		text-align: right;
		padding-left: 10px;
	}

	&__info,
	&__adds {
		margin-top: 12px;
	}

	&__info {
		@include flex;
	}

	&__value {
		flex: 1 0 260px;
		max-width: 260px;
	}

	&__ctrl {
		margin-top: 4px;
		padding-left: 35px;
	}

	&__extra {
		margin-top: 8px;
		border: 1px solid lighten($clr-text, 72%);
		padding: 12px;
		position: relative;

		&:before {
			position: absolute;
			content: '';
			border-width: 1px 0 0 1px;
			border-style: solid;
			border-color: lighten($clr-text, 72%);
			background-color: $clr-white;
			width: 10px;
			height: 10px;
			transform: rotate(45deg);
			left: 10px;
			top: -6px;
		}

		p {
			position: relative;
			font-size: 12px;
		}
	}
}

.shipp-adds {
	@include flex($j-fs, $a-center);
	margin-left: -4px;
	margin-right: -4px;

	&__label,
	&__name,
	&__num {
		padding-left: 4px;
		padding-right: 4px;
		flex-grow: 1;
	}

	&__label {
		flex-basis: 160px;
		flex-shrink: 0;
		max-width: 160px;
	}

	&__name {
		flex-basis: 190px;
		flex-shrink: 0;
		max-width: 190px;
	}
}

.pay-box {
	&__wrap {
		@include flex;
	}

	&__title {
		flex: 1 0 240px;
		max-width: 240px;
		padding-right: 20px;
	}

	&__list {
		flex-grow: 1;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}
}

.radio {
	display: block;
	
	&__input {
		display: none;

		&:checked + span {
			&:before {
				box-shadow: inset 0 0 0 4px $clr-blue;
			}
		}
	}

	&__label {
		display: inline-block;
		padding-left: 20px;
		position: relative;
		cursor: pointer;

		&--blank {
			padding-left: 0;
			width: 16px;
			height: 16px;
		}

		&:before {
			position: absolute;
			content: '';
			width: 14px;
			height: 14px;
			background-color: $clr-white;
			left: 0;
			top: 2px;
			border-radius: 50px;
			box-shadow: inset 0 0 0 1px $clr-border, inset 0 1px 1px 1px rgba($clr-black, .17);
			transition: .4s;
		}
	}
}

.cart-points {
	&__wrap {
		@include flex($j-fs, $a-center);
		margin-top: 20px;
	}

	&__range {
		flex: 1 0 380px;
		max-width: 380px;
		margin-right: 16px;
	}

	&__item {
		flex-basis: 70px;
		max-width: 70px;

		.form-control {
			text-align: center;
			font-size: 16px;
		}
	}

	&__btn {
		flex-grow: 1;
		margin-left: 16px;

		.btn {
			width: 100%;
		}
	}
}

.range {
	position: relative;

	&__line {
		width: 100%;
		height: 5px;
		background: #D8D8D8;
	}

	&__current {
		top: 0;
		left: 0;
		position: absolute;
		height: 5px;
		background-color: $clr-red_light;
	}

	&__handle {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		width: 16px;
		height: 16px;
		background-color: $clr-white;
		box-shadow: 0 1px 2px rgba($clr-black, .24);
		margin-left: -8px;
		border-radius: 50%;
	}
}

.points-box {
	padding-left: 20px;

	&__title {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 600;
		margin-bottom: .8em;
	}

	&__value {
		font-size: 20px;
		margin-bottom: 0.8em;

		span {
			color: $clr-red_light;
			font-weight: 600;
		}
	}

	&__ctrl {
		margin-top: 0.8em;
		margin-bottom: 0.6em;
	}
}

.order-add {
	&__title {
		margin: 0.75em 0;
	}
}

.comm-options {
	&__list {
		@include flex;
	}

	&__item {
		flex: 1 0 33.33333%;
		max-width: 33.33333%;
		border-width: 1px 1px 1px 0;
		border-color: rgba($clr-dark, .17);
		border-style: solid;
		
		&:first-child {
			border-width: 1px 1px 1px 1px;
		}
	}
}

.comm-radio {
	&__input {
		display: none;

		&:checked + div {
			background: $clr-bg_light;
			box-shadow: 0 0 0 1px $clr-red_light;
		}
	}

	&__main {
		padding: 20px;
		cursor: pointer;
		transition: .4s;
		text-align: center;

		&:hover {
			background-color: $clr-bg_light;
		}
	}

	&__label {
		display: inline-block;
		padding-left: 30px;
		position: relative;

		&:before {
			position: absolute;
			content: '';
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}

		&--phone {
			&:before {
				width: 19px;
				height: 19px;
				background-image: url('../img/icon_comm-phone.svg');
			}
		}

		&--email {
			&:before {
				width: 20px;
				height: 13px;
				background-image: url('../img/icon_comm-email.svg');
			}
		}

		&--telegram {
			&:before {
				width: 18px;
				height: 18px;
				background-image: url('../img/icon_comm-telegram.svg');
			}
		}
	}
}

.order-sum {
	&__title {
		font-size: 20px;
		font-weight: 600;
		margin-top: 1.2em;
		margin-bottom: 0.8em;
	}

	&__item {
		@include flex($j-fs, $a-center);
		
		&:not(:first-child) {
			padding-top: 12px;
		}

		&--last {
			margin-top: 12px;
			border-top: 1px solid rgba($clr-dark, .17);
		}
	}

	&__label {
		flex: 1 0 205px;
		max-width: 205px;
		padding-right: 15px;
	}

	&__value {
		flex-grow: 1;

		&--main {
			font-weight: 600;
		}
	}
}
//-/cart

//acts
.acts {
	&__top {
		margin-top: -4px;
		margin-bottom: 20px;
	}

	&__grid {
		@include flex;
		flex-wrap: wrap;
		margin-left: -16px;
		margin-right: -16px;
		margin-bottom: -32px;
	}

	&__col {
		flex: 1 1 33.33333%;
		max-width: 33.33333%;
		padding-left: 16px;
		padding-right: 16px;
		padding-bottom: 32px;
	}

	&__bottom {
		margin-top: 20px;
	}

	&__extra {
		@include flex($j-sb, $a-center);
	}
}

.act-teas {
	border: 1px solid rgba($clr-dark, .17);
	box-shadow: 0 2px 4px rgba($clr-black, .12);

	&__visual {
		position: relative;
	}

	&__type {
		position: absolute;
		top: 0;
		left: 0;
	}

	&__cover {
		max-height: 258px;
		@include flex($j-center, $a-center);
		flex-direction: column;
	}

	&__img {
		display: block;
		width: 100%;
	}

	&__info {
		padding: 16px;
		@include flex;
	}

	&__calendar {
		flex: 0 1 70px;
		max-width: 70px;
		margin-right: 16px;
	}

	&__main {
		flex-grow: 1;
	}

	&__ctrl {
		margin-bottom: 8px;

		.btn {
			width: 100%;
		}
	}

	&__description {
		font-size: 13px;
		line-height: 1.25;
	}
}

.act-type {
	font-size: 12px;
	font-weight: 600;
	line-height: 1;
	background-color: $clr-red_light;
	color: $clr-white;
	padding: 6px 8px;
	border-bottom-right-radius: 2px;
}

.act-cal {
	box-shadow: 0 1px 2px rgba($clr-black, .12);
	padding: 5px;
	text-align: center;
	border-top: 8px solid rgba($clr-text, .17);

	&__title {
		font-size: 10px;
		opacity: 0.65;
	}

	&__value {
		font-size: 20px;
		line-height: 1.2;
		margin: 4px 0 2px;
	}

	&__label {
		font-size: 10px;
	}
}

.act-top {
	@include flex;
	margin-left: -16px;
	margin-right: -16px;

	&__visual,
	&__info {
		flex: 1 1 50%;
		max-width: 50%;
		padding-left: 16px;
		padding-right: 16px;
	}

	&__cover {
		border: 1px solid rgba($clr-black, .17);
	}

	&__title {
		font-family: $fnt-serif;
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 24px;
	}

	&__period {
		margin-top: 16px;
		opacity: 0.65;
	}

	&__ctrl {
		margin-top: 16px;
	}
}
//-/acts

//blog
.blog-teas {
	display: block;
	border: 1px solid rgba($clr-dark, .17);
	box-shadow: 0 2px 4px rgba($clr-black, .12);
	text-decoration: none;
	color: $clr-text;
	transition: .4s;

	&:hover {
		box-shadow: 0 8px 12px rgba($clr-black, .24);
	}

	&__visual {
		position: relative;
	}

	&__type {
		position: absolute;
		top: 16px;
		left: 16px;
	}

	&__cover {
		overflow: hidden;
		min-height: 200px;
		max-height: 200px;
		@include flex($j-center, $a-center);
		flex-direction: column;
		background-color: $clr-gray;
	}

	&__img {
		object-fit: cover;
		display: block;
		width: 100%;
	}

	&__info {
		padding: 16px;
	}

	&__date {
		opacity: 0.65;
		font-size: 12px;
		margin-bottom: 12px;
	}

	&__title {
		position: relative;
		font-weight: 600;
		padding-right: 40px;

		&:after {
			position: absolute;
			content: '';
			width: 20px;
			height: 32px;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			background: url('../img/icon_arrow-right.svg') no-repeat center;
			background-size: contain;
		}
	}
}

.blog-type {
	display: inline-block;
	background-color: $clr-blue;
	color: $clr-white;
	font-size: 12px;
	font-weight: 600;
	line-height: 1.15;
	padding: 6px 16px 6px 8px;
	border-radius: 2px;
}

.clear {
	clear: both;
}

.blog-item {
	max-width: 900px;

	&__top {
		@include flex($j-fs, $a-center);
		flex-wrap: wrap;
		margin: 16px 0 20px;
	}

	&__date {
		margin-right: 16px;
		opacity: 0.65;
	}

	&__img {
		&--xs {
			float: left;
			margin-right: 24px;
			margin-bottom: 16px;
		}
	}

	&__main {
		p {
			line-height: 1.4;
	
			strong {
				font-weight: 600;
			}
		}
		
		ul {
			padding-left: 0;
			list-style-type: disc;
			list-style-position: inside;
	
			li {
				&:not(:last-child) {
					margin-bottom: 6px;
				}
			}
		}
	
		table {
			margin-bottom: 24px;
		}
	
		h3 {
			font-weight: bold;
			font-family: $fnt-serif;
			font-size: 24px;
		}
	}

	&__extra {
		margin-top: -14px;
	}

	&__bottom {
		margin-top: 14px;
	}
}
//-/blog

//brands
.pop-brands {
	&__row {
		@include flex;
		flex-wrap: wrap;
		margin-left: -17px;
		margin-right: -17px;
		margin-bottom: -17px;
	}

	&__col {
		flex: 1 1 33.33333%;
		max-width: 33.33333%;
		padding-left: 17px;
		padding-right: 17px;
		padding-bottom: 17px;
	}
}

.brand-card {
	display: block;
	text-decoration: none;
	color: $clr-text;
	border: 1px solid rgba($clr-dark, .15);
	padding: 16px;
	transition: .4s;

	&:hover {
		box-shadow: 0 8px 12px rgba($clr-black, .24);
	}

	&__main {
		@include flex;
		margin-bottom: 8px;
	}

	&__info {
		flex-grow: 1;
	}

	&__visual {
		flex-shrink: 0;
		flex-basis: 64px;
		max-width: 64px;
		height: 64px;
		margin-left: 10px;

		@include flex($j-center, $a-center);
	}

	&__title {
		font-size: 18px;
		font-weight: 600;
		line-height: 1.2;
		margin-bottom: 8px;
	}

	&__favorites {
		position: relative;
		padding-left: 40px;
		font-size: 12px;
		font-weight: 500;
		line-height: 1.25;

		&:before {
			position: absolute;
			content: '';
			width: 24px;
			height: 22px;
			background: url('../img/icon_heart-active.svg') no-repeat center;
			background-size: contain;
			top: 50%;
			left: 4px;
			transform: translateY(-50%);
		}

		strong {
			font-weight: 600;
		}
	}
}

.country-item {
	font-size: 13px;
	@include flex($j-fs, $a-center);

	&__label {
		font-weight: 600;
		margin-right: 3px;
	}

	&__name {
		display: inline-block;
		vertical-align: middle;
	}
}

.flag {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 13px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	box-shadow: 0 1px 1px rgba($clr-black, .4);

	&--lg {
		width: 40px;
		height: 26px;
		box-shadow: none;
		margin-top: -2px;
		margin-left: 2px;
	}

	&--aus {
		background-image: url('../img/flag_aus.svg');
	}

	&--bel {
		background-image: url('../img/flag_bel.svg');
	}

	&--den {
		background-image: url('../img/flag_den.svg');
	}

	&--ger {
		background-image: url('../img/flag_ger.svg');
	}

	&--hun {
		background-image: url('../img/flag_hun.svg');
	}

	&--ita {
		background-image: url('../img/flag_ita.svg');
	}

	&--rus {
		background-image: url('../img/flag_rus.svg');
	}
}

.brands-block {
	&__head {
		margin-bottom: 20px;
	}

	&__top {
		margin-bottom: 20px;
	}
}

.brands-list {
	&__row {
		@include flex;
		margin-left: -15px;
		margin-right: -15px;
	}

	&__col {
		flex: 1 1 33.33333%;
		max-width: 33.33333%;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.brands-nav {
	&__list {
		padding: 0;
		margin: 0 0 24px;
		list-style: none;
	}

	&__title {
		margin-bottom: 8px;
	}

	&__name {
		display: inline-block;
		vertical-align: middle;
		font-size: 20px;
		font-weight: 600;
		color: $clr-link;
		margin-right: 5px;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	&__link {
		color: $clr-text;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.brands-search {
	@include flex($j-fs, $a-center);

	&__label {
		margin-right: 12px;
	}

	&__item {
		flex-basis: 392px;
		max-width: 392px;
	}

	&__input {
		width: 100%;
	}
}

.tab-nav {
	border-bottom: 1px solid rgba($clr-text, .17);

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		@include flex;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 8px;
		}
	}

	&__link {
		position: relative;
		display: inline-block;
		text-decoration: none;
		padding: 8px 16px 8px 8px;
		font-weight: 600;
		color: $clr-text;
		transition: .4s;
		white-space: nowrap;

		&:hover {
			color: $clr-red_light;
		}

		&.active {
			color: $clr-red_light;
			box-shadow: inset 0 -2px 0 $clr-red_light;
		}

		sup {
			position: absolute;
			line-height: 1.3;
			min-width: 14px;
			top: 4px;
			left: 100%;
			margin-left: -14px;
			font-size: 10px;
			font-weight: 400;
			color: $clr-red_light;
		}
	}
}
//-/brands

//personal area
.pa {
	&__top {
		padding: 20px 0;
		background-color: $clr-bg_light;
	}

	&__head {
		@include flex;
	}

	&__greeting {
		font-size: 20px;
		font-weight: 600;
		line-height: 1.2;
		margin-right: 10px;
	}

	&__body {
		margin-top: 24px;
		margin-bottom: 48px;
	}
}

.pa-content {
	&__head {
		margin-bottom: 20px;
	}

	&__title {
		font-family: $fnt-serif;
		font-size: 24px;
		font-weight: bold;
		line-height: 1;
	}

	&__subtitle {
		margin-top: 20px;
		margin-bottom: 16px;

		&--small {
			font-size: 12px;
		}

		span {
			color: $clr-red_light;
		}
	}

	&__extra-top {
		margin-top: -36px;
		margin-bottom: 20px;
	}

	&__body {
		margin-top: 20px;
	}
}

.filt-nav {
	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
		@include flex($j-fs, $a-center);
	}

	&__item {
		&:not(:last-child) {
			margin-right: 12px;
		}
	}

	&__link {
		display: inline-block;
		box-shadow: inset 0 0 0 1px $clr-text;
		color: $clr-text;
		text-decoration: none;
		font-size: 12px;
		line-height: 1.2;
		padding: 5px 12px;
		border-radius: 12px;
		transition: .4s;

		&:hover {
			background-color: $bg-light;
		}

		&.active {
			background-color: $clr-text;
			color: $clr-white;
		}
	}
}

.pa-nav {
	&__list {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__link {
		font-size: 12px;
		color: $clr-text;
		text-decoration: none;

		&.active {
			font-weight: bold;
		}
	}
}

.pa-form {
	max-width: 450px;

	&__group {
		@include flex;
	}

	&__label {
		font-size: 13px;
		flex-basis: 150px;
		flex-shrink: 0;
		max-width: 150px;
		margin-top: 4px;

		span {
			color: $clr-red_light;
		}
	}

	&__main {
		flex-grow: 1;
	}

	&__value {
		font-size: 13px;
		line-height: 18px;
		padding: 5px 0;
		@include flex;
	}

	&__help {
		font-size: 11px;
	}

	&__submit {
		.btn {
			padding-left: 32px;
			padding-right: 32px;
		}
	}
}

.pa-reviews {
	&__item {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
}

.pa-review {
	border: 1px solid rgba($clr-text, .17);
	padding: 16px 24px;

	&__row {
		@include flex;
		margin-left: -8px;
		margin-right: -8px;
	}

	&__col {
		flex-grow: 1;
		padding-left: 8px;
		padding-right: 8px;

		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4) {
			flex-basis: 20%;
			max-width: 20%;
		}
	}

	&__head {
		margin-bottom: 12px;
		font-size: 12px;
		opacity: 0.65;
	}

	&__main {
		@include flex;
	}

	&__photo {
		flex-shrink: 0;
		flex-basis: 48px;
		max-width: 48px;
		margin-right: 8px;
	}

	&__name {
		flex-grow: 1;

		&-link {
			font-weight: bold;
			color: $clr-text;
			text-decoration: none;
		}
	}

	&__help {
		margin-top: 4px;
		font-size: 10px;
		opacity: 0.65;
	}

	&__link {
		font-size: 12px;
		text-align: center;
	}
}

.pa-orders {
	&__stats {
		margin-bottom: 16px;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
}

.pa-order {
	border: 1px solid rgba($clr-text, .17);

	&__top {
		@include flex;
		border-bottom: 1px solid rgba($clr-text, .17);
	}

	&__main {
		flex-grow: 1;
	}

	&__extra {
		flex-shrink: 0;
		flex-basis: 240px;
		max-width: 240px;
		border-left: 1px solid rgba($clr-text, .17);
	}
}

.order-data {
	&__top {
		@include flex($j-fs, $a-center);
		padding: 12px 16px;
		background-color: $clr-bg_light_hover;
		border-bottom: 1px solid rgba($clr-text, .17);
	}

	&__number {
		font-weight: 600;
		margin-left: 8px;
		margin-right: 20px;
	}

	&__date {
		font-size: 12px;
		opacity: 0.65;
	}

	&__link {
		margin-left: auto;
		margin-right: 12px;
	}

	&__info {
		padding: 16px;
	}

	&__item {
		@include flex;
		font-size: 12px;
		
		&:not(:last-child) {
			margin-bottom: 5px;
		}

		&:last-child {
			margin-top: 15px;
		}
	}

	&__label {
		margin-right: 3px;
		font-weight: 600;
	}

	&__help-text {
		font-size: 10px;
		opacity: 0.65;
	}
}

.order-status {
	&__top {
		padding: 12px 16px;
		font-weight: 600;
		background-color: $clr-gray;
		color: $clr-white;
		border-bottom: 1px solid rgba($clr-text, .17);

		&--accepted {
			background-color: $clr-blue_dark;
		}

		&--complete {
			background-color: $clr-green;
		}

		&--canceled {
			background-color: $clr-red_light;
		}
	}

	&__main {
		padding: 8px 16px;
		font-size: 12px;
	}

	&__date {
		font-weight: 600;
	}

	&__list {
		margin-top: 8px;
		margin-bottom: 8px;
	}

	&__item {
		position: relative;
		padding-left: 20px;
		@include flex($j-fs, $a-center);
		
		&:before {
			position: absolute;
			content: '';
			width: 12px;
			height: 12px;
			background-color: $clr-gray;
			border-radius: 50%;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		&--norm {
			&:before {
				background-color: $clr-blue;
			}
		}

		&--good {
			&:before {
				background-color: $clr-green;
			}
		}

		&--bad {
			&:before {
				background-color: $clr-red_light;
			}
		}

		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	&__time {
		opacity: 0.65;
		margin-right: 16px;
	}

	&__btn {
		&:not(:last-child) {
			margin-bottom: 6px;
		}
	}
}

.ord-tbl {
	padding-top: 14px;

	&__row {
		@include flex;
		margin-left: -8px;
		margin-right: -8px;
	}

	&__col {
		padding-left: 8px;
		padding-right: 8px;
		flex-grow: 1;
		
		&:nth-child(1) {
			flex-basis: 40%;
			max-width: 40%;
		}

		&:nth-child(2),
		&:nth-child(3) {
			flex-basis: 20%;
			max-width: 20%;
		}
	}

	&__head {
		padding: 12px 16px 0;
		font-size: 12px;
		opacity: 0.65;
	}

	&__body {
		padding: 0 16px;
	}

	&__item,
	&__delivery {
		padding: 16px 8px;
	}

	&__item {
		border-bottom: 1px solid rgba($clr-text, .17);
	}

	&__main {
		@include flex;
	}

	&__photo {
		flex-shrink: 0;
		flex-basis: 48px;
		max-width: 48px;
		margin-right: 8px;
	}

	&__name {
		flex-grow: 1;

		&-link {
			font-weight: bold;
			color: $clr-text;
			text-decoration: none;
		}
	}

	&__bottom {
		font-weight: 600;
		padding: 16px 24px;
		border-top: 1px solid rgba($clr-text, .17);

		strong {
			font-weight: 700;
		}
	}
}

.fav-share {
	&__wrap {
		@include flex($j-end, $a-st);
		padding-bottom: 16px;
		border-bottom: 1px solid rgba($clr-text, .17);
	}

	&__ctrl {
		position: relative;
	}

	&__value {
		position: absolute;
		top: 100%;
		right: 0;
		width: 300px;
		margin-top: 8px;
		box-shadow: 0 0 4px $clr-blue_light;
	}

	&__control {
		border-color: $clr-blue;
		font-size: 12px;
	}
}
//-/personal area

//footer
.footer {
	margin-top: auto;
	background-color: $clr-dark;
	color: $clr-white;

	a {
		color: $clr-white;
	}

	&__main {
		@include flex;
		margin-left: -14px;
		margin-right: -14px;
		padding-top: 30px;
		padding-bottom: 20px;

		a {
			text-decoration: none;
		}
	}

	&__col {
		flex-grow: 1;
		padding-left: 14px;
		padding-right: 14px;
	}

	&__first,
	&__second {
		flex-basis: 246px;
		max-width: 246px;
	}

	&__third {
		flex-basis: 486px;
		max-width: 486px;
	}

	&__title {
		font-size: 16px;
		margin-bottom: 10px;
	}

	&__box {
		border-top: 1px solid $clr-white;
		padding-top: 10px;
	}

	&__mode {
		margin-bottom: 1.5em;
	}

	&__extra {
		margin-bottom: 15px;
	}

	&__bottom {
		border-top: 1px solid rgba($clr-white, .2);
		padding: 20px 0;
		font-size: 12px;
		@include flex($j-fs, $a-center);
	}

	&__links {
		@include flex($j-fs, $a-center);
		margin-left: 30px;
	}

	&__link {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}

.f-nav {
	&__list {
		padding: 0;
		margin: 0;
		list-style: none;

		&--cols {
			columns: 2 auto;
		}
	}

	&__item {
		margin-bottom: 10px;
	}
}

.pay-nav {
	padding: 0;
	margin: 0;
	list-style: none;
	@include flex;

	&__item {
		width: 48px;
		height: 32px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		overflow: hidden;
		text-indent: -9999px;

		&:not(:last-child) {
			margin-right: 8px;
		}

		&--visa {
			background-image: url('../img/icon_pay-visa.svg');
		}

		&--mc {
			background-image: url('../img/icon_pay-mc.svg');
		}
	}
}

.soci-nav {
	padding: 0;
	margin: 0 -4px;
	list-style: none;
	@include flex($j-fs, $a-center);

	&--invert {
		filter: invert(100%);
	}

	&__item {
		padding-left: 4px;
		padding-right: 4px;
	}

	&__link {
		display: block;
		overflow: hidden;
		text-indent: -9999px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		transition: .4s;

		&:hover {
			opacity: 0.75;
		}

		&--vk {
			width: 27px;
			height: 16px;
			background-image: url('../img/icon_soci-vk-white.svg');
		}

		&--fb {
			width: 20px;
			height: 20px;
			background-image: url('../img/icon_soci-fb-white.svg');
		}
	}
}
//-/footer

//popups
.pp-box {
	margin-left: auto;
	margin-right: auto;
	background-color: $clr-white;
	box-shadow: 0 4px 8px rgba($clr-black, .24);

	&--lg {
		padding: 20px;
		max-width: 720px;
	}

	&--md {
		padding: 16px;
		max-width: 600px;
	}

	&--sm {
		padding: 16px;
		max-width: 430px;
	}

	&--xs {
		padding: 16px;
		max-width: 300px;
	}

	&--extra {
		max-width: 670px;
		@include flex;
		flex-wrap: wrap;
	}

	&__visual,
	&__info {
		flex: 1 0 50%;
		max-width: 50%;
	}

	&__visual {
		background: url('../img/bg_pp-extra.jpg') no-repeat center;
		background-size: cover;
	}

	&__cover {
		height: 100%;
		@include flex($j-center, $a-center);
		background-color: rgba($clr-black, .26);
		font-weight: 600;
		font-size: 16px;
		color: $clr-white;
		text-align: center;
		padding: 16px;
	}

	&__info {
		padding: 16px;
	}

	&__cart {
		margin-left: -16px;
		margin-right: -16px;
		border-top: 1px solid rgba($clr-text, .17);

		.cart-tbl__item {
			padding-left: 16px;
			padding-right: 16px;
		}
	}

	&__shipping {
		margin-top: 8px;
		margin-bottom: 16px;
		padding-top: 4px;
		padding-bottom: 4px;
		padding-left: 32px;
		position: relative;

		&:before {
			position: absolute;
			content: '';
			width: 20px;
			height: 16px;
			background: url('../img/icon_shipping-dark.svg') no-repeat center;
			background-size: contain;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
		}
	}

	&__footer {
		flex: 1 0 100%;
		max-width: 100%;
		padding: 16px;
		border-top: 1px solid rgba($clr-text, .17);
		text-align: right;

		.btn--md {
			padding: 3px 16px;
		}
	}

	&__wrap {
		position: relative;
	}

	&__close {
		position: absolute;
		display: block;
		padding: 0;
		border: 0 none;
		outline: none;
		width: 20px;
		height: 20px;
		background-color: rgba($clr-black, .6);
		border-radius: 50%;
		text-indent: -9999px;
		overflow: hidden;
		top: 0;
		right: 0;
		cursor: pointer;
		transition: .4s;

		&:hover {
			background-color: $clr-red_light;
		}

		&:before,
		&:after {
			position: absolute;
			content: '';
			width: 10px;
			height: 2px;
			background-color: $clr-white;
			top: 50%;
			margin-top: -1px;
			left: 50%;
			margin-left: -5px;
		}

		&:before {
			transform: rotate(45deg);
		}

		&:after {
			transform: rotate(135deg);
		}
	}

	&__head {
		padding-right: 30px;
	}

	&__title {
		font-size: 24px;
		line-height: 1.2;
		margin-bottom: 16px;
	}

	&__description {
		padding-top: 16px;
	}

	&__subtitle {
		font-size: 18px;
		line-height: 1.2;
	}

	&__ctrl {
		font-size: 16px;

		&--end {
			font-size: 14px;
			@include flex($j-end, $a-center);
			padding-top: 8px;
			padding-bottom: 8px;

			a {
				display: inline-block;
				&:not(:last-child) {
					margin: 16px;
				}
			}

			.btn--blue {
				padding: 11px 24px;
			}
		}
	}

	&__act-head {
		margin-bottom: 24px;
	}

	&__sb {
		@include flex($j-sb, $a-center);
		margin-bottom: 16px;
	}

	&__bottom {
		margin-top: 16px;
	}

	&__row {
		@include flex($j-fs, $a-st);
		flex-wrap: wrap;
		padding-left: 1px;
		padding-top: 1px;
		margin-right: -3px;
	}

	&__col {
		position: relative;
		flex: 1 0 200px;
		max-width: 200px;
		border-width: 1px;
		border-style: solid;
		border-color: lighten($clr-black, 85%);
		margin-top: -1px;
		margin-left: -1px;
	}

	&__form {
		margin-bottom: -15px;
	}
}

.pp-form {
	&__label {
		font-size: 13px;
	}

	.btn--blue {
		width: 100%;
		padding-top: 11px;
		padding-bottom: 11px;
	}

	.btn--main {
		font-size: 14px;
		line-height: 20px;
		width: 100%;
		text-transform: none;
	}
}

.act-head {
	@include flex;

	&__cover {
		flex: 1 0 140px;
		max-width: 140px;
		margin-right: 16px;
	}

	&__info {
		flex-grow: 1;
	}
}
//-/popups