//MY VARS
$fnt-main: 'Montserrat', sans-serif;
$fnt-serif: 'NewBaskervilleC', serif;

$container-lg: 1230px;
//--MY VARS

//MY COLOR
$clr-white: #fff;
$clr-black: #000;

$clr-dark: #1D1D1D;
$clr-text: #26221F;

$bg-light: #fafafa;

$clr-red: #A73535;
$clr-red_light: #D04C4C;
$clr-red_dark: #7D1313;
$clr-red_contrast: #B62222;
$clr-green: #99C247;
$clr-green_dark: #7BA528;
$clr-blue: #4C8BD0;
$clr-blue_dark: #2D72C0;
$clr-blue_light: #70A5E0;

$clr-bg_light: #F6F6F6;
$clr-bg_light_hover: #eeeeee;
$clr-btn_light: #C7C7C7;
$clr-border: #b8b8b8;
$clr-border_light: #D5D5D5;
$clr-gray: #747474;

$clr-link: #4C8BD0;

//--MY COLOR
