{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Ошибка 404" %}

{% block content %}
{% include "includes/header.html" %}

<section class="main section">
	<div class="container">
		<div class="main__tech">
			<div class="tech">
				<div class="tech__oops">Ой!</div>
				<div class="tech__description">Похоже, мы не можем найти нужную вам страницу. Но мы уже работаем над этим!</div>
				<div class="tech__code">Код ошибки: 404</div>
			</div>
		</div>
		
		<div class="main__body">
			<div class="main__block">
				<div class="block block--front">
					<h2 class="block__title">Но вы можете ознакомиться с нашими акциями:</h2>

					<div class="block__body">
						<div class="acts">
							<div class="acts__grid">
								<div class="acts__col">
									{% include "includes/act-teas_01.html" %}
								</div>
								<div class="acts__col">
									{% include "includes/act-teas_01.html" %}
								</div>
								<div class="acts__col">
									{% include "includes/act-teas_01.html" %}
								</div>
							</div>
						</div>
					</div>

					<div class="block__ctrl">
						<a href="#" class="link">Смотреть все акции →</a>
					</div>
				</div>
			</div>
			
			<div class="main__block">
				<div class="block block--front">
					<h2 class="block__title">Или ознакомиться с нашими хитами продаж:</h2>

					<div class="block__body">
						<div class="block__row">
							<div class="block__col block__col--fifth">
								{% include "includes/prod-teas-limites_01.html" %}
							</div>
							<div class="block__col block__col--fifth">
								{% include "includes/prod-teas-limites_01.html" %}
							</div>
							<div class="block__col block__col--fifth">
								{% include "includes/prod-teas-limites_01.html" %}
							</div>
							<div class="block__col block__col--fifth">
								{% include "includes/prod-teas-limites_01.html" %}
							</div>
							<div class="block__col block__col--fifth">
								{% include "includes/prod-teas-limites_01.html" %}
							</div>
						</div>
					</div>

					<div class="block__ctrl">
						<a href="#" class="link">Смотреть все хиты →</a>
					</div>
				</div>
			</div>

			<div class="main__block">
				<div class="block block--front">
					<h2 class="block__title">Не нашли ничего полезного?</h2>

					<div class="block__body">
						<p>
							Вот несколько полезных ссылок для Вас:
						</p>

						<ul class="v-nav">
							<li class="v-nav__item">
								<a href="#" class="v-nav__link link">Акции</a>
							</li>
							<li class="v-nav__item">
								<a href="#" class="v-nav__link link">Каталог</a>
							</li>
							<li class="v-nav__item">
								<a href="#" class="v-nav__link link">Блог</a>
							</li>
							<li class="v-nav__item">
								<a href="#" class="v-nav__link link">Помощь</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
