{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Акции" %}

{% block content %}
{% include "includes/header.html" %}

<section class="main section">
	<div class="container">
		<div class="main__top">
			<div class="main__breadcrumbs">
				<nav class="breadcrumbs">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item">
							<a href="./" class="breadcrumbs__link">Главная</a>
						</li>
						<li class="breadcrumbs__item">
							<span class="breadcrumbs__current">Акции</span>
						</li>
					</ul>
				</nav>
			</div>

			<div class="main__tabs">
				<nav class="tab-nav">
					<ul class="tab-nav__list">
						<li class="tab-nav__item">
							<a href="#" class="tab-nav__link active">Все акции<sup>2</sup></a>
						</li>
						<li class="tab-nav__item">
							<a href="#" class="tab-nav__link">1 тип акций<sup>1</sup></a>
						</li>
						<li class="tab-nav__item">
							<a href="#" class="tab-nav__link">2 тип акций<sup>1</sup></a>
						</li>
						<li class="tab-nav__item">
							<a href="#" class="tab-nav__link">3 тип акций<sup>1</sup></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="main__head">
			<h1 class="page-title">Акции</h1>
		</div>

		<div class="main__body">
			<div class="acts">
				<div class="acts__grid">
					<div class="acts__col">
						{% include "includes/act-teas_01.html" %}
					</div>
					<div class="acts__col">
						{% include "includes/act-teas_02.html" %}
					</div>
					<div class="acts__col">
						{% include "includes/act-teas_01.html" %}
					</div>
					<div class="acts__col">
						{% include "includes/act-teas_01.html" %}
					</div>
					<div class="acts__col">
						{% include "includes/act-teas_02.html" %}
					</div>
					<div class="acts__col">
						{% include "includes/act-teas_01.html" %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
