{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Акция" %}

{% block content %}
{% include "includes/header.html" %}

<section class="main section">
	<div class="container">
		<div class="main__breadcrumbs">
			<nav class="breadcrumbs">
				<ul class="breadcrumbs__list">
					<li class="breadcrumbs__item">
						<a href="./" class="breadcrumbs__link">Главная</a>
					</li>
					<li class="breadcrumbs__item">
						<span class="breadcrumbs__current">Акции</span>
					</li>
				</ul>
			</nav>
		</div>

		<div class="main__insert main__insert--bordered">
			<div class="act-top">
				<div class="act-top__visual">
					<div class="act-top__cover">
						<img src="img/img_act-lg_01.jpg" alt="" class="act-top__img">
					</div>
				</div>

				<div class="act-top__info">
					<div class="act-top__title">
						Акция!<br>
						Скидки до 40% на лампы бренда Arte Lamp!
					</div>

					<div class="act-top__countdown">
						<div class="countdown">
							<div class="countdown__top countdown__top--lg">До конца акции осталось:</div>

							<div class="countdown__main">
								<div class="countdown__col countdown__col--lg">
									<div class="countdown__dgt countdown__dgt--lg">19</div>
									<div class="countdown__lbl countdown__lbl--lg">часов</div>
								</div>
								<div class="countdown__col countdown__col--lg">
									<div class="countdown__dgt countdown__dgt--lg">30</div>
									<div class="countdown__lbl countdown__lbl--lg">минут</div>
								</div>
								<div class="countdown__col countdown__col--lg">
									<div class="countdown__dgt countdown__dgt--lg">30</div>
									<div class="countdown__lbl countdown__lbl--lg">секунд</div>
								</div>
							</div>
						</div>
					</div>

					<div class="act-top__period">Период проведения акции: с 23 августа по 5 сентября 2018 года</div>
					<div class="act-top__ctrl">
						<a href="#" class="link">Перейти к описанию</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="main__head">
			<h1 class="page-title">Потолочные люстры <sup>954 товара</sup></h1>
		</div>

		<div class="main__body main__grid">
			<aside class="main__side side">
				<div class="side__wrap">
					<div class="side__title">Категории бренда</div>
					<nav class="side__nav side-nav">
						<ul class="side-nav__list">
							<li class="side-nav__item">
								<a href="#" class="side-nav__link active">
									Люстры <sup>1653</sup>
								</a>

								<ul class="side-nav__sublist">
									<li class="side-nav__subitem">
										<a href="#" class="side-nav__link active">
											Потолочные люстры <sup>954</sup>
										</a>
									</li>
									<li class="side-nav__subitem">
										<a href="#" class="side-nav__link">
											Подвесные люстры <sup>423</sup>
										</a>
									</li>
									<li class="side-nav__subitem">
										<a href="#" class="side-nav__link">
											Каскадные люстры <sup>233</sup>
										</a>
									</li>
									<li class="side-nav__subitem">
										<a href="#" class="side-nav__link">
											Люстры вентиляторы <sup>233</sup>
										</a>
									</li>
								</ul>
							</li>
							<li class="side-nav__item">
								<a href="#" class="side-nav__link">
									Светильники <sup>2178</sup>
								</a>
							</li>
							<li class="side-nav__item">
								<a href="#" class="side-nav__link">
									Торшеры <sup>88</sup>
								</a>
							</li>
							<li class="side-nav__item">
								<a href="#" class="side-nav__link">
									Бра <sup>150</sup>
								</a>
							</li>
							<li class="side-nav__item">
								<a href="#" class="side-nav__link">
									Подсветки <sup>114</sup>
								</a>
							</li>
							<li class="side-nav__item">
								<a href="#" class="side-nav__link">
									Настольные лампы <sup>123</sup>
								</a>
							</li>
							<li class="side-nav__item">
								<a href="#" class="side-nav__link">
									Споты <sup>543</sup>
								</a>
							</li>
							<li class="side-nav__item">
								<a href="#" class="side-nav__link">
									Уличное освещение <sup>218</sup>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</aside>

			<main class="main__content">
				<div class="main__catalog">
					<div class="catalog">
						<div class="catalog__top">
							<div class="catalog__pop">
								<div class="cat-pop">
									<span class="cat-pop__label">Часто ищут:</span> 
									<a href="#" class="link link--dashed">синие люстры Китай</a>, <a href="#" class="link link--dashed">Красные люстры Франция</a>
								</div>
							</div>
	
							<div class="catalog__filters cat-filters">
								<div class="cat-filters__list">
									<div class="cat-filters__item">
										<div class="filt-item">
											<div class="filt-item__label">
												<button class="filt-item__btn">Бренд</button>
											</div>
											<div class="filt-item__value"></div>
										</div>
									</div>
	
									<div class="cat-filters__item">
										<div class="filt-item">
											<div class="filt-item__label">
												<button class="filt-item__btn">Страна-производитель</button>
											</div>
											<div class="filt-item__value"></div>
										</div>
									</div>
	
									<div class="cat-filters__item">
										<div class="filt-item">
											<div class="filt-item__label">
												<button class="filt-item__btn">Материалы</button>
											</div>
											<div class="filt-item__value"></div>
										</div>
									</div>
	
									<div class="cat-filters__item">
										<div class="filt-item">
											<div class="filt-item__label">
												<button class="filt-item__btn">Цена</button>
											</div>
											<div class="filt-item__value"></div>
										</div>
									</div>
	
									<div class="cat-filters__item">
										<div class="filt-item">
											<div class="filt-item__label">
												<button class="filt-item__btn">Параметр 4</button>
											</div>
											<div class="filt-item__value"></div>
										</div>
									</div>
	
									<div class="cat-filters__item">
										<div class="filt-item">
											<div class="filt-item__label">
												<button class="filt-item__btn">Параметр 5</button>
											</div>
											<div class="filt-item__value"></div>
										</div>
									</div>
	
									<div class="cat-filters__item">
										<div class="filt-item">
											<div class="filt-item__label">
												<button class="filt-item__btn">Параметр с цветами</button>
											</div>
											<div class="filt-item__value"></div>
										</div>
									</div>
	
									<div class="cat-filters__item">
										<div class="filt-item">
											<div class="filt-item__label">
												<button class="filt-item__btn">Параметр с составом</button>
											</div>
											<div class="filt-item__value"></div>
										</div>
									</div>
	
									<div class="cat-filters__item">
										<div class="filt-item">
											<div class="filt-item__label">
												<button class="filt-item__btn">Параметр 8</button>
											</div>
											<div class="filt-item__value"></div>
										</div>
									</div>
								</div>
	
								<div class="cat-filters__extra">
									<a href="#" class="link">Скрыть дополнительные <span>↑</span></a>
								</div>
							</div>
	
							<div class="catalog__extra">
								<div class="catalog__stats">
									Показано <strong>22</strong> товара из 23
								</div>
	
								<div class="catalog__sort">
									<div class="cat-sort">
										<div class="cat-sort__label">Сортировать:</div>
										<div class="cat-sort__value">
											<button class="cat-sort__btn">
												<span class="cat-sort__current">По популярности</span>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
	
						<div class="catalog__main">
							<div class="catalog__row">
								<div class="catalog__col">
									{% include "includes/prod-teas_01.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_02.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_03.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_04.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_01.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_02.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_03.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_04.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_01.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_02.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_03.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_04.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_01.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_02.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_03.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_04.html" %}
								</div>
							</div>
						</div>
	
						<div class="catalog__bottom">
							<div class="catalog__extra">
								<div class="catalog__stats">
									Показано <strong>22</strong> товара из 34
								</div>
	
								<div class="catalog__pager">
									<ul class="pager">
										<li class="pager__item">
											<a href="#" class="pager__link">1</a>
										</li>
										<li class="pager__item">
											<a href="#" class="pager__link active">2</a>
										</li>
										<li class="pager__item">
											<a href="#" class="pager__link">3</a>
										</li>
										<li class="pager__item">
											<a href="#" class="pager__link">4</a>
										</li>
										<li class="pager__item">
											<a href="#" class="pager__link">5</a>
										</li>
										<li class="pager__item">
											<a href="#" class="pager__link">…</a>
										</li>
										<li class="pager__item">
											<a href="#" class="pager__link pager__link--extra">Вперёд »</a>
										</li>
									</ul>
								</div>
							</div>
	
							<div class="catalog__more">
								<a href="#" class="btn btn--light btn--lg">Показать ещё</a>
							</div>
						</div>
					</div>
				</div>

				<div class="main__bottom">
					<div class="main__block">
						<div class="block">
							<div class="block__title">Описание акции</div>

							<div class="block__body">
								<div class="block__text">
									<p>Контрпример развивает линейно зависимый экстремум функции. Подмножество привлекает интеграл Дирихле. Бином Ньютона основан на тщательном анализе. Эпсилон окрестность оправдывает интеграл Пуассона, что несомненно приведет нас к истине. Матожидание, следовательно, позитивно оправдывает вектор.</p>
									<p>Поле направлений стремительно масштабирует экстремум функции. Интегрирование по частям, следовательно, естественно определяет минимум. Доказательство необходимо и достаточно. Арифметическая прогрессия нейтрализует возрастающий интеграл Гамильтона. Ряд Тейлора обоснован необходимостью. Надо сказать, что эпсилон окрестность порождает нормальный определитель системы линейных уравнений.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="main__block">
						<div class="block">
							<div class="block__title">Похожие акции</div>

							<div class="block__body">
								<div class="acts">
									<div class="acts__grid">
										<div class="acts__col">
											{% include "includes/act-teas_01.html" %}
										</div>
										<div class="acts__col">
											{% include "includes/act-teas_02.html" %}
										</div>
										<div class="acts__col">
											{% include "includes/act-teas_01.html" %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
