{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Блог" %}

{% block content %}
{% include "includes/header.html" %}

<section class="main section">
	<div class="container">
		<div class="main__top">
			<div class="main__breadcrumbs">
				<nav class="breadcrumbs">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item">
							<a href="./" class="breadcrumbs__link">Главная</a>
						</li>
						<li class="breadcrumbs__item">
							<a href="./" class="breadcrumbs__link">Блог</a>
						</li>
						<li class="breadcrumbs__item">
							<span class="breadcrumbs__current">Встречаем люстры и светильники от компании Brilliant из Германии</span>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="main__body">
			<article class="blog-item">
				<div class="blog-item__head">
					<h1 class="page-title">Встречаем люстры и светильники от компании Brilliant из Германии</h1>
				</div>
				<div class="blog-item__top">
					<div class="blog-item__date">22.08.2018</div>
					<div class="blog-item__type">
						<div class="blog-type">Новости</div>
					</div>
				</div>

				<div class="blog-item__main">
					<p>Люстры и светильники от немецкой компании Brilliant появились в каталоге интернет-магазина . В наш магазин сразу добавилось две сотни товаров от компании Бриллиант, и в дальнейшем будет пополняться новинками из Германии.</p>

					<img src="https://picsum.photos/1200/480?image=1079" alt="" class="blog-item__img">

					<h3>История компании</h3>
					<img src="https://picsum.photos/160/160?image=739" alt="" class="blog-item__img blog-item__img--xs">
					<p>Компания Brilliant занимается производством и продажей осветительных приборов более 60 лет. Бриллиант является одним из крупнейших поставщиков светильников в Европе. Компания занимается производством, как интерьерных светильников, так и уличных ламп и садовых осветительных приборов. В их ассортимент входят так же настенные бра, напольные светильники,  потолочные люстры и многое другое.</p>
					<p class="clear">Светильники компании Brilliant отличаются немецкой надежностью и безопасностью. В ассортименте присутствуют уличные светильники со степенью защиты IP23, что допустимо при использовании во время дождя, а так же светильники со степенью защиты IP44 – это означает, что у светильника высокая защита от пыли, дождя и брызг.</p>
					<p>Следите за распродажами и другими специальными предложениями на товары компании Brilliant из Германии в нашем магазине. Специалисты интернет-магазина светильников «Светлый сайт» всегда готовы ответить на любые вопросы об ассортименте, в том числе о товарах компании Brilliant. Мы постоянно расширяем свой ассортимент для увеличения вашего выбора.</p>

					<h3>Характеристики новых светильников:</h3>

					<table class="tech-tbl">
						<tr class="tech-tbl__title">
							<td colspan="4">Бренд</td>
						</tr>

						<tr class="tech-tbl__odd tech-tbl__fourth">
							<td class="tech-tbl__label">Артикул</td>
							<td>A1800LM-5BK</td>
							<td>A1800LM-5WH</td>
							<td>A1800LM-3WG</td>
						</tr>

						<tr class="tech-tbl__even tech-tbl__fourth">
							<td class="tech-tbl__label">Бренд</td>
							<td>Arte Lamp</td>
							<td>Arte Lamp</td>
							<td>Arte Lamp</td>
						</tr>

						<tr class="tech-tbl__odd tech-tbl__fourth">
							<td class="tech-tbl__label">Страна</td>
							<td>
								<div class="country-item">
									<div class="country-item__value">
										<span class="coutry-item__name">Италия</span>
										<span class="flag flag--ita"></span>
									</div>
								</div>
							</td>
							<td>
								<div class="country-item">
									<div class="country-item__value">
										<span class="coutry-item__name">Италия</span>
										<span class="flag flag--ita"></span>
									</div>
								</div>
							</td>
							<td>
								<div class="country-item">
									<div class="country-item__value">
										<span class="coutry-item__name">Италия</span>
										<span class="flag flag--ita"></span>
									</div>
								</div>
							</td>
						</tr>
					</table>

					<p><strong>Преимущества ламп:</strong></p>
					<p>Преимущества ламп состоят в следующем:</p>
					<ul>
						<li>Нормальное распределение решительно масштабирует постулат, явно демонстрируя всю чушь вышесказанного.</li>
						<li>Наибольшее и наименьшее значения функции уравновешивает аксиоматичный определитель системы линейных уравнений.</li>
						<li>Прямоугольная матрица небезынтересно притягивает математический анализ, явно демонстрируя всю чушь вышесказанного.</li>
						<li>Достаточное условие сходимости расточительно отображает анормальный полином.</li>
					</ul>
				</div>

				<div class="blog-item__extra">
					<div class="block block--front">
						<h2 class="block__title">Товары, упомянутые в статье:</h2>
	
						<div class="block__body">
							<div class="block__row">
								<div class="block__col block__col--fourth">
									{% include "includes/prod-teas-limites_01.html" %}
								</div>
								<div class="block__col block__col--fourth">
									{% include "includes/prod-teas-limites_01.html" %}
								</div>
								<div class="block__col block__col--fourth">
									{% include "includes/prod-teas-limites_01.html" %}
								</div>
								<div class="block__col block__col--fourth">
									{% include "includes/prod-teas-limites_01.html" %}
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="blog-item__bottom">
					<p>Понравилась статья? Поделитесь в социальных сетях:</p>
					<ul class="soci-nav soci-nav--invert">
						<li class="soci-nav__item">
							<a href="#" class="soci-nav__link soci-nav__link--vk">Вконтакте</a>
						</li>
						<li class="soci-nav__item">
							<a href="#" class="soci-nav__link soci-nav__link--fb">Facebook</a>
						</li>
					</ul>
				</div>
			</article>			
		</div>

		<div class="main__bottom">
			<div class="main__block">
				<div class="block">
					<h2 class="block__title">Похожие статьи:</h2>

					<div class="block__body">
						<div class="acts">
							<div class="acts__grid">
								<div class="acts__col">
									{% include "includes/blog-teas_01.html" %}
								</div>
								<div class="acts__col">
									{% include "includes/blog-teas_02.html" %}
								</div>
								<div class="acts__col">
									{% include "includes/blog-teas_03.html" %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
