{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Блог" %}

{% block content %}
{% include "includes/header.html" %}

<section class="main section">
	<div class="container">
		<div class="main__top">
			<div class="main__breadcrumbs">
				<nav class="breadcrumbs">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item">
							<a href="./" class="breadcrumbs__link">Главная</a>
						</li>
						<li class="breadcrumbs__item">
							<span class="breadcrumbs__current">Блог</span>
						</li>
					</ul>
				</nav>
			</div>

			<div class="main__tabs">
				<nav class="tab-nav">
					<ul class="tab-nav__list">
						<li class="tab-nav__item">
							<a href="#" class="tab-nav__link active">Все статьи<sup>12</sup></a>
						</li>
						<li class="tab-nav__item">
							<a href="#" class="tab-nav__link">Новости<sup>7</sup></a>
						</li>
						<li class="tab-nav__item">
							<a href="#" class="tab-nav__link">Обзоры<sup>3</sup></a>
						</li>
						<li class="tab-nav__item">
							<a href="#" class="tab-nav__link">Полезные статьи<sup>2</sup></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="main__head">
			<h1 class="page-title">Все статьи</h1>
		</div>

		<div class="main__body">
			<div class="acts">
				<div class="acts__grid">
					<div class="acts__col">
						{% include "includes/blog-teas_01.html" %}
					</div>
					<div class="acts__col">
						{% include "includes/blog-teas_02.html" %}
					</div>
					<div class="acts__col">
						{% include "includes/blog-teas_03.html" %}
					</div>
					<div class="acts__col">
						{% include "includes/blog-teas_03.html" %}
					</div>
					<div class="acts__col">
						{% include "includes/blog-teas_01.html" %}
					</div>
					<div class="acts__col">
						{% include "includes/blog-teas_02.html" %}
					</div>
					<div class="acts__col">
						{% include "includes/blog-teas_02.html" %}
					</div>
					<div class="acts__col">
						{% include "includes/blog-teas_03.html" %}
					</div>
					<div class="acts__col">
						{% include "includes/blog-teas_01.html" %}
					</div>
				</div>
				<div class="acts__bottom">
					<div class="acts__extra">
						<div class="acts__stats">
							22 записи
						</div>

						<div class="acts__pager">
							<ul class="pager">
								<li class="pager__item">
									<a href="#" class="pager__link">1</a>
								</li>
								<li class="pager__item">
									<a href="#" class="pager__link active">2</a>
								</li>
								<li class="pager__item">
									<a href="#" class="pager__link">3</a>
								</li>
								<li class="pager__item">
									<a href="#" class="pager__link">4</a>
								</li>
								<li class="pager__item">
									<a href="#" class="pager__link">5</a>
								</li>
								<li class="pager__item">
									<a href="#" class="pager__link">…</a>
								</li>
								<li class="pager__item">
									<a href="#" class="pager__link pager__link--extra">Вперёд »</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
