{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Бренды" %}

{% block content %}
{% include "includes/header.html" %}

<section class="main section">
	<div class="container">
		<div class="main__head">
			<h1 class="page-title">Бренды</h1>
		</div>

		<div class="main__body">
			<div class="main__wrap main__wrap--limited">
				<div class="main__block">
					<div class="pop-brands">
						<div class="pop-brands__head">
							<h2 class="subtitle">Популярные бренды</h2>
						</div>

						<div class="pop-brands__body">
							<div class="pop-brands__row">
								<div class="pop-brands__col">
									<a href="#" class="brand-card">
										<div class="brand-card__main">
											<div class="brand-card__info">
												<div class="brand-card__title">Arte Lamp</div>
												<div class="brand-card__country">
													<div class="country-item">
														<div class="country-item__label">Страна:</div>
														<div class="country-item__value">
															<span class="country-item__name">Италия</span>
															<span class="flag flag--ita"></span>
														</div>
													</div>
												</div>
											</div>

											<div class="brand-card__visual">
												<div class="brand-card__cover">
													<img src="img/logo_arte-lamp.jpg" alt="" class="brand-card__logo">
												</div>
											</div>
										</div>
										<div class="brand-card__favorites">
											Товары этого бренда добавили в избранное <strong>2000</strong> раз
										</div>
									</a>
								</div>

								<div class="pop-brands__col">
									<a href="#" class="brand-card">
										<div class="brand-card__main">
											<div class="brand-card__info">
												<div class="brand-card__title">Baruss</div>
												<div class="brand-card__country">
													<div class="country-item">
														<div class="country-item__label">Страна:</div>
														<div class="country-item__value">
															<span class="country-item__name">Россия</span>
															<span class="flag flag--rus"></span>
														</div>
													</div>
												</div>
											</div>

											<div class="brand-card__visual">
												<div class="brand-card__cover">
													<img src="img/logo_baruss.jpg" alt="" class="brand-card__logo">
												</div>
											</div>
										</div>
										<div class="brand-card__favorites">
											Товары этого бренда добавили в избранное <strong>1880</strong> раз
										</div>
									</a>
								</div>

								<div class="pop-brands__col">
									<a href="#" class="brand-card">
										<div class="brand-card__main">
											<div class="brand-card__info">
												<div class="brand-card__title">Евросвет</div>
												<div class="brand-card__country">
													<div class="country-item">
														<div class="country-item__label">Страна:</div>
														<div class="country-item__value">
															<span class="country-item__name">Россия</span>
															<span class="flag flag--rus"></span>
														</div>
													</div>
												</div>
											</div>

											<div class="brand-card__visual">
												<div class="brand-card__cover">
													<img src="img/logo_eurosvet.jpg" alt="" class="brand-card__logo">
												</div>
											</div>
										</div>
										<div class="brand-card__favorites">
											Товары этого бренда добавили в избранное <strong>1600</strong> раз
										</div>
									</a>
								</div>

								<div class="pop-brands__col">
									<a href="#" class="brand-card">
										<div class="brand-card__main">
											<div class="brand-card__info">
												<div class="brand-card__title">Paulmann</div>
												<div class="brand-card__country">
													<div class="country-item">
														<div class="country-item__label">Страна:</div>
														<div class="country-item__value">
															<span class="country-item__name">Германия</span>
															<span class="flag flag--ger"></span>
														</div>
													</div>
												</div>
											</div>

											<div class="brand-card__visual">
												<div class="brand-card__cover">
													<img src="img/logo_paulmann.jpg" alt="" class="brand-card__logo">
												</div>
											</div>
										</div>
										<div class="brand-card__favorites">
											Товары этого бренда добавили в избранное <strong>1443</strong> раз
										</div>
									</a>
								</div>

								<div class="pop-brands__col">
									<a href="#" class="brand-card">
										<div class="brand-card__main">
											<div class="brand-card__info">
												<div class="brand-card__title">Lussole</div>
												<div class="brand-card__country">
													<div class="country-item">
														<div class="country-item__label">Страна:</div>
														<div class="country-item__value">
															<span class="country-item__name">Италия</span>
															<span class="flag flag--ita"></span>
														</div>
													</div>
												</div>
											</div>

											<div class="brand-card__visual">
												<div class="brand-card__cover">
													<img src="img/logo_lussole.jpg" alt="" class="brand-card__logo">
												</div>
											</div>
										</div>
										<div class="brand-card__favorites">
											Товары этого бренда добавили в избранное <strong>812</strong> раз
										</div>
									</a>
								</div>

								<div class="pop-brands__col">
									<a href="#" class="brand-card">
										<div class="brand-card__main">
											<div class="brand-card__info">
												<div class="brand-card__title">Artlight</div>
												<div class="brand-card__country">
													<div class="country-item">
														<div class="country-item__label">Страна:</div>
														<div class="country-item__value">
															<span class="country-item__name">Россия</span>
															<span class="flag flag--rus"></span>
														</div>
													</div>
												</div>
											</div>

											<div class="brand-card__visual">
												<div class="brand-card__cover">
													<img src="img/logo_artlight.jpg" alt="" class="brand-card__logo">
												</div>
											</div>
										</div>
										<div class="brand-card__favorites">
											Товары этого бренда добавили в избранное <strong>805</strong> раз
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="main__block">
					<div class="brands-block">
						<div class="brands-block__head">
							<nav class="tab-nav">
								<ul class="tab-nav__list">
									<li class="tab-nav__item">
										<a href="./brands_abc.html" class="tab-nav__link active">По алфавиту</a>
									</li>
									<li class="tab-nav__item">
										<a href="./brands_country.html" class="tab-nav__link">По странам</a>
									</li>
								</ul>
							</nav>
						</div>

						<div class="brands-block__body">
							<div class="brands-block__top">
								<div class="brands-search">
									<div class="brands-search__label">Поиск по бренду</div>
									<div class="brands-search__item">
										<input type="text" class="brands-search__input form-control" placeholder="Введите название бренда">
									</div>
								</div>
							</div>

							<div class="brands-block__list brands-list">
								<div class="brands-list__row">
									<div class="brands-list__col">
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">A</span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Abris</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Artlight</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Arte Lamp</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Arteva</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Artglass</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Artpole</a>
													</li>
												</ul>
											</nav>
										</div>
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">B</span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Baruss</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Bohemia Ivele</a>
													</li>
												</ul>
											</nav>
										</div>
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">C</span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Chiaro</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Citilux</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Crystal lux</a>
													</li>

												</ul>
											</nav>
										</div>
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">D</span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">DeMarkt</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Divinare</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Donolux</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">DREAMER</a>
													</li>
												</ul>
											</nav>
										</div>
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">E</span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Eglo</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Evrosvet</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Exellent</a>
													</li>
												</ul>
											</nav>
										</div>
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">F</span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Favourite</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Freya</a>
													</li>
												</ul>
											</nav>
										</div>
									</div>
									<div class="brands-list__col">
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">I</span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">I'Dreamex</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Ideal lux</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Iteria</a>
													</li>
												</ul>
											</nav>
										</div>
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">K</span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Kink Light</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Kutek</a>
													</li>
												</ul>
											</nav>
										</div>
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">L</span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">L'arte Luce</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Ledron</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Lightstar</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Loft It</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Lucide</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Lumion</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Lussole</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Lussole Loft</a>
													</li>
												</ul>
											</nav>
										</div>
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">M</span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Mantra</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Maytoni</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">MW-light</a>
													</li>
												</ul>
											</nav>
										</div>
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">N</span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Natural Concept</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">NewPort</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Nobile</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Novotech</a>
													</li>
												</ul>
											</nav>
										</div>
									</div>
									<div class="brands-list__col">
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">O</span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Odeon Light</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Omnilux</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Osgona</a>
													</li>
												</ul>
											</nav>
										</div>
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">P</span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Paulmann</a>
													</li>
												</ul>
											</nav>
										</div>
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">S</span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">SnowLight</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Sonex</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">St luche</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Sun Lumen</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Svetlon</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">SwLum</a>
													</li>
												</ul>
											</nav>
										</div>
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">U</span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Uniel</a>
													</li>
												</ul>
											</nav>
										</div>
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">А-Я</span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Аврора</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">АСД</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Декоратор</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Эра</a>
													</li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
