{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Бренды" %}

{% block content %}
{% include "includes/header.html" %}

<section class="main section">
	<div class="container">
		<div class="main__head">
			<h1 class="page-title">Бренды</h1>
		</div>

		<div class="main__body">
			<div class="main__wrap main__wrap--limited">
				<div class="main__block">
					<div class="pop-brands">
						<div class="pop-brands__head">
							<h2 class="subtitle">Популярные бренды</h2>
						</div>

						<div class="pop-brands__body">
							<div class="pop-brands__row">
								<div class="pop-brands__col">
									<a href="#" class="brand-card">
										<div class="brand-card__main">
											<div class="brand-card__info">
												<div class="brand-card__title">Arte Lamp</div>
												<div class="brand-card__country">
													<div class="country-item">
														<div class="country-item__label">Страна:</div>
														<div class="country-item__value">
															<span class="country-item__name">Италия</span>
															<span class="flag flag--ita"></span>
														</div>
													</div>
												</div>
											</div>

											<div class="brand-card__visual">
												<div class="brand-card__cover">
													<img src="img/logo_arte-lamp.jpg" alt="" class="brand-card__logo">
												</div>
											</div>
										</div>
										<div class="brand-card__favorites">
											Товары этого бренда добавили в избранное <strong>2000</strong> раз
										</div>
									</a>
								</div>

								<div class="pop-brands__col">
									<a href="#" class="brand-card">
										<div class="brand-card__main">
											<div class="brand-card__info">
												<div class="brand-card__title">Baruss</div>
												<div class="brand-card__country">
													<div class="country-item">
														<div class="country-item__label">Страна:</div>
														<div class="country-item__value">
															<span class="country-item__name">Россия</span>
															<span class="flag flag--rus"></span>
														</div>
													</div>
												</div>
											</div>

											<div class="brand-card__visual">
												<div class="brand-card__cover">
													<img src="img/logo_baruss.jpg" alt="" class="brand-card__logo">
												</div>
											</div>
										</div>
										<div class="brand-card__favorites">
											Товары этого бренда добавили в избранное <strong>1880</strong> раз
										</div>
									</a>
								</div>

								<div class="pop-brands__col">
									<a href="#" class="brand-card">
										<div class="brand-card__main">
											<div class="brand-card__info">
												<div class="brand-card__title">Евросвет</div>
												<div class="brand-card__country">
													<div class="country-item">
														<div class="country-item__label">Страна:</div>
														<div class="country-item__value">
															<span class="country-item__name">Россия</span>
															<span class="flag flag--rus"></span>
														</div>
													</div>
												</div>
											</div>

											<div class="brand-card__visual">
												<div class="brand-card__cover">
													<img src="img/logo_eurosvet.jpg" alt="" class="brand-card__logo">
												</div>
											</div>
										</div>
										<div class="brand-card__favorites">
											Товары этого бренда добавили в избранное <strong>1600</strong> раз
										</div>
									</a>
								</div>

								<div class="pop-brands__col">
									<a href="#" class="brand-card">
										<div class="brand-card__main">
											<div class="brand-card__info">
												<div class="brand-card__title">Paulmann</div>
												<div class="brand-card__country">
													<div class="country-item">
														<div class="country-item__label">Страна:</div>
														<div class="country-item__value">
															<span class="country-item__name">Германия</span>
															<span class="flag flag--ger"></span>
														</div>
													</div>
												</div>
											</div>

											<div class="brand-card__visual">
												<div class="brand-card__cover">
													<img src="img/logo_paulmann.jpg" alt="" class="brand-card__logo">
												</div>
											</div>
										</div>
										<div class="brand-card__favorites">
											Товары этого бренда добавили в избранное <strong>1443</strong> раз
										</div>
									</a>
								</div>

								<div class="pop-brands__col">
									<a href="#" class="brand-card">
										<div class="brand-card__main">
											<div class="brand-card__info">
												<div class="brand-card__title">Lussole</div>
												<div class="brand-card__country">
													<div class="country-item">
														<div class="country-item__label">Страна:</div>
														<div class="country-item__value">
															<span class="country-item__name">Италия</span>
															<span class="flag flag--ita"></span>
														</div>
													</div>
												</div>
											</div>

											<div class="brand-card__visual">
												<div class="brand-card__cover">
													<img src="img/logo_lussole.jpg" alt="" class="brand-card__logo">
												</div>
											</div>
										</div>
										<div class="brand-card__favorites">
											Товары этого бренда добавили в избранное <strong>812</strong> раз
										</div>
									</a>
								</div>

								<div class="pop-brands__col">
									<a href="#" class="brand-card">
										<div class="brand-card__main">
											<div class="brand-card__info">
												<div class="brand-card__title">Artlight</div>
												<div class="brand-card__country">
													<div class="country-item">
														<div class="country-item__label">Страна:</div>
														<div class="country-item__value">
															<span class="country-item__name">Россия</span>
															<span class="flag flag--rus"></span>
														</div>
													</div>
												</div>
											</div>

											<div class="brand-card__visual">
												<div class="brand-card__cover">
													<img src="img/logo_artlight.jpg" alt="" class="brand-card__logo">
												</div>
											</div>
										</div>
										<div class="brand-card__favorites">
											Товары этого бренда добавили в избранное <strong>805</strong> раз
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="main__block">
					<div class="brands-block">
						<div class="brands-block__head">
							<nav class="tab-nav">
								<ul class="tab-nav__list">
									<li class="tab-nav__item">
										<a href="./brands_abc.html" class="tab-nav__link">По алфавиту</a>
									</li>
									<li class="tab-nav__item">
										<a href="./brands_country.html" class="tab-nav__link active">По странам</a>
									</li>
								</ul>
							</nav>
						</div>

						<div class="brands-block__body">
							<div class="brands-block__list brands-list">
								<div class="brands-list__row">
									<div class="brands-list__col">
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">Австралия</span>
													<span class="flag flag--aus"></span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Eglo</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Globo</a>
													</li>
												</ul>
											</nav>
										</div>
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">Бельгия</span>
													<span class="flag flag--bel"></span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Baruss</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Bohemia Ivele</a>
													</li>
												</ul>
											</nav>
										</div>
									</div>
									<div class="brands-list__col">
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">Венгрия</span>
													<span class="flag flag--hun"></span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Legrand</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Novotex</a>
													</li>
												</ul>
											</nav>
										</div>
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">Германия</span>
													<span class="flag flag--ger"></span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Brilliant</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Chiaro</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">De Markt</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Favourite</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Freya</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Lamp4you</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Maytoni</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">MW-light</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Osram</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Paulmann</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">RegenBogen Life</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">SLV</a>
													</li>
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Voltega</a>
													</li>
												</ul>
											</nav>
										</div>
									</div>
									<div class="brands-list__col">
										<div class="brands-list__nav">
											<nav class="brands-nav">
												<div class="brands-nav__title">
													<span class="brands-nav__name">Дания</span>
													<span class="flag flag--den"></span>
												</div>

												<ul class="brands-nav__list">
													<li class="brands-nav__item">
														<a href="#" class="brands-nav__link">Lummen</a>
													</li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
