{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Корзина" %}

{% block content %}
{% include "includes/header.html" %}

<section class="main cart-page section">
	<div class="container">
		<div class="main__head">
			<h1 class="page-title">Корзина</h1>
		</div>

		<div class="main__body">
			<div class="main__grid">
				<div class="main__half">
					<div class="cart-page__body">
						<div class="cart-page__block">
							<div class="cart-page__tbl">
								<div class="cart-tbl">
									<div class="cart-tbl__head">
										<div class="cart-tbl__row cart-tbl__row--aife">
											<div class="cart-tbl__col">
												<div class="cart-tbl__title">1 Товар</div>
											</div>
											<div class="cart-tbl__col">
												<div class="cart-tbl__label">Количество</div>
											</div>
											<div class="cart-tbl__col">
												<div class="cart-tbl__label">Цена</div>
											</div>
										</div>
									</div>

									<div class="cart-tbl__body">
										<div class="cart-tbl__item">
											<div class="cart-tbl__row">
												<div class="cart-tbl__col">
													<div class="cart-tbl__main">
														<div class="cart-tbl__photo">
															<img src="img/img_prod-sm_01.jpg" alt="" class="cart-tbl__img">
														</div>

														<div class="cart-tbl__name">
															<a href="#" class="cart-tbl__name-link">Люстра Vibrant A6412SP-5CC</a>
														</div>
													</div>
												</div>
												<div class="cart-tbl__col">
													<div class="cart-tbl__qty">
														<div class="qty">
															<button class="qty__btn">-</button>
															<div class="qty__main">
																<span class="qty__value">1</span> 
																<span class="qty__label">шт.</span>
															</div>
															<button class="qty__btn">+</button>
														</div>
													</div>
												</div>
												<div class="cart-tbl__col">
													<div class="cart-tbl__price"><span>7 500</span> руб.</div>
													<div class="cart-tbl__ctrl">
														<a href="#" class="link-delete">Удалить товар</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="cart-page__notification">
								<div class="notification">
									<div class="notification__text">
										За покупку вам будет начислено <span>1400</span> баллов
									</div>
								</div>
							</div>
						</div>

						<div class="cart-page__block">
							<div class="cart-page__subtitle">Дополнительные услуги:</div>
							<div class="cart-page__wrap">
								<div class="add-services">
									<div class="add-services__item">
										<div class="add-srvc">
											<div class="add-srvc__checkbox">
												<label class="checkbox">
													<input type="checkbox" class="checkbox__input">
													<span class="checkbox__label checkbox__label--blank"></span>
												</label>
											</div>
											<div class="add-srvc__main">
												<div class="add-srvc__name">Установка люстры</div>
												<div class="add-srvc__ctrl">
													<a href="#" class="link">Подробнее</a>
												</div>
											</div>

											<div class="add-srvc__price">
												<span>450</span> руб.
											</div>
										</div>
									</div>

									<div class="add-services__item">
										<div class="add-srvc">
											<div class="add-srvc__checkbox">
												<label class="checkbox">
													<input type="checkbox" class="checkbox__input">
													<span class="checkbox__label checkbox__label--blank"></span>
												</label>
											</div>
											<div class="add-srvc__main">
												<div class="add-srvc__name">Демонтаж старой люстры</div>
												<div class="add-srvc__ctrl">
													<a href="#" class="link">Подробнее</a>
												</div>
											</div>

											<div class="add-srvc__price">
												<span>450</span> руб.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="cart-page__block">
							<div class="cart-page__subtitle">Лучшие аксессуары:</div>
							<div class="cart-page__wrap">
								<div class="cart-accessories">
									<div class="cart-accessories__item">
										<div class="cart-accessory">
											<div class="cart-accessory__head">
												<div class="cart-accessory__row">
													<div class="cart-accessory__col">
														<div class="cart-accessory__label">Наименование</div>
													</div>
													<div class="cart-accessory__col">
														<div class="cart-accessory__label">Цена</div>
													</div>
													<div class="cart-accessory__col"></div>
												</div>
											</div>

											<div class="cart-accessory__body">
												<div class="cart-accessory__row">
													<div class="cart-accessory__col">
														<div class="cart-accessory__main">
															<div class="cart-accessory__photo">
																<img src="img/img_accessory-xs_01.jpg" alt="" class="cart-accessory__img">
															</div>

															<div class="cart-accessory__name">
																<a href="#" class="cart-accessory__name-link">Лампа светодиодная E14 Gauss</a>
															</div>
														</div>
													</div>
													<div class="cart-accessory__col">
														<div class="cart-accessory__price"><span>250</span> руб.</div>
													</div>
													<div class="cart-accessory__col">
														<a href="#" class="btn btn--md btn--main">Добавить к заказу</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="cart-accessories__item">
										<div class="cart-accessory">
											<div class="cart-accessory__head">
												<div class="cart-accessory__row">
													<div class="cart-accessory__col">
														<div class="cart-accessory__label">Наименование</div>
													</div>
													<div class="cart-accessory__col">
														<div class="cart-accessory__label">Цена</div>
													</div>
													<div class="cart-accessory__col"></div>
												</div>
											</div>

											<div class="cart-accessory__body">
												<div class="cart-accessory__row">
													<div class="cart-accessory__col">
														<div class="cart-accessory__main">
															<div class="cart-accessory__photo">
																<img src="img/img_accessory-xs_01.jpg" alt="" class="cart-accessory__img">
															</div>

															<div class="cart-accessory__name">
																<a href="#" class="cart-accessory__name-link">Лампа светодиодная E14 Gauss</a>
															</div>
														</div>
													</div>
													<div class="cart-accessory__col">
														<div class="cart-accessory__price"><span>250</span> руб.</div>
													</div>
													<div class="cart-accessory__col">
														<a href="#" class="btn btn--md btn--main">Добавить к заказу</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="cart-accessories__item">
										<div class="cart-accessory">
											<div class="cart-accessory__head">
												<div class="cart-accessory__row">
													<div class="cart-accessory__col">
														<div class="cart-accessory__label">Наименование</div>
													</div>
													<div class="cart-accessory__col">
														<div class="cart-accessory__label">Цена</div>
													</div>
													<div class="cart-accessory__col"></div>
												</div>
											</div>

											<div class="cart-accessory__body">
												<div class="cart-accessory__row">
													<div class="cart-accessory__col">
														<div class="cart-accessory__main">
															<div class="cart-accessory__photo">
																<img src="img/img_accessory-xs_01.jpg" alt="" class="cart-accessory__img">
															</div>

															<div class="cart-accessory__name">
																<a href="#" class="cart-accessory__name-link">Лампа светодиодная E14 Gauss</a>
															</div>
														</div>
													</div>
													<div class="cart-accessory__col">
														<div class="cart-accessory__price"><span>250</span> руб.</div>
													</div>
													<div class="cart-accessory__col">
														<a href="#" class="btn btn--md btn--main">Добавить к заказу</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="main__half">
					<div class="cart-page__body">
						<div class="cart-page__block">
							<div class="cart-page__title">1. Евгений Звягинцев <sup><a href="#" class="link">Изменить</a></sup></div>						
						</div>

						<div class="cart-page__block">
							<div class="cart-page__title">2. Выбор способа оплаты и доставки</div>

							<div class="cart-page__wrap">
								<div class="cart-page__box">
									<div class="shipp-box cart-box">
										<div class="shipp-box__top">
											<div class="cart-box__title shipp-box__title">Доставка и самовывоз из г. Москва</div>
											<div class="shipp-box__ctrl">
												<a href="#" class="link link--dashed">Изменить город</a>
											</div>
										</div>

										<div class="shipp-box__body">
											<div class="shipp-box__item">
												<div class="shipp-box__row">
													<div class="shipp-box__way">
														<label class="radio">
															<input name="shipp-way" type="radio" class="radio__input" checked>
															<span class="radio__label">Самовывоз из фирменного магазина</span>
														</label>
													</div>
													<div class="shipp-box__prices">
														0 руб.
													</div>
													<div class="shipp-box__details">
														В наличии
													</div>
												</div>

												<div class="shipp-box__info">
													<div class="shipp-box__value">
														<div class="shipp-box__select">
															<select class="form-control">
																<option selected>г. Москва, ул. Каляева, 13</option>
																<option>г. Москва, ул. Победы, 10</option>
																<option>г. Москва, ул. Мира, 24</option>
															</select>
														</div>

														<div class="shipp-box__extra">
															<p>
																График работы магазина:<br>
																ПН-ПТ с 9:00 до 18:00<br>
																СБ-ВС Выходные
															</p>
															<p>+7(999) 999-99-99</p>
														</div>
													</div>
													<div class="shipp-box__ctrl">
														<a href="#" class="link link--dashed link--map">см. на карте</a>
													</div>
												</div>
											</div>
											<div class="shipp-box__item">
												<div class="shipp-box__row">
													<div class="shipp-box__way">
														<label class="radio">
															<input name="shipp-way" type="radio" class="radio__input">
															<span class="radio__label">Доставка DPD</span>
														</label>
													</div>
													<div class="shipp-box__prices">
														5 дней/300 руб.
													</div>
													<div class="shipp-box__details">
														Будет передан в службу доставки завтра
													</div>
												</div>
											</div>
											<div class="shipp-box__item">
												<div class="shipp-box__row">
													<div class="shipp-box__way">
														<label class="radio">
															<input name="shipp-way" type="radio" class="radio__input">
															<span class="radio__label">Доставка  Почтой России</span>
														</label>
													</div>
													<div class="shipp-box__prices">
														7 дней/100 руб.
													</div>
													<div class="shipp-box__details">
														Будет передан в службу доставки завтра
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="cart-page__box">
									<div class="pay-box cart-box">
										<div class="pay-box__wrap">
											<div class="pay-box__title cart-box__title">Способ оплаты</div>
											<div class="pay-box__list">
												<div class="pay-box__item">
													<label class="radio">
														<input name="pay-way" type="radio" class="radio__input">
														<span class="radio__label">Наличные</span>
													</label>
												</div>
												<div class="pay-box__item">
													<label class="radio">
														<input name="pay-way" type="radio" class="radio__input" checked>
														<span class="radio__label">Банковская карта</span>
													</label>
												</div>
												<div class="pay-box__item">
													<label class="radio">
														<input name="pay-way" type="radio" class="radio__input">
														<span class="radio__label">Кредит</span>
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="cart-page__box cart-page__box--limited">
									<div class="cart-page__points">
										<div class="cart-points">
											<div class="cart-points__box">
												<div class="points-box cart-box">
													<div class="points-box__title">Баллы</div>
													<div class="points-box__value">
														<span>450</span> баллов
													</div>
													<div class="points-box__info">Баллами можно оплатить 70% покупки</div>
													<div class="points-box__ctrl">
														<a href="#" class="link link--dashed">История начисления баллов</a>
													</div>
												</div>
											</div>

											<div class="cart-points__form">
												<div class="form-group">
													<input type="text" class="form-control" placeholder="Сумма списания баллов">
												</div>
												<div class="form-group">
													<button class="btn btn--blue btn--md">Применить баллы</button>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="cart-page__box cart-page__box--limited">
									<div class="order-add">
										<div class="order-add__block">
											<div class="order-add__title">
												Комментарий к заказу:
											</div>
											<div class="order-add__wrap">
												<textarea rows="5" class="form-control" placeholder="Ваши пожелания к заказу: удобное для вас время доставки, дополнительные данные по адресу и т.д."></textarea>
											</div>
										</div>

										<div class="order-add__block">
											<div class="order-add__title">
												Предпочитаемый способ связи:
											</div>
											<div class="order-add__wrap">
												<div class="comm-options">
													<div class="comm-options__list">
														<div class="comm-options__item">
															<label class="comm-radio">
																<input name="comm" type="radio" class="comm-radio__input" checked>
																<div class="comm-radio__main">
																	<div class="comm-radio__label comm-radio__label--phone">Телефон</div>
																</div>
															</label>
														</div>
														<div class="comm-options__item">
															<label class="comm-radio">
																<input name="comm" type="radio" class="comm-radio__input">
																<div class="comm-radio__main">
																	<div class="comm-radio__label comm-radio__label--email">Почта</div>
																</div>
															</label>
														</div>
														<div class="comm-options__item">
															<label class="comm-radio">
																<input name="comm" type="radio" class="comm-radio__input">
																<div class="comm-radio__main">
																	<div class="comm-radio__label comm-radio__label--telegram">Telegram</div>
																</div>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="cart-page__box cart-page__box--limited">
									<div class="order-sum">
										<div class="order-sum__title">Ваш заказ:</div>

										<div class="order-sum__list">
											<div class="order-sum__item">
												<div class="order-sum__label">1 товар на сумму</div>
												<div class="order-sum__value">7 500 руб.</div>
											</div>
											<div class="order-sum__item">
												<div class="order-sum__label">Стоимость доставки</div>
												<div class="order-sum__value">{xxx руб.}</div>
											</div>
											<div class="order-sum__item">
												<div class="order-sum__label">Способ получения</div>
												<div class="order-sum__value">{Способ}</div>
											</div>
											<div class="order-sum__item">
												<div class="order-sum__label">Ваша скидка</div>
												<div class="order-sum__value">{Сумма примененных баллов}</div>
											</div>
											<div class="order-sum__item">
												<div class="order-sum__label">Способ оплаты</div>
												<div class="order-sum__value">{Способ оплаты}</div>
											</div>
											<div class="order-sum__item order-sum__item--last">
												<div class="order-sum__label">Итого к оплате</div>
												<div class="order-sum__value order-sum__value--main">{Сумма к оплате}</div>
											</div>
										</div>
									</div>
								</div>

								<div class="cart-page__bottom">
									<div class="cart-page__submit">
										<button class="btn btn--green">Заказ подтверждаю</button>
									</div>
									<div class="cart-page__extra">
										Нажимая на кнопку «Заказ подтверждаю», вы принимаете условия <a href="#" class="link link--dashed">Публичной оферты</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
