{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Корзина" %}

{% block content %}
{% include "includes/header.html" %}

<section class="main cart-page section">
	<div class="container">
		<div class="main__head">
			<h1 class="page-title">Корзина</h1>
		</div>

		<div class="main__body">
			<div class="main__grid">
				<div class="main__half">
					<div class="cart-page__body">
						<div class="cart-sum">
							<div class="cart-sum__main">
								Итого: <span>8 000</span> руб.
							</div>
							<div class="cart-sum__extra">
								<div class="cart-sum__btns">
									<div class="cart-sum__btn">
										<a href="#" class="btn btn--green">Оформить заказ</a>
									</div>
									<div class="cart-sum__btn">
										<a href="#" class="btn btn--write">Оформить в 1 клик</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="main__half">
					{% include "includes/cart-right.html" %}
				</div>			
			</div>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
