{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Корзина" %}

{% block content %}
{% include "includes/header.html" %}

<section class="main cart-page section">
	<div class="container">
		<div class="main__head">
			<h1 class="page-title">Корзина</h1>
		</div>

		<div class="main__body">
			<div class="main__grid">
				<div class="main__half">
					<div class="cart-page__body">
						<div class="cart-page__block">
							<div class="cart-page__tbl">
								<div class="cart-tbl">
									<div class="cart-tbl__head">
										<div class="cart-tbl__row cart-tbl__row--aife">
											<div class="cart-tbl__col">
												<div class="cart-tbl__title">1 Товар</div>
											</div>
											<div class="cart-tbl__col">
												<div class="cart-tbl__label">Количество</div>
											</div>
											<div class="cart-tbl__col">
												<div class="cart-tbl__label">Цена</div>
											</div>
										</div>
									</div>

									<div class="cart-tbl__body">
										<div class="cart-tbl__item">
											<div class="cart-tbl__row">
												<div class="cart-tbl__col">
													<div class="cart-tbl__main">
														<div class="cart-tbl__photo">
															<img src="img/img_prod-sm_01.jpg" alt="" class="cart-tbl__img">
														</div>

														<div class="cart-tbl__name">
															<a href="#" class="cart-tbl__name-link">Люстра Vibrant A6412SP-5CC</a>
														</div>
													</div>
												</div>
												<div class="cart-tbl__col">
													<div class="cart-tbl__qty">
														<div class="qty">
															<button class="qty__btn">-</button>
															<div class="qty__main">
																<span class="qty__value">1</span> 
																<span class="qty__label">шт.</span>
															</div>
															<button class="qty__btn">+</button>
														</div>
													</div>
												</div>
												<div class="cart-tbl__col">
													<div class="cart-tbl__price"><span>7 500</span> руб.</div>
													<div class="cart-tbl__ctrl">
														<a href="#" class="link-delete">Удалить товар</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="cart-page__notification">
								<div class="notification">
									<div class="notification__text">
										За покупку вам будет начислено <span>1400</span> баллов
									</div>
								</div>
							</div>
						</div>

						<div class="cart-page__block">
							<div class="cart-page__subtitle">Дополнительные услуги:</div>
							<div class="cart-page__wrap">
								<div class="add-services">
									<div class="add-services__item">
										<div class="add-srvc">
											<div class="add-srvc__checkbox">
												<label class="checkbox">
													<input type="checkbox" class="checkbox__input">
													<span class="checkbox__label checkbox__label--blank"></span>
												</label>
											</div>
											<div class="add-srvc__main">
												<div class="add-srvc__name">Установка люстры</div>
												<div class="add-srvc__ctrl">
													<a href="#" class="link">Подробнее</a>
												</div>
											</div>

											<div class="add-srvc__price">
												<span>450</span> руб.
											</div>
										</div>
									</div>

									<div class="add-services__item">
										<div class="add-srvc">
											<div class="add-srvc__checkbox">
												<label class="checkbox">
													<input type="checkbox" class="checkbox__input">
													<span class="checkbox__label checkbox__label--blank"></span>
												</label>
											</div>
											<div class="add-srvc__main">
												<div class="add-srvc__name">Демонтаж старой люстры</div>
												<div class="add-srvc__ctrl">
													<a href="#" class="link">Подробнее</a>
												</div>
											</div>

											<div class="add-srvc__price">
												<span>450</span> руб.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="cart-page__block">
							<div class="cart-page__subtitle">Лучшие аксессуары:</div>
							<div class="cart-page__wrap">
								<div class="cart-accessories">
									<div class="cart-accessories__item">
										<div class="cart-accessory">
											<div class="cart-accessory__head">
												<div class="cart-accessory__row">
													<div class="cart-accessory__col">
														<div class="cart-accessory__label">Наименование</div>
													</div>
													<div class="cart-accessory__col">
														<div class="cart-accessory__label">Цена</div>
													</div>
													<div class="cart-accessory__col"></div>
												</div>
											</div>

											<div class="cart-accessory__body">
												<div class="cart-accessory__row">
													<div class="cart-accessory__col">
														<div class="cart-accessory__main">
															<div class="cart-accessory__photo">
																<img src="img/img_accessory-xs_01.jpg" alt="" class="cart-accessory__img">
															</div>

															<div class="cart-accessory__name">
																<a href="#" class="cart-accessory__name-link">Лампа светодиодная E14 Gauss</a>
															</div>
														</div>
													</div>
													<div class="cart-accessory__col">
														<div class="cart-accessory__price"><span>250</span> руб.</div>
													</div>
													<div class="cart-accessory__col">
														<a href="#" class="btn btn--md btn--main">Добавить к заказу</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="cart-accessories__item">
										<div class="cart-accessory">
											<div class="cart-accessory__head">
												<div class="cart-accessory__row">
													<div class="cart-accessory__col">
														<div class="cart-accessory__label">Наименование</div>
													</div>
													<div class="cart-accessory__col">
														<div class="cart-accessory__label">Цена</div>
													</div>
													<div class="cart-accessory__col"></div>
												</div>
											</div>

											<div class="cart-accessory__body">
												<div class="cart-accessory__row">
													<div class="cart-accessory__col">
														<div class="cart-accessory__main">
															<div class="cart-accessory__photo">
																<img src="img/img_accessory-xs_01.jpg" alt="" class="cart-accessory__img">
															</div>

															<div class="cart-accessory__name">
																<a href="#" class="cart-accessory__name-link">Лампа светодиодная E14 Gauss</a>
															</div>
														</div>
													</div>
													<div class="cart-accessory__col">
														<div class="cart-accessory__price"><span>250</span> руб.</div>
													</div>
													<div class="cart-accessory__col">
														<a href="#" class="btn btn--md btn--main">Добавить к заказу</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="cart-accessories__item">
										<div class="cart-accessory">
											<div class="cart-accessory__head">
												<div class="cart-accessory__row">
													<div class="cart-accessory__col">
														<div class="cart-accessory__label">Наименование</div>
													</div>
													<div class="cart-accessory__col">
														<div class="cart-accessory__label">Цена</div>
													</div>
													<div class="cart-accessory__col"></div>
												</div>
											</div>

											<div class="cart-accessory__body">
												<div class="cart-accessory__row">
													<div class="cart-accessory__col">
														<div class="cart-accessory__main">
															<div class="cart-accessory__photo">
																<img src="img/img_accessory-xs_01.jpg" alt="" class="cart-accessory__img">
															</div>

															<div class="cart-accessory__name">
																<a href="#" class="cart-accessory__name-link">Лампа светодиодная E14 Gauss</a>
															</div>
														</div>
													</div>
													<div class="cart-accessory__col">
														<div class="cart-accessory__price"><span>250</span> руб.</div>
													</div>
													<div class="cart-accessory__col">
														<a href="#" class="btn btn--md btn--main">Добавить к заказу</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="main__half">
					<div class="cart-page__body">
						<div class="cart-page__block">
							<div class="cart-page__title">1. Контактные данные</div>

							<div class="cart-page__wrap">
								<form action="./" class="cart-page__form cart-form">
									<div class="cart-form__group form-group">
										<div class="cart-form__label">Мобильный телефон</div>

										<div class="cart-form__main">
											<div class="cart-form__item">
												<input type="tel" class="cart-form__input form-control">
											</div>
										</div>
									</div>

									<div class="cart-form__group form-group">
										<div class="cart-form__label">Город</div>
										<div class="cart-form__main">
											<div class="cart-form__item">
												<input type="text" class="cart-form__input form-control">
											</div>
											<div class="cart-form__help form-help">
												Мы определили, что ваш город <a href="#" class="link link--dashed">Москва</a>
											</div>
										</div>
									</div>

									<div class="cart-form__group form-group">
										<div class="cart-form__label">Имя и фамилия</div>
										<div class="cart-form__main">
											<div class="cart-form__item">
												<input type="text" class="cart-form__input form-control">
											</div>
										</div>
									</div>

									<div class="cart-form__group form-group">
										<div class="cart-form__label">Электронная почта</div>
										<div class="cart-form__main">
											<div class="cart-form__item">
												<input type="email" class="cart-form__input form-control" value="user@mail.ru">
											</div>
										</div>
									</div>

									<div class="cart-form__extra">
										<div class="cart-form__text">
											<p>Покупатель с этим адресом эл. почты уже зарегистрирован на сайте!</p>
											<p>Войдите с паролем и мы сохраним этот заказ в Вашем личном кабинете, либо продолжите без подтверждения этого адреса эл. почты:</p>
										</div>
										<div class="cart-form__submit">
											<button class="btn btn--green" type="submit">Продолжить</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
