{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Корзина" %}

{% block content %}
{% include "includes/header.html" %}

<section class="main cart-page section">
	<div class="container">
		<div class="main__head">
			<h1 class="page-title">Корзина</h1>
		</div>

		<div class="main__body">
			<div class="main__grid">
				<div class="main__half">
					<div class="cart-page__body">
						<div class="cart-page__block">
							<div class="cart-sum">
								<div class="cart-sum__main">
									Итого: <span>8 000</span> руб.
								</div>
								<div class="cart-sum__extra">
									<div class="cart-sum__btns">
										<div class="cart-sum__btn">
											<a href="#" class="btn btn--write">Оформить в 1 клик</a>
										</div>
									</div>
								</div>

								<div class="cart-sum__bottom">
									<div class="customers">
										<div class="customers__item">
											<a href="#" class="customers__link active">Я новый покупатель</a>
										</div>
										<div class="customers__item">
											<a href="#" class="customers__link">Я постоянный клиент</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="cart-page__block">

							<form action="./" class="cart-page__form cart-form">
								<div class="cart-form__group form-group">
									<div class="cart-form__label">Имя и фамилия</div>
									<div class="cart-form__main">
										<div class="cart-form__item">
											<input type="text" class="cart-form__input form-control">
										</div>
									</div>
								</div>

								<div class="cart-form__group form-group">
									<div class="cart-form__label">Электронная почта</div>
									<div class="cart-form__main">
										<div class="cart-form__item">
											<input type="email" class="cart-form__input form-control">
										</div>
									</div>
								</div>

								<div class="cart-form__group form-group">
									<div class="cart-form__label">Мобильный телефон</div>

									<div class="cart-form__main">
										<div class="cart-form__item">
											<input type="tel" class="cart-form__input form-control">
										</div>								
									</div>
								</div>

								<div class="cart-form__extra">
									<div class="cart-form__text">
										<p>Данный телефон, уже есть в базе. Пожалуйста, <a href="#" class="link">авторизуйтесь</a>, чтобы воспользоваться всеми преимуществами.</p>
									</div>
								</div>
							</form>

							<div class="cart-page__wrap">
								<div class="cart-page__box">
									<div class="shipp-box cart-box">
										<div class="shipp-box__top">
											<div class="cart-box__title shipp-box__title">Доставка и самовывоз из г. Москва</div>
											<div class="shipp-box__ctrl">
												<a href="#" class="link link--dashed">Изменить город</a>
											</div>
										</div>

										<div class="shipp-box__body">
											<div class="shipp-box__item">
												<div class="shipp-box__row">
													<div class="shipp-box__way">
														<label class="radio">
															<input name="shipp-way" type="radio" class="radio__input" checked="">
															<span class="radio__label">Самовывоз из фирменного магазина</span>
														</label>
													</div>
													<div class="shipp-box__prices">
														0&nbsp;руб.
													</div>
													<div class="shipp-box__details">
														от 1 до 2 дней
													</div>
												</div>

												<div class="shipp-box__info">
													<div class="shipp-box__value">
														<div class="shipp-box__select">
															<select class="form-control">
																<option selected="">г. Москва, ул. Каляева, 13</option>
																<option>г. Москва, ул. Победы, 10</option>
																<option>г. Москва, ул. Мира, 24</option>
															</select>
														</div>

														<div class="shipp-box__extra">
															<p>
																График работы:<br>
																Ежедневно с 10:00 до 21:00
															</p>
														</div>
													</div>
													<div class="shipp-box__ctrl">
														<a href="#" class="link link--dashed link--map">см. на карте</a>
													</div>
												</div>
											</div>
											<div class="shipp-box__item">
												<div class="shipp-box__row">
													<div class="shipp-box__way">
														<label class="radio">
															<input name="shipp-way" type="radio" class="radio__input">
															<span class="radio__label">Фирменная доставка</span>
														</label>
													</div>
													<div class="shipp-box__prices">
														500&nbsp;руб.
													</div>
													<div class="shipp-box__details">
														от 1 до 2 дней
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="cart-page__box">
									<div class="pay-box cart-box">
										<div class="pay-box__wrap">
											<div class="pay-box__title cart-box__title">Способ оплаты</div>
											<div class="pay-box__list">
												<div class="pay-box__item">
													<label class="radio">
														<input name="pay-way" type="radio" class="radio__input">
														<span class="radio__label">Наличные</span>
													</label>
												</div>
												<div class="pay-box__item">
													<label class="radio">
														<input name="pay-way" type="radio" class="radio__input" checked="">
														<span class="radio__label">Картой при доставке</span>
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="cart-page__box cart-page__box--mt">
									<div class="cart-page__title">Баланс вашего счёта: <span>700</span> руб.</div>

									<div class="cart-page__points">
										<div class="cart-points">
											<div class="cart-points__description">Баллами можно оплатить 70% покупки</div>
											<div class="cart-points__wrap">
												<div class="cart-points__range">
													<div class="range">
														<div class="range__line"></div>
														<div class="range__current" style="width: 71.5%"></div>
														<div class="range__handle" style="left: 71.5%"></div>
													</div>
												</div>

												<div class="cart-points__item">
													<input type="text" class="form-control" value="500">
												</div>
												<div class="cart-points__btn">
													<button class="btn btn--blue">Списать</button>
												</div>
											</div>
											
										</div>
									</div>
								</div>

								<div class="cart-page__box cart-page__box--mt">
									<div class="order-add">
										<div class="order-add__block">
											<div class="order-add__title">
												Комментарий к заказу:
											</div>
											<div class="order-add__wrap">
												<textarea rows="4" class="form-control" placeholder="Ваши пожелания к заказу: удобное для вас время доставки, дополнительные данные по адресу и т.д."></textarea>
											</div>
										</div>

										<div class="order-add__block">
											<div class="order-add__title">
												Предпочитаемый способ связи:
											</div>
											<div class="order-add__wrap">
												<div class="comm-options">
													<div class="comm-options__list">
														<div class="comm-options__item">
															<label class="comm-radio">
																<input name="comm" type="radio" class="comm-radio__input" checked="">
																<div class="comm-radio__main">
																	<div class="comm-radio__label comm-radio__label--phone">Телефон</div>
																</div>
															</label>
														</div>
														<div class="comm-options__item">
															<label class="comm-radio">
																<input name="comm" type="radio" class="comm-radio__input">
																<div class="comm-radio__main">
																	<div class="comm-radio__label comm-radio__label--email">Почта</div>
																</div>
															</label>
														</div>
														<div class="comm-options__item">
															<label class="comm-radio">
																<input name="comm" type="radio" class="comm-radio__input">
																<div class="comm-radio__main">
																	<div class="comm-radio__label comm-radio__label--telegram">Telegram</div>
																</div>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="cart-page__box cart-page__box--mt">
									<div class="order-sum">
										<div class="order-sum__title">Ваш заказ:</div>

										<div class="order-sum__list">
											<div class="order-sum__item">
												<div class="order-sum__label">1 товар на сумму</div>
												<div class="order-sum__value">7&nbsp;500&nbsp;руб.</div>
											</div>
											<div class="order-sum__item">
												<div class="order-sum__label">Стоимость доставки</div>
												<div class="order-sum__value">500&nbsp;руб.</div>
											</div>
											<div class="order-sum__item">
												<div class="order-sum__label">Способ получения</div>
												<div class="order-sum__value">Самовывоз из фирменного магазина</div>
											</div>
											<div class="order-sum__item order-sum__item--last">
												<div class="order-sum__label">Итого к оплате</div>
												<div class="order-sum__value order-sum__value--main">8 000 руб.</div>
											</div>
										</div>
									</div>
								</div>

								<div class="cart-page__bottom">
									<div class="cart-page__submit">
										<button class="btn btn--green">Заказ подтверждаю</button>
									</div>
									<div class="cart-page__extra">
										Нажимая на кнопку «Заказ подтверждаю», вы принимаете условия <a href="#" class="link link--dashed">Публичной оферты</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="main__half">
					{% include "includes/cart-right.html" %}
				</div>				
			</div>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
