{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Каталог" %}

{% block content %}
{% include "includes/header.html" %}

<div class="extra-box">
	<div class="container">
		<div class="extra-box__wrap">
			<button class="extra-box__close">Закрыть</button>
			<div class="extra-box__main">
				<div class="extra-box__title">Кэшбек возврат часть денег за покупку!</div>
				<div class="extra-box__steps">
					<div class="extra-box__step">
						<div class="extra-step">
							<div class="extra-step__visual extra-step__visual--first">
								<div class="extra-step__num">1</div>
							</div>
							<div class="extra-step__main">
								<div class="extra-step__description">
									Подберите и купите <strong>любой товар</strong>
								</div>
							</div>
						</div>
					</div>
					<div class="extra-box__step">
						<div class="extra-step">
							<div class="extra-step__visual">
								<div class="extra-step__num">2</div>
							</div>
							<div class="extra-step__main">
								<div class="extra-step__description">
									<strong>В течение 24 часов</strong> после доставки <strong>вам будет начислен кэшбек</strong> в личный кабинет
								</div>
							</div>
						</div>
					</div>
					<div class="extra-box__step">
						<div class="extra-step">
							<div class="extra-step__visual">
								<div class="extra-step__num">3</div>
							</div>
							<div class="extra-step__main">
								<div class="extra-step__description">
									Вы можете оплатить кэшбеком до <strong>70%</strong> стоимости <strong>на следующую покупку!</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="extra-box__ctrl">
					<a href="#" class="btn btn--light btn--lg">Принято</a>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="main section">
	<div class="container">
		<div class="main__head">
			<h1 class="page-title">Потолочные люстры <sup>954 товара</sup></h1>
		</div>

		<div class="main__body main__grid">
			<aside class="main__side side">
				<div class="side__wrap">
					<div class="side__title">Категории</div>
					<nav class="side__nav side-nav">
						<ul class="side-nav__list">
							<li class="side-nav__item">
								<a href="#" class="side-nav__link active">
									Люстры <sup>1653</sup>
								</a>

								<ul class="side-nav__sublist">
									<li class="side-nav__subitem">
										<a href="#" class="side-nav__link active">
											Потолочные люстры <sup>954</sup>
										</a>
									</li>
									<li class="side-nav__subitem">
										<a href="#" class="side-nav__link">
											Подвесные люстры <sup>423</sup>
										</a>
									</li>
									<li class="side-nav__subitem">
										<a href="#" class="side-nav__link">
											Каскадные люстры <sup>233</sup>
										</a>
									</li>
									<li class="side-nav__subitem">
										<a href="#" class="side-nav__link">
											Люстры-вентиляторы <sup>233</sup>
										</a>
									</li>
								</ul>
							</li>
							<li class="side-nav__item">
								<a href="#" class="side-nav__link">
									Светильники <sup>2178</sup>
								</a>
							</li>
							<li class="side-nav__item">
								<a href="#" class="side-nav__link">
									Торшеры <sup>88</sup>
								</a>
							</li>
							<li class="side-nav__item">
								<a href="#" class="side-nav__link">
									Бра <sup>150</sup>
								</a>
							</li>
							<li class="side-nav__item">
								<a href="#" class="side-nav__link">
									Подсветки <sup>114</sup>
								</a>
							</li>
							<li class="side-nav__item">
								<a href="#" class="side-nav__link">
									Настольные лампы <sup>123</sup>
								</a>
							</li>
							<li class="side-nav__item">
								<a href="#" class="side-nav__link">
									Споты <sup>543</sup>
								</a>
							</li>
							<li class="side-nav__item">
								<a href="#" class="side-nav__link">
									Уличное освещение <sup>218</sup>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</aside>

			<main class="main__content">
				<div class="main__catalog">
					<div class="catalog">
						<div class="catalog__top">
							<div class="catalog__pop">
								<div class="cat-pop">
									<span class="cat-pop__label">Часто ищут:</span> 
									<a href="#" class="link link--dashed">синие люстры Китай</a>, <a href="#" class="link link--dashed">Красные люстры Франция</a>
								</div>
							</div>
	
							<div class="catalog__filters cat-filters">
								<div class="cat-filters__top">
									<div class="cat-filters__main">
										<div class="cat-filters__list">
											<div class="cat-filters__item">
												<div class="filt-item active">
													<div class="filt-item__label">
														<button class="filt-item__btn filt-btn">Бренд</button>
														<button class="filt-reset">Очистить</button>
													</div>
													<div class="filt-item__value filt-val">
														<div class="filt-val__wrap">
															<div class="filt-val__top">
																<div class="filt-val__search">
																	<input type="text" class="filt-val__input form-control" placeholder="Поиск бренда">
																</div>

																<div class="filt-val__extra">
																	Выделить: <a href="#" class="link">Все</a>
																</div>
															</div>

															<div class="filt-val__body">
																<div class="filt-val__main">
																	<div class="filt-val__list">
																		<div class="filt-val__item">
																			<label class="checkbox">
																				<input type="checkbox" class="checkbox__input">
																				<span class="checkbox__label">Abris</span>
																				<span class="checkbox__qty">12</span>
																			</label>
																		</div>

																		<div class="filt-val__item">
																			<label class="checkbox">
																				<input type="checkbox" class="checkbox__input">
																				<span class="checkbox__label">Artlight</span>
																				<span class="checkbox__qty">24</span>
																			</label>
																		</div>

																		<div class="filt-val__item">
																			<label class="checkbox">
																				<input type="checkbox" class="checkbox__input">
																				<span class="checkbox__label">Arte Lamp</span>
																				<span class="checkbox__qty">220</span>
																			</label>
																		</div>

																		<div class="filt-val__item">
																			<label class="checkbox">
																				<input type="checkbox" class="checkbox__input">
																				<span class="checkbox__label">Arteva</span>
																				<span class="checkbox__qty">64</span>
																			</label>
																		</div>

																		<div class="filt-val__item">
																			<label class="checkbox">
																				<input type="checkbox" class="checkbox__input">
																				<span class="checkbox__label">Artglass</span>
																				<span class="checkbox__qty">32</span>
																			</label>
																		</div>

																		<div class="filt-val__item">
																			<label class="checkbox">
																				<input type="checkbox" class="checkbox__input">
																				<span class="checkbox__label">Artpole</span>
																				<span class="checkbox__qty">40</span>
																			</label>
																		</div>

																		<div class="filt-val__item">
																			<label class="checkbox">
																				<input type="checkbox" class="checkbox__input">
																				<span class="checkbox__label">Baruss</span>
																				<span class="checkbox__qty">12</span>
																			</label>
																		</div>

																		<div class="filt-val__item">
																			<label class="checkbox">
																				<input type="checkbox" class="checkbox__input">
																				<span class="checkbox__label">Bohemia Ivele</span>
																				<span class="checkbox__qty">6</span>
																			</label>
																		</div>
																	</div>
																</div>
															</div>

															<div class="filt-val__bottom">
																<a href="#" class="btn btn--blue btn--md disabled">Применить</a>
															</div>
														</div>
													</div>
												</div>
											</div>
			
											<div class="cat-filters__item">
												<div class="filt-item">
													<div class="filt-item__label">
														<button class="filt-item__btn filt-btn">Страна-производитель</button>
													</div>
													<div class="filt-item__value filt-val">
														<div class="filt-val__wrap">
															<div class="filt-val__top">
																<div class="filt-val__search">
																	<input type="text" class="filt-val__input form-control" placeholder="Поиск страны">
																</div>

																<div class="filt-val__extra">
																	Выделить: <a href="#" class="link">Все</a>
																</div>
															</div>

															<div class="filt-val__body">
																<div class="filt-val__main">
																	<div class="filt-val__list">
																		<div class="filt-val__item">
																			<label class="checkbox">
																				<input type="checkbox" class="checkbox__input">
																				<span class="checkbox__label">
																					<div class="country-item">
																						<div class="country-item__value">
																							<span class="flag flag--aus"></span>
																							<span class="country-item__name">Австрия</span>
																						</div>
																					</div>
																				</span>
																				<span class="checkbox__qty">12</span>
																			</label>
																		</div>

																		<div class="filt-val__item">
																			<label class="checkbox">
																				<input type="checkbox" class="checkbox__input">
																				<span class="checkbox__label">
																					<div class="country-item">
																						<div class="country-item__value">
																							<span class="flag flag--bel"></span>
																							<span class="country-item__name">Бельгия</span>
																						</div>
																					</div>
																				</span>
																				<span class="checkbox__qty">24</span>
																			</label>
																		</div>

																		<div class="filt-val__item">
																			<label class="checkbox">
																				<input type="checkbox" class="checkbox__input" checked>
																				<span class="checkbox__label">
																					<div class="country-item">
																						<div class="country-item__value">
																							<span class="flag flag--hun"></span>
																							<span class="country-item__name">Венгрия</span>
																						</div>
																					</div>
																				</span>
																				<span class="checkbox__qty">220</span>
																			</label>
																		</div>

																		<div class="filt-val__item">
																			<label class="checkbox">
																				<input type="checkbox" class="checkbox__input">
																				<span class="checkbox__label">
																					<div class="country-item">
																						<div class="country-item__value">
																							<span class="flag flag--den"></span>
																							<span class="country-item__name">Дания</span>
																						</div>
																					</div>
																				</span>
																				<span class="checkbox__qty">64</span>
																			</label>
																		</div>

																		<div class="filt-val__item">
																			<label class="checkbox">
																				<input type="checkbox" class="checkbox__input">
																				<span class="checkbox__label">
																					<div class="country-item">
																						<div class="country-item__value">
																							<span class="flag flag--ger"></span>
																							<span class="country-item__name">Германия</span>
																						</div>
																					</div>
																				</span>
																				<span class="checkbox__qty">32</span>
																			</label>
																		</div>

																		<div class="filt-val__item">
																			<label class="checkbox">
																				<input type="checkbox" class="checkbox__input">
																				<span class="checkbox__label">
																					<div class="country-item">
																						<div class="country-item__value">
																							<span class="flag flag--rus"></span>
																							<span class="country-item__name">Россия</span>
																						</div>
																					</div>
																				</span>
																				<span class="checkbox__qty">112</span>
																			</label>
																		</div>
																	</div>
																</div>
															</div>

															<div class="filt-val__bottom">
																<a href="#" class="btn btn--blue btn--md">Применить</a>
															</div>
														</div>
													</div>
												</div>
											</div>
			
											<div class="cat-filters__item">
												<div class="filt-item">
													<div class="filt-item__label">
														<button class="filt-item__btn filt-btn">Материалы</button>
													</div>
													<div class="filt-item__value filt-val">
														<div class="filt-val__wrap">
															<div class="filt-val__body">
																<div class="filt-val__main">
																	<div class="filt-val__grid">
																		<div class="filt-val__col">
																			<div class="filt-val__title">Группа материалов 1</div>
																			<div class="filt-val__list">
																				<div class="filt-val__item">
																					<label class="checkbox">
																						<input type="checkbox" class="checkbox__input">
																						<span class="checkbox__label">Войлок</span>
																						<span class="checkbox__qty">2</span>
																					</label>
																				</div>
																				<div class="filt-val__item">
																					<label class="checkbox">
																						<input type="checkbox" class="checkbox__input">
																						<span class="checkbox__label">Дерево</span>
																						<span class="checkbox__qty">110</span>
																					</label>
																				</div>
																				<div class="filt-val__item">
																					<label class="checkbox">
																						<input type="checkbox" class="checkbox__input">
																						<span class="checkbox__label">Стекло</span>
																						<span class="checkbox__qty">16</span>
																					</label>
																				</div>
																				<div class="filt-val__item">
																					<label class="checkbox">
																						<input type="checkbox" class="checkbox__input">
																						<span class="checkbox__label">Войлок</span>
																						<span class="checkbox__qty">2</span>
																					</label>
																				</div>
																				<div class="filt-val__item">
																					<label class="checkbox">
																						<input type="checkbox" class="checkbox__input">
																						<span class="checkbox__label">Дерево</span>
																						<span class="checkbox__qty">110</span>
																					</label>
																				</div>
																				<div class="filt-val__item">
																					<label class="checkbox">
																						<input type="checkbox" class="checkbox__input">
																						<span class="checkbox__label">Стекло</span>
																						<span class="checkbox__qty">16</span>
																					</label>
																				</div>
																				<div class="filt-val__item">
																					<label class="checkbox">
																						<input type="checkbox" class="checkbox__input">
																						<span class="checkbox__label">Войлок</span>
																						<span class="checkbox__qty">2</span>
																					</label>
																				</div>
																			</div>
																		</div>
																		<div class="filt-val__col">
																			<div class="filt-val__title">Группа материалов 2</div>
																			<div class="filt-val__list">
																				<div class="filt-val__item">
																					<label class="checkbox">
																						<input type="checkbox" class="checkbox__input">
																						<span class="checkbox__label">Войлок</span>
																						<span class="checkbox__qty">2</span>
																					</label>
																				</div>
																				<div class="filt-val__item">
																					<label class="checkbox">
																						<input type="checkbox" class="checkbox__input">
																						<span class="checkbox__label">Дерево</span>
																						<span class="checkbox__qty">110</span>
																					</label>
																				</div>
																				<div class="filt-val__item">
																					<label class="checkbox">
																						<input type="checkbox" class="checkbox__input">
																						<span class="checkbox__label">Стекло</span>
																						<span class="checkbox__qty">16</span>
																					</label>
																				</div>
																				<div class="filt-val__item">
																					<label class="checkbox">
																						<input type="checkbox" class="checkbox__input">
																						<span class="checkbox__label">Войлок</span>
																						<span class="checkbox__qty">2</span>
																					</label>
																				</div>
																				<div class="filt-val__item">
																					<label class="checkbox">
																						<input type="checkbox" class="checkbox__input">
																						<span class="checkbox__label">Дерево</span>
																						<span class="checkbox__qty">110</span>
																					</label>
																				</div>
																				<div class="filt-val__item">
																					<label class="checkbox">
																						<input type="checkbox" class="checkbox__input">
																						<span class="checkbox__label">Стекло</span>
																						<span class="checkbox__qty">16</span>
																					</label>
																				</div>
																				<div class="filt-val__item">
																					<label class="checkbox">
																						<input type="checkbox" class="checkbox__input">
																						<span class="checkbox__label">Войлок</span>
																						<span class="checkbox__qty">2</span>
																					</label>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>

															<div class="filt-val__bottom">
																<a href="#" class="btn btn--blue btn--md disabled">Применить</a>
															</div>
														</div>
													</div>
												</div>
											</div>
			
											<div class="cat-filters__item">
												<div class="filt-item">
													<div class="filt-item__label">
														<button class="filt-item__btn filt-btn">Цена</button>
													</div>
													<div class="filt-item__value filt-val">
														<div class="filt-val__wrap">
															<div class="filt-val__top">
																<div class="filt-val__ranges price-range">
																	<div class="price-range__item">
																		<div class="price-range__label">От</div>
																		<div class="price-range__value">
																			<input type="text" class="price-range__control form-control" value="1 000">
																		</div>
																	</div>
																	<div class="price-range__item">
																		<div class="price-range__label">До</div>
																		<div class="price-range__value">
																			<input type="text" class="price-range__control form-control" value="15 000">
																		</div>
																	</div>
																</div>
															</div>

															<div class="filt-val__bottom">
																<a href="#" class="btn btn--blue btn--md">Применить</a>
															</div>
														</div>
													</div>
												</div>
											</div>
			
											<div class="cat-filters__item">
												<div class="filt-item">
													<div class="filt-item__label">
														<button class="filt-item__btn filt-btn">Параметр 4</button>
													</div>
													<div class="filt-item__value filt-val"></div>
												</div>
											</div>
			
											<div class="cat-filters__item">
												<div class="filt-item">
													<div class="filt-item__label">
														<button class="filt-item__btn filt-btn">Параметр 5</button>
													</div>
													<div class="filt-item__value filt-val"></div>
												</div>
											</div>
			
											<div class="cat-filters__item">
												<div class="filt-item">
													<div class="filt-item__label">
														<button class="filt-item__btn filt-btn">Параметр с цветами</button>
													</div>
													<div class="filt-item__value filt-val">
														<div class="filt-val__wrap">
															<div class="filt-val__top">
																<div class="filt-val__search">
																	<input type="text" class="filt-val__input form-control" placeholder="Поиск цвета">
																</div>

																<div class="filt-val__extra">
																	Выделить: <a href="#" class="link">Все</a>
																</div>
															</div>

															<div class="filt-val__body">
																<div class="filt-val__main">
																	<div class="filt-val__list">
																		<div class="filt-val__item">
																			<label class="checkbox">
																				<input type="checkbox" class="checkbox__input">
																				<span class="checkbox__label">
																					<div class="color">
																						<span class="color__val" style="background-color: #D04C4C"></span>
																						<span class="color__label">Красный</span>
																					</div>
																				</span>
																				<span class="checkbox__qty">12</span>
																			</label>
																		</div>
																		<div class="filt-val__item">
																			<label class="checkbox">
																				<input type="checkbox" class="checkbox__input">
																				<span class="checkbox__label">
																					<div class="color">
																						<span class="color__val" style="background-color: #80D04C"></span>
																						<span class="color__label">Зелёный</span>
																					</div>
																				</span>
																				<span class="checkbox__qty">24</span>
																			</label>
																		</div>

																		<div class="filt-val__item">
																			<label class="checkbox">
																				<input type="checkbox" class="checkbox__input" checked>
																				<span class="checkbox__label">
																					<div class="color">
																						<span class="color__val" style="background-color: #4C91D0"></span>
																						<span class="color__label">Синий</span>
																					</div>
																				</span>
																				<span class="checkbox__qty">220</span>
																			</label>
																		</div>

																		<div class="filt-val__item">
																			<label class="checkbox">
																				<input type="checkbox" class="checkbox__input">
																				<span class="checkbox__label">
																					<div class="color">
																						<span class="color__val" style="background-color: #6E4CD0"></span>
																						<span class="color__label">Фиолетовый</span>
																					</div>
																				</span>
																				<span class="checkbox__qty">64</span>
																			</label>
																		</div>

																		<div class="filt-val__item">
																			<label class="checkbox">
																				<input type="checkbox" class="checkbox__input">
																				<span class="checkbox__label">
																					<div class="color">
																						<span class="color__val" style="background-color: #80D04C"></span>
																						<span class="color__label">Жёлтый</span>
																					</div>
																				</span>
																				<span class="checkbox__qty">32</span>
																			</label>
																		</div>															
																	</div>
																</div>
															</div>

															<div class="filt-val__bottom">
																<a href="#" class="btn btn--blue btn--md">Применить</a>
															</div>
														</div>
													</div>
												</div>
											</div>
			
											<div class="cat-filters__item">
												<div class="filt-item">
													<div class="filt-item__label">
														<button class="filt-item__btn filt-btn">Параметр с составом</button>
													</div>
													<div class="filt-item__value filt-val"></div>
												</div>
											</div>
			
											<div class="cat-filters__item">
												<div class="filt-item">
													<div class="filt-item__label">
														<button class="filt-item__btn filt-btn">Параметр 8</button>
													</div>
													<div class="filt-item__value filt-val"></div>
												</div>
											</div>
										</div>
									</div>
		
									<div class="cat-filters__extra">
										<a href="#" class="link">Скрыть дополнительные <span>↑</span></a>
									</div>
								</div>

								<div class="cat-filters__bottom">
									<div class="cat-filters__list">
										<div class="cat-filters__item">
											<button class="filt-clear">
												<span class="filt-clear__label">Бренд: </span>
												<span class="felt-clear__value">Arte Lamp</span>
											</button>
										</div>
										<div class="cat-filters__item">
											<button class="filt-clear">
												<span class="filt-clear__label">Cтрана-производитель: </span>
												<span class="felt-clear__value">Италия</span>
											</button>
										</div>
										<div class="cat-filters__item">
											<a href="#" class="link">Очистить фильтр</a>
										</div>
									</div>
								</div>
							</div>
	
							<div class="catalog__extra">
								<div class="catalog__stats">
									Показано <strong>22</strong> товара из 954
								</div>
	
								<div class="catalog__sort">
									<div class="cat-sort">
										<div class="cat-sort__label">Сортировать:</div>
										<div class="cat-sort__value my-select">
											<button class="cat-sort__btn my-select__current">
												<span class="cat-sort__current">По популярности</span>
											</button>
											<div class="cat-sort__list my-select__list">
												<div class="cat-sort__item my-select__item">
													<a href="#" class="cat-sort__link my-select__link current">По популярности</a>
												</div>
												<div class="cat-sort__item my-select__item">
													<a href="#" class="cat-sort__link my-select__link">По возрастанию цены</a>
												</div>
												<div class="cat-sort__item my-select__item">
													<a href="#" class="cat-sort__link my-select__link">По убыванию цены</a>
												</div>
												<div class="cat-sort__item my-select__item">
													<a href="#" class="cat-sort__link my-select__link">По новинкам</a>
												</div>
												<div class="cat-sort__item my-select__item">
													<a href="#" class="cat-sort__link my-select__link">По скидкам</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
	
						<div class="catalog__main">
							<div class="catalog__row">
								<div class="catalog__col">
									{% include "includes/prod-teas_01.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_02.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_03.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_04.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_01.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_02.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_03.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_04.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_01.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_02.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_03.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_04.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_01.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_02.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_03.html" %}
								</div>
								<div class="catalog__col">
									{% include "includes/prod-teas_04.html" %}
								</div>
							</div>
						</div>
	
						<div class="catalog__bottom">
							<div class="catalog__extra">
								<div class="catalog__stats">
									Показано <strong>22</strong> товара из 954
								</div>
	
								<div class="catalog__pager">
									<ul class="pager">
										<li class="pager__item">
											<a href="#" class="pager__link">1</a>
										</li>
										<li class="pager__item">
											<a href="#" class="pager__link active">2</a>
										</li>
										<li class="pager__item">
											<a href="#" class="pager__link">3</a>
										</li>
										<li class="pager__item">
											<a href="#" class="pager__link">4</a>
										</li>
										<li class="pager__item">
											<a href="#" class="pager__link">5</a>
										</li>
										<li class="pager__item">
											<a href="#" class="pager__link">…</a>
										</li>
										<li class="pager__item">
											<a href="#" class="pager__link pager__link--extra">Вперёд »</a>
										</li>
									</ul>
								</div>
							</div>
	
							<div class="catalog__more">
								<a href="#" class="btn btn--light btn--lg">Показать ещё</a>
							</div>
						</div>
					</div>
				</div>

				<div class="main__bottom">
					<div class="main__block">
						<div class="block">
							<div class="block__title">16 отзывов о каскадных люстрах</div>

							<div class="block__body">
								<div class="block__list">
									<div class="block__item">
										{% include "includes/review.html" %}
									</div>

									<div class="block__item">
										{% include "includes/review.html" %}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="main__block">
						<div class="block">
							<div class="block__title">Каскадные люстры</div>

							<div class="block__body">
								<div class="block__text">
									<p>Контрпример развивает линейно зависимый экстремум функции. Подмножество привлекает интеграл Дирихле. Бином Ньютона основан на тщательном анализе. Эпсилон окрестность оправдывает интеграл Пуассона, что несомненно приведет нас к истине. Матожидание, следовательно, позитивно оправдывает вектор.</p>
									<p>Поле направлений стремительно масштабирует экстремум функции. Интегрирование по частям, следовательно, естественно определяет минимум. Доказательство необходимо и достаточно. Арифметическая прогрессия нейтрализует возрастающий интеграл Гамильтона. Ряд Тейлора обоснован необходимостью. Надо сказать, что эпсилон окрестность порождает нормальный определитель системы линейных уравнений.</p>
								</div>
								<div class="block__bottom">
									<a href="#" class="link link--dashed">Показать полностью ↓</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
