{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Контакты" %}

{% block content %}
{% include "includes/header.html" %}

<section class="main section">
	<div class="container">
		<div class="main__top">
			<div class="main__breadcrumbs">
				<nav class="breadcrumbs">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item">
							<a href="./" class="breadcrumbs__link">Главная</a>
						</li>
						<li class="breadcrumbs__item">
							<span class="breadcrumbs__current">Контакты</span>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="main__head">
			<h1 class="page-title">Контакты</h1>
		</div>

		<div class="main__body main__grid">
			<div class="main__content">
				<div class="contact-boxes">
					<div class="contact-boxes__item">
						<div class="contact-box">
							<div class="contact-box__title">Отдел продаж</div>
							<div class="contact-box__body">
								<div class="contact-box__row">
									<div class="contact-box__col contact-box__col--half">
										<div class="contact-box__block">
											<div class="contact-box__info">
												Для партнёров — <a href="mailto:partners@pi-lt.ru" class="link">partners@pi-lt.ru</a>
											</div>
										</div>
									</div>
									<div class="contact-box__col contact-box__col--half">
										<div class="contact-box__block">
											<div class="contact-box__info contact-box__info--phone">
												+7 (499) 110-28-36
											</div>
										</div>
										<div class="contact-box__block">
											<div class="contact-box__info contact-box__info--phone">
												8 (800) 500-61-36
											</div>
											<div class="contact-box__info contact-box__info--help">
												(бесплатная линия, ежедневно с 9:00 до 18:00)
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="contact-boxes__item">
						<div class="contact-box">
							<div class="contact-box__title">Уважаемые клиенты и партнёры</div>
							<div class="contact-box__body">
								<div class="contact-box__row">
									<div class="contact-box__col contact-box__col--third">
										<div class="contact-box__block">
											<div class="contact-box__info">
												Для партнёров — <a href="mailto:partners@pi-lt.ru" class="link">partners@pi-lt.ru</a>
											</div>
										</div>
										<div class="contact-box__block">
											<div class="contact-box__info">
												Для партнёров — <a href="mailto:partners@pi-lt.ru" class="link">partners@pi-lt.ru</a>
											</div>
										</div>
										<div class="contact-box__block">
											<div class="contact-box__info">
												Для партнёров — <a href="mailto:partners@pi-lt.ru" class="link">partners@pi-lt.ru</a>
											</div>
										</div>
									</div>
									<div class="contact-box__col contact-box__col--third">
										<div class="contact-box__block">
											<div class="contact-box__info">
												Для партнёров — <a href="mailto:partners@pi-lt.ru" class="link">partners@pi-lt.ru</a>
											</div>
										</div>
										<div class="contact-box__block">
											<div class="contact-box__info">
												Для партнёров — <a href="mailto:partners@pi-lt.ru" class="link">partners@pi-lt.ru</a>
											</div>
										</div>
										<div class="contact-box__block">
											<div class="contact-box__info">
												Для партнёров — <a href="mailto:partners@pi-lt.ru" class="link">partners@pi-lt.ru</a>
											</div>
										</div>
									</div>
									<div class="contact-box__col contact-box__col--third">
										<div class="contact-box__block">
											<div class="contact-box__info">
												Для партнёров — <a href="mailto:partners@pi-lt.ru" class="link">partners@pi-lt.ru</a>
											</div>
										</div>
										<div class="contact-box__block">
											<div class="contact-box__info">
												Для партнёров — <a href="mailto:partners@pi-lt.ru" class="link">partners@pi-lt.ru</a>
											</div>
										</div>
										<div class="contact-box__block">
											<div class="contact-box__info">
												Для партнёров — <a href="mailto:partners@pi-lt.ru" class="link">partners@pi-lt.ru</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="contact-boxes__item">
						<div class="contact-box">
							<div class="contact-box__title">Фирменные магазины</div>
							<div class="contact-box__body">
								<table class="contact-box__tbl">
									<tbody>
										<tr>
											<td>Москва</td>
											<td>м. Тверская</td>
											<td>ул. Бассейная д. 123</td>
											<td>тел. +7 (999) 999-99-99</td>
											<td>Режим работы: 8-24 ПН-ПТ</td>
										</tr>
										<tr>
											<td>Москва</td>
											<td>м. Тверская</td>
											<td>ул. Бассейная д. 123</td>
											<td>тел. +7 (999) 999-99-99</td>
											<td>Режим работы: 8-24 ПН-ПТ</td>
										</tr>
										<tr>
											<td>Москва</td>
											<td>м. Тверская</td>
											<td>ул. Бассейная д. 123</td>
											<td>тел. +7 (999) 999-99-99</td>
											<td>Режим работы: 8-24 ПН-ПТ</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="main__side main__side--wide side">
				<div class="side__wrap">
					<div class="contact-boxes">
						<div class="contact-boxes__item">
							<div class="contact-box">
								<div class="contact-box__title">Реквизиты pi-lt.ru</div>

								<div class="contact-box__body">
									<div class="contact-box__block">
										<div class="contact-box__subtitle">Юридический адрес:</div>
										<div class="contact-box__info">
											109004, г.Москва, ул.Земляной вал, д.64, строение 2, этаж 4, помещение 1 , комната 26
										</div>
									</div>
									<div class="contact-box__block">
										<div class="contact-box__subtitle">Почтовый адрес:</div>
										<div class="contact-box__info">
											600000, г. Владимир, ул. Б. Московская, д.67, офис 207
										</div>
									</div>
									<div class="contact-box__block">
										<div class="contact-box__info">
											<strong>ОГРН</strong> 1143340001243
										</div>
										<div class="contact-box__info">
											<strong>ИНН</strong> 3325007935
										</div>
										<div class="contact-box__info">
											<strong>КПП</strong> 332501001
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="contact-boxes__item">
							<div class="contact-box">
								<div class="contact-box__title">pi-lt.ru в соцсетях</div>

								<div class="contact-box__body">
									<ul class="cnt-soci-nav">
										<li class="cnt-soci-nav__item">
											<a href="#" class="cnt-soci-nav__link cnt-soci-nav__link--dz">Яндекс.Дзен</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
