{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Помощь покупателю" %}

{% block content %}
{% include "includes/header.html" %}

<section class="main section">
	<div class="container">
		<div class="main__head">
			<h1 class="page-title">Помощь покупателю</h1>
		</div>

		<div class="main__body">
			<div class="help-main">
				<div class="help-main__search">
					<div class="search-box">
						<div class="search-box__main">
							<div class="search-box__item">
								<input type="text" class="search-box__control" placeholder="Найдите ответ на ваш вопрос">
							</div>

							<div class="search-box__submit">
								<button class="search-box__btn">Найти</button>
							</div>
						</div>
					</div>
				</div>

				<div class="help-main__grid">
					<div class="help-main__col">
						<a href="#" class="help-teas">
							<div class="help-teas__title">Оплата</div>
							<div class="help-teas__description">Текстовое описание раздела помощи: Стратегический рыночный план довольно хорошо сбалансирован. Пресс-клиппинг позитивно притягивает целевой трафик.</div>
						</a>
					</div>
					<div class="help-main__col">
						<a href="#" class="help-teas">
							<div class="help-teas__title">Гарантия</div>
							<div class="help-teas__description">Текстовое описание раздела помощи: Стратегический рыночный план довольно хорошо сбалансирован. Пресс-клиппинг позитивно притягивает целевой трафик.</div>
						</a>
					</div>
					<div class="help-main__col">
						<a href="#" class="help-teas">
							<div class="help-teas__title">Раздел помощи</div>
							<div class="help-teas__description">Текстовое описание раздела помощи: Стратегический рыночный план довольно хорошо сбалансирован. Пресс-клиппинг позитивно притягивает целевой трафик.</div>
						</a>
					</div>
					<div class="help-main__col">
						<a href="#" class="help-teas">
							<div class="help-teas__title">Раздел помощи</div>
							<div class="help-teas__description">Текстовое описание раздела помощи: Стратегический рыночный план довольно хорошо сбалансирован. Пресс-клиппинг позитивно притягивает целевой трафик.</div>
						</a>
					</div>
					<div class="help-main__col">
						<a href="#" class="help-teas">
							<div class="help-teas__title">Раздел помощи</div>
							<div class="help-teas__description">Текстовое описание раздела помощи: Стратегический рыночный план довольно хорошо сбалансирован. Пресс-клиппинг позитивно притягивает целевой трафик.</div>
						</a>
					</div>
					<div class="help-main__col">
						<a href="#" class="help-teas">
							<div class="help-teas__title">Раздел помощи</div>
							<div class="help-teas__description">Текстовое описание раздела помощи: Стратегический рыночный план довольно хорошо сбалансирован. Пресс-клиппинг позитивно притягивает целевой трафик.</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
