{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Раздел помощи" %}

{% block content %}
{% include "includes/header.html" %}

<section class="main section">
	<div class="container">
		<div class="main__top">
			<div class="main__breadcrumbs">
				<nav class="breadcrumbs">
					<ul class="breadcrumbs__list">
						<li class="breadcrumbs__item">
							<a href="./" class="breadcrumbs__link">Помощь</a>
						</li>
						<li class="breadcrumbs__item">
							<a href="./" class="breadcrumbs__link">Раздел помощи</a>
						</li>
						<li class="breadcrumbs__item">
							<span class="breadcrumbs__current">Ответ</span>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="main__head">
			<h1 class="page-title">Раздел помощи</h1>
		</div>

		<div class="main__body main__grid">
			<aside class="main__side main__side--wide side">
				<div class="side__wrap">
					<div class="side__title">Вопросы</div>

					<nav class="side__nav side-nav">
						<ul class="side-nav__list">
							<li class="side-nav__item">
								<a href="#" class="side-nav__link current">Какой срок доставки по России?</a>
							</li>
							<li class="side-nav__item">
								<a href="#" class="side-nav__link">Когда будет собран и отправлен мой заказ?</a>
							</li>
							<li class="side-nav__item">
								<a href="#" class="side-nav__link">Можно ли оплатить товар при получении посылки?</a>
							</li>
						</ul>
					</nav>

					<div class="side__bottom">
						<a href="#" class="btn btn--md btn--light">« Помощь покупателю</a>
					</div>
				</div>
			</aside>

			<div class="main__content">
				<div class="help-item">
					<div class="help-item__main">
						<article class="article">
							<h2 class="article__title">Какой срок доставки по России?</h2>

							<div class="article__body">
								<p>Срок доставки варьируется от выбранной службы.</p>
								<p>Ориентировочные сроки следующие:</p>
								<ul>
									<li>Почта России — от 7 до 14 рабочих дней с момента отправки заказа (срок отправки 1-2 дня, не считая дня поступления заказа);</li>
									<li>EMS Russian Post — от 4 до 5 рабочих дней с момента отправки заказа (срок отправки 1-2 дня, не считая дня поступления заказа);</li>
									<li>СДЕК — от 5 до 7 рабочих дней с момента отправки заказа (срок отправки 1-2 дня, не считая дня поступления заказа);</li>
									<li>B2CPl — от 2 до 10 рабочих дней с момента отправки заказа (срок отправки 1-2 дня не считая дня поступления заказа).</li>
								</ul>
								<p>Указанные сроки являются приблизительными, и могут отличаться как в меньшую, так и в большую сторону в зависимости от удаленности вашего региона.</p>
								<p><img src="img/img_lamps.jpg" alt=""></p>
							</div>
						</article>
					</div>

					<div class="help-item__extra">
						<div class="msg msg--attention">
							<div class="msg__icon">
								<img src="img/icon_attention-red.svg" width="40" height="40" alt="" class="msg__img">
							</div>
							<div class="msg__text">
								Обращаем внимание, что сроки и качество доставки зависят исключительно от работы почтовых курьерских служб, и ни при каких условиях не зависят от магазина.
							</div>
						</div>
					</div>

					<div class="help-item__bottom">
						<div class="help-item__helpful helpful helpful--start">
							<div class="helpful__label helpful__label--lg">
								Была ли статья полезна для Вас?
							</div>

							<div class="helpful__ctrls">
								<div class="helpful__ctrl">
									<button class="helpful__btn btn btn--icon btn--yes">Да</button>
								</div>
								<div class="helpful__ctrl">
									<button class="helpful__btn btn btn--icon btn--no">Нет</button>
								</div>
							</div>
						</div>

						<div class="help-item__rev">
							<div class="write-rev">
								<div class="write-rev__title">Оставьте, пожалуйста, отзыв на статью</div>
								<div class="write-rev__main">
									<form action="./" class="write-rev__form">
										<div class="write-rev__group form-group">
											<div class="write-rev__label">Ваше имя:</div>
											<div class="write-rev__item">
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="write-rev__group form-group">
											<div class="write-rev__label">Описание проблемы:</div>
											<div class="write-rev__item">
												<textarea rows="5" class="form-control" placeholder="Почему эта статья оказалась бесполезной для вас? Какую информацию вы не нашли в ней?"></textarea>
											</div>
										</div>

										<div class="write-rev__submit">
											<button class="btn btn--md btn--blue" type="submit">Отправить отзыв</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
