{% extends "layouts/default.html" %}
{% set title = "Персональный свет" %}

{% block content %}
{% include "includes/header_extra.html" %}

<div class="container">
	<ol>
		<li><a href="./main.html">Главная</a></li>
		<li><a href="./catalog.html">Каталог. Основной</a></li>
		<li><a href="./catalog_brands.html">Каталог. Бренд</a></li>
		<li><a href="./catalog_regional.html">Каталог. Магазин</a></li>
		<li><a href="./brands_abc.html">Бренды. По алфавиту</a></li>
		<li><a href="./brands_country.html">Бренды. По странам</a></li>
		<li><a href="./cart_1-1.html">Корзина 1</a></li>
		<li><a href="./cart_1-2-1.html">Корзина 2-1</a></li>
		<li><a href="./cart_1-2-2.html">Корзина 2-2</a></li>
		<li><a href="./cart_no-option.html">Корзина. Доставка. Без опций</a></li>
		<li><a href="./cart_delivery-1.html">Корзина. Доставка. Опция 1</a></li>
		<li><a href="./cart_delivery-2.html">Корзина. Доставка. Опция 2</a></li>
		<li><a href="./cart_delivery-3.html">Корзина. Доставка. Опция 3</a></li>
		<li><a href="./product.html">Страница товара</a></li>
		<li><a href="./product_v2.html">Страница товара. Вариация 2</a></li>
		<li><a href="./product_v3.html">Страница товара. Вариация 3</a></li>
		<li><a href="./product_reviews.html">Страница товара. Вкладка "Отзывы"</a></li>
		<li><a href="./product_consultations.html">Страница товара. Вкладка "Консультации"</a></li>
		<li><a href="./act_start.html">Акции</a></li>
		<li><a href="./act_catalog.html">Акция</a></li>
		<li><a href="./pa_p-data.html">Личный кабинет. Личные данные</a></li>
		<li><a href="./pa_p-favorites.html">Личный кабинет. Избранное</a></li>
		<li><a href="./pa_p-orders.html">Личный кабинет. Заказы</a></li>
		<li><a href="./pa_p-reviews.html">Личный кабинет. Отзывы</a></li>
		<li><a href="./help_start.html">Помощь. Разделы</a></li>
		<li><a href="./help_item.html">Помощь. Раздел</a></li>
		<li><a href="./contacts.html">Контакты</a></li>
		<li><a href="./404.html">Ошибка 404</a></li>
		<li><a href="./search_empty.html">Ничего не найдено</a></li>
	</ol>
</div>

{% include "includes/footer.html" %}
{% endblock %}
