{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Каталог" %}

{% block content %}
{% include "includes/header.html" %}

<section class="main section">
	<div class="container">

		<div class="main__body">
			<div class="main__block">
				<div class="top-front">
					<div class="top-front__row">
						<div class="top-front__col">
							<a href="#" class="top-front__link">
								<img src="img/img_adfront_01.png" alt="" class="top-front__img">
							</a>
						</div>
						<div class="top-front__col">
							<a href="#" class="top-front__link">
								<img src="img/img_adfront_02.png" alt="" class="top-front__img">
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="main__block">
				<div class="block block--front">
					<h2 class="block__title block__title--lg">Товары с повышенным кэшбэком</h2>

					<div class="block__body">
						<div class="block__row">
							<div class="block__col block__col--fifth">
								{% include "includes/prod-teas-limites_01.html" %}
							</div>
							<div class="block__col block__col--fifth">
								{% include "includes/prod-teas-limites_01.html" %}
							</div>
							<div class="block__col block__col--fifth">
								{% include "includes/prod-teas-limites_01.html" %}
							</div>
							<div class="block__col block__col--fifth">
								{% include "includes/prod-teas-limites_01.html" %}
							</div>
							<div class="block__col block__col--fifth">
								{% include "includes/prod-teas-limites_01.html" %}
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="main__block">
				<div class="block block--front">
					<h2 class="block__title block__title--lg">Лучшие акции</h2>

					<div class="block__body">
						<div class="acts">
							<div class="acts__grid">
								<div class="acts__col">
									{% include "includes/act-teas_01.html" %}
								</div>
								<div class="acts__col">
									{% include "includes/act-teas_01.html" %}
								</div>
								<div class="acts__col">
									{% include "includes/act-teas_01.html" %}
								</div>
							</div>
						</div>
					</div>

					<div class="block__ctrl block__ctrl--right">
						<a href="#" class="link">Смотреть все акции (45) →</a>
					</div>
				</div>
			</div>

			<div class="main__block">
				<div class="block block--front">
					<h2 class="block__title block__title--lg">Люстры до 5 000 рублей</h2>

					<div class="block__body">
						<div class="block__row">
							<div class="block__col block__col--fifth">
								{% include "includes/prod-teas-limites_01.html" %}
							</div>
							<div class="block__col block__col--fifth">
								{% include "includes/prod-teas-limites_01.html" %}
							</div>
							<div class="block__col block__col--fifth">
								{% include "includes/prod-teas-limites_01.html" %}
							</div>
							<div class="block__col block__col--fifth">
								{% include "includes/prod-teas-limites_01.html" %}
							</div>
							<div class="block__col block__col--fifth">
								{% include "includes/prod-teas-limites_01.html" %}
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="main__block">
				<div class="block block--front">
					<div class="block__subtitle">Интернет-магазин «Персональный свет»</div>

					<div class="block__body">
						<div class="block__text">
							<p>Контрпример развивает линейно зависимый экстремум функции. Подмножество привлекает интеграл Дирихле. Бином Ньютона основан на тщательном анализе. Эпсилон окрестность оправдывает интеграл Пуассона, что несомненно приведет нас к истине. Матожидание, следовательно, позитивно оправдывает вектор.</p>
							<p>Поле направлений стремительно масштабирует экстремум функции. Интегрирование по частям, следовательно, естественно определяет минимум. Доказательство необходимо и достаточно. Арифметическая прогрессия нейтрализует возрастающий интеграл Гамильтона. Ряд Тейлора обоснован необходимостью. Надо сказать, что эпсилон окрестность порождает нормальный определитель системы линейных уравнений.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio deleniti mollitia, modi qui perferendis ipsam voluptatibus quos suscipit molestiae praesentium?</p>
						</div>
						<div class="block__bottom">
							<a href="#" class="link link--dashed">Читать всё ↓</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
