{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Личные данные" %}

{% block content %}
{% include "includes/header.html" %}

<div class="main pa">
	<div class="pa__top">
		<div class="container">
			<div class="pa__head">
				<div class="pa__greeting">Здравствуйте, Евгений!</div>
				<div class="pa__ctrl"><a href="#" class="link">Редактировать личные данные</a></div>
			</div>
		</div>
	</div>

	<div class="pa__body container">
		<div class="main__body main__grid">
			<aside class="main__side side">
				<div class="side__wrap">
					<nav class="pa-nav">
						<ul class="pa-nav__list">
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Мой кабинет</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Мои заказы</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Избранное</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Список ожидания</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Мои отзывы</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Мои обзоры и распаковки</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link active">Личные данные</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Участие в акциях</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Программа лояльности</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Рассылки</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Техподдержка</a>
							</li>
						</ul>
					</nav>
				</div>
			</aside>

			<main class="main__content pa__content">
				<div class="pa-content">
					<div class="pa-content__head">
						<div class="pa-content__title">Личные данные</div>
					</div>

					<div class="pa-content__body">
						<div class="pa-content__subtitle pa-content__subtitle--small"><span>*</span> отмеченные поля, обязательные для заполнения</div>

						<div class="pa-content__main">
							<form action="./" class="pa-form">
								<div class="pa-form__group form-group">
									<div class="pa-form__label">Имя:<span>*</span></div>
									<div class="pa-form__main">
										<div class="pa-form__item">
											<input type="text" class="pa-form__input form-control" value="Евгений">
										</div>
									</div>
								</div>

								<div class="pa-form__group form-group">
									<div class="pa-form__label">Фамилия:<span>*</span></div>
									<div class="pa-form__main">
										<div class="pa-form__item">
											<input type="text" class="pa-form__input form-control" value="Звягинцев">
										</div>
									</div>
								</div>

								<div class="pa-form__group form-group">
									<div class="pa-form__label">Телефон:<span>*</span></div>
									<div class="pa-form__main">
										<div class="pa-form__value">
											<div class="pa-form__phone">+7 (999) 999-99-99</div>
											<a href="#" class="link-edit">Редактировать</a>
										</div>
									</div>
								</div>

								<div class="pa-form__group form-group">
									<div class="pa-form__label">E-mail:</div>
									<div class="pa-form__main">
										<div class="pa-form__item">
											<input type="email" class="pa-form__input form-control">
										</div>
									</div>
								</div>

								<div class="pa-form__group form-group">
									<div class="pa-form__label">Дата рождения:</div>
									<div class="pa-form__main">
										<div class="pa-form__item">
											<input type="date" class="pa-form__input form-control">
										</div>
										<div class="pa-form__help form-help">Добавьте дату рождения и мы пришлём Вам баллы на День Рождения! Дату рождения изменить невозможно.</div>
									</div>
								</div>

								<div class="pa-form__submit form-submit">
									<button class="btn btn--blue" type="submit">Сохранить изменения</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>

{% include "includes/footer.html" %}
{% endblock %}
