{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Мои отзывы" %}

{% block content %}
{% include "includes/header.html" %}

<div class="main pa">
	<div class="pa__top">
		<div class="container">
			<div class="pa__head">
				<div class="pa__greeting">Здравствуйте, Евгений!</div>
				<div class="pa__ctrl"><a href="#" class="link">Редактировать личные данные</a></div>
			</div>
		</div>
	</div>

	<div class="pa__body container">
		<div class="main__body main__grid">
			<aside class="main__side side">
				<div class="side__wrap">
					<nav class="pa-nav">
						<ul class="pa-nav__list">
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Мой кабинет</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Мои заказы</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Избранное</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Список ожидания</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link active">Мои отзывы</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Мои обзоры и распаковки</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Личные данные</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Участие в акциях</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Программа лояльности</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Рассылки</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Техподдержка</a>
							</li>
						</ul>
					</nav>
				</div>
			</aside>

			<main class="main__content pa__content">
				<div class="pa-content">
					<div class="pa-content__head">
						<div class="pa-content__title">Мои отзывы</div>
					</div>

					<div class="pa-content__body">
						<div class="pa-content__subtitle">Оставьте отзыв на купленные вами товары и получите 300 баллов за каждый отзыв:</div>

						<div class="pa-content__wrap">
							<div class="pa-reviews">
								<div class="pa-reviews__item">
									<div class="pa-review">
										<div class="pa-review__head">
											<div class="pa-review__row">
												<div class="pa-review__col">
													<div class="pa-review__label">Наименование</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__label">Количество</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__label">Сумма</div>
												</div>
												<div class="pa-review__col"></div>
											</div>
										</div>

										<div class="pa-review__body">
											<div class="pa-review__row">
												<div class="pa-review__col">
													<div class="pa-review__main">
														<div class="pa-review__photo">
															<img src="img/img_prod-sm_01.jpg" alt="" class="pa-review__img">
														</div>
														<div class="pa-review__name">
															<a href="#" class="pa-review__name-link">
																Люстра Vibrant A6412SP-5CC
															</a>
														</div>
													</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__qty">1 шт.</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__sum">7 500 руб.</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__ctrl">
														<div class="pa-review__btn">
															<a href="#" class="btn btn--md btn--write">Оставить отзыв на товар</a>
														</div>
														<div class="pa-review__help">За каждый отзыв вы получите <strong>300</strong> баллов</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="pa-content__subtitle">Ваши отзывы:</div>

						<div class="pa-content__wrap">
							<div class="pa-reviews">
								<div class="pa-reviews__item">
									<div class="pa-review">
										<div class="pa-review__head">
											<div class="pa-review__row">
												<div class="pa-review__col">
													<div class="pa-review__label">Наименование</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__label">Дата</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__label">Мой рейтинг</div>
												</div>
												<div class="pa-review__col"></div>
											</div>
										</div>

										<div class="pa-review__body">
											<div class="pa-review__row">
												<div class="pa-review__col">
													<div class="pa-review__main">
														<div class="pa-review__photo">
															<img src="img/img_prod-sm_01.jpg" alt="" class="pa-review__img">
														</div>
														<div class="pa-review__name">
															<a href="#" class="pa-review__name-link">
																Люстра Vibrant A6412SP-5CC
															</a>
														</div>
													</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__date">18.08.2018</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__rate">
														<div class="prod-rate">
															<div class="prod-rate__stars">
																<span class="prod-rate__star active"></span>
																<span class="prod-rate__star active"></span>
																<span class="prod-rate__star active"></span>
																<span class="prod-rate__star active"></span>
																<span class="prod-rate__star"></span>
															</div>
														</div>
													</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__ctrl">
														<div class="pa-review__link">
															<a href="#" class="link">Смотреть отзыв</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="pa-reviews__item">
									<div class="pa-review">
										<div class="pa-review__head">
											<div class="pa-review__row">
												<div class="pa-review__col">
													<div class="pa-review__label">Наименование</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__label">Дата</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__label">Мой рейтинг</div>
												</div>
												<div class="pa-review__col"></div>
											</div>
										</div>

										<div class="pa-review__body">
											<div class="pa-review__row">
												<div class="pa-review__col">
													<div class="pa-review__main">
														<div class="pa-review__photo">
															<img src="img/img_prod-sm_01.jpg" alt="" class="pa-review__img">
														</div>
														<div class="pa-review__name">
															<a href="#" class="pa-review__name-link">
																Люстра Vibrant A6412SP-5CC
															</a>
														</div>
													</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__date">18.08.2018</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__rate">
														<div class="prod-rate">
															<div class="prod-rate__stars">
																<span class="prod-rate__star active"></span>
																<span class="prod-rate__star active"></span>
																<span class="prod-rate__star active"></span>
																<span class="prod-rate__star active"></span>
																<span class="prod-rate__star"></span>
															</div>
														</div>
													</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__ctrl">
														<div class="pa-review__link">
															<a href="#" class="link">Смотреть отзыв</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="pa-reviews__item">
									<div class="pa-review">
										<div class="pa-review__head">
											<div class="pa-review__row">
												<div class="pa-review__col">
													<div class="pa-review__label">Наименование</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__label">Дата</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__label">Мой рейтинг</div>
												</div>
												<div class="pa-review__col"></div>
											</div>
										</div>

										<div class="pa-review__body">
											<div class="pa-review__row">
												<div class="pa-review__col">
													<div class="pa-review__main">
														<div class="pa-review__photo">
															<img src="img/img_prod-sm_01.jpg" alt="" class="pa-review__img">
														</div>
														<div class="pa-review__name">
															<a href="#" class="pa-review__name-link">
																Люстра Vibrant A6412SP-5CC
															</a>
														</div>
													</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__date">18.08.2018</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__rate">
														<div class="prod-rate">
															<div class="prod-rate__stars">
																<span class="prod-rate__star active"></span>
																<span class="prod-rate__star active"></span>
																<span class="prod-rate__star active"></span>
																<span class="prod-rate__star active"></span>
																<span class="prod-rate__star"></span>
															</div>
														</div>
													</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__ctrl">
														<div class="pa-review__link">
															<a href="#" class="link">Смотреть отзыв</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="pa-reviews__item">
									<div class="pa-review">
										<div class="pa-review__head">
											<div class="pa-review__row">
												<div class="pa-review__col">
													<div class="pa-review__label">Наименование</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__label">Дата</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__label">Мой рейтинг</div>
												</div>
												<div class="pa-review__col"></div>
											</div>
										</div>

										<div class="pa-review__body">
											<div class="pa-review__row">
												<div class="pa-review__col">
													<div class="pa-review__main">
														<div class="pa-review__photo">
															<img src="img/img_prod-sm_01.jpg" alt="" class="pa-review__img">
														</div>
														<div class="pa-review__name">
															<a href="#" class="pa-review__name-link">
																Люстра Vibrant A6412SP-5CC
															</a>
														</div>
													</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__date">18.08.2018</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__rate">
														<div class="prod-rate">
															<div class="prod-rate__stars">
																<span class="prod-rate__star active"></span>
																<span class="prod-rate__star active"></span>
																<span class="prod-rate__star active"></span>
																<span class="prod-rate__star active"></span>
																<span class="prod-rate__star"></span>
															</div>
														</div>
													</div>
												</div>
												<div class="pa-review__col">
													<div class="pa-review__ctrl">
														<div class="pa-review__link">
															<a href="#" class="link">Смотреть отзыв</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>

{% include "includes/footer.html" %}
{% endblock %}
