{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Мои заказы" %}

{% block content %}
{% include "includes/header.html" %}

<div class="main pa">
	<div class="pa__top">
		<div class="container">
			<div class="pa__head">
				<div class="pa__greeting">Здравствуйте, Евгений!</div>
				<div class="pa__ctrl"><a href="#" class="link">Редактировать личные данные</a></div>
			</div>
		</div>
	</div>

	<div class="pa__body container">
		<div class="main__body main__grid">
			<aside class="main__side side">
				<div class="side__wrap">
					<nav class="pa-nav">
						<ul class="pa-nav__list">
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Мой кабинет</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link active">Мои заказы</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Избранное</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Список ожидания</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Мои отзывы</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Мои обзоры и распаковки</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Личные данные</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Участие в акциях</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Программа лояльности</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Рассылки</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Техподдержка</a>
							</li>
						</ul>
					</nav>
				</div>
			</aside>

			<main class="main__content pa__content">
				<div class="pa-content">
					<div class="pa-content__head">
						<div class="pa-content__title">Мои заказы</div>
					</div>

					<div class="pa-content__tabs">
						<nav class="tab-nav">
							<ul class="tab-nav__list">
								<li class="tab-nav__item">
									<a href="#" class="tab-nav__link">Текущие заказы<sup>1</sup></a>
								</li>
								<li class="tab-nav__item">
									<a href="#" class="tab-nav__link active">Все заказы<sup>5</sup></a>
								</li>
							</ul>
						</nav>
					</div>

					<div class="pa-content__body">
						<div class="pa-orders">
							<div class="pa-orders__stats">Заказов: 4</div>

							<div class="pa-orders__list">
								<div class="pa-orders__item">
									<div class="pa-order">
										<div class="pa-order__top">
											<div class="pa-order__main">
												<div class="order-data">
													<div class="order-data__top">
														<div class="order-data__btn">
															<a href="#" class="link-toggle active">Сворачивание</a>
														</div>
														<div class="order-data__number">№ 1524987</div>
														<div class="order-data__date">01 августа 20:15</div>
														<div class="order-data__link">
															<a href="#" class="link">Полная информация по заказу</a>
														</div>
													</div>

													<div class="order-data__info">
														<div class="order-data__list">
															<div class="order-data__item">
																<div class="order-data__label">Статус:</div>
																<div class="order-data__value">
																	<div class="order-data__text">сформирован (будет готов 04 августа 2018 после 17:00)</div>
																</div>
															</div>
															<div class="order-data__item">
																<div class="order-data__label">Способ получения:</div>
																<div class="order-data__value">
																	<div class="order-data__text">доставка по адресу: г. Москва, ул. Каляева, 13</div>
																</div>
															</div>
															<div class="order-data__item">
																<div class="order-data__label">Стоимость доставки:</div>
																<div class="order-data__value">
																	<div class="order-data__text">200 руб.</div>
																</div>
															</div>
															<div class="order-data__item">
																<div class="order-data__label">Сумма заказа:</div>
																<div class="order-data__value">
																	<div class="order-data__text">15 000 руб.</div>
																</div>
															</div>
															<div class="order-data__item">
																<div class="order-data__label">Бонусы:</div>
																<div class="order-data__value">
																	<div class="order-data__text">20 баллов использовано, 40 баллов будет начислено</div>
																	<div class="order-data__help-text">Бонусы начисляются через 24 часа после покупки</div>
																</div>
															</div>
															<div class="order-data__item">
																<div class="order-data__label">Итого:</div>
																<div class="order-data__value">
																	<div class="order-data__text">15 200 руб.</div>
																</div>
															</div>
														</div>
													</div>
												</div>

											</div>
											<div class="pa-order__extra">
												<div class="order-status">
													<div class="order-status__top order-status__top--accepted">Статус заказа: Принят</div>

													<div class="order-status__main">
														<div class="order-status__date">01 августа 2018</div>

														<div class="order-status__list">
															<div class="order-status__item order-status__item--norm">
																<div class="order-status__time">20:15</div>
																<div class="order-status__label">Новый заказ</div>
															</div>
														</div>

														<div class="order-status__btns">
															<div class="order-status__btn">
																<a href="#" class="btn btn--md btn--write">Сообщить о проблеме</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="pa-order__main">
											<div class="ord-tbl">
												<div class="ord-tbl__head">
													<div class="ord-tbl__row">
														<div class="ord-tbl__col">Наименование</div>
														<div class="ord-tbl__col">Количество</div>
														<div class="ord-tbl__col">Сумма</div>
													</div>
												</div>

												<div class="ord-tbl__body">
													<div class="ord-tbl__item">
														<div class="ord-tbl__row">
															<div class="ord-tbl__col">
																<div class="ord-tbl__main">
																	<div class="ord-tbl__photo">
																		<img src="img/img_prod-sm_01.jpg" alt="" class="ord-tbl__img">
																	</div>
																	<div class="ord-tbl__name">
																		<a href="#" class="ord-tbl__name-link">
																			Люстра Vibrant A6412SP-5CC
																		</a>
																	</div>
																</div>
															</div>
															<div class="ord-tbl__col">1 шт.</div>
															<div class="ord-tbl__col">7 500 руб.</div>
														</div>
													</div>
													<div class="ord-tbl__item">
														<div class="ord-tbl__row">
															<div class="ord-tbl__col">
																<div class="ord-tbl__main">
																	<div class="ord-tbl__photo">
																		<img src="img/img_prod-sm_01.jpg" alt="" class="ord-tbl__img">
																	</div>
																	<div class="ord-tbl__name">
																		<a href="#" class="ord-tbl__name-link">
																			Люстра Vibrant A6412SP-5CC
																		</a>
																	</div>
																</div>
															</div>
															<div class="ord-tbl__col">1 шт.</div>
															<div class="ord-tbl__col">7 500 руб.</div>
														</div>
													</div>
													<div class="ord-tbl__delivery">
														<div class="ord-tbl__row">
															<div class="ord-tbl__col"><strong>Доставка</strong></div>
															<div class="ord-tbl__col"></div>
															<div class="ord-tbl__col">200 руб.</div>
														</div>
													</div>
												</div>

												<div class="ord-tbl__bottom">
													<div class="ord-tbl__row">
														<div class="ord-tbl__col"><strong>Итого</strong></div>
														<div class="ord-tbl__col">2 шт.</div>
														<div class="ord-tbl__col">15 200 руб.</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="pa-orders__item">
									<div class="pa-order">
										<div class="pa-order__top">
											<div class="pa-order__main">
												<div class="order-data">
													<div class="order-data__top">
														<div class="order-data__btn">
															<a href="#" class="link-toggle active">Сворачивание</a>
														</div>
														<div class="order-data__number">№ 1524987</div>
														<div class="order-data__date">01 августа 20:15</div>
														<div class="order-data__link">
															<a href="#" class="link">Полная информация по заказу</a>
														</div>
													</div>

													<div class="order-data__info">
														<div class="order-data__list">
															<div class="order-data__item">
																<div class="order-data__label">Статус:</div>
																<div class="order-data__value">
																	<div class="order-data__text">сформирован (будет готов 04 августа 2018 после 17:00)</div>
																</div>
															</div>
															<div class="order-data__item">
																<div class="order-data__label">Способ получения:</div>
																<div class="order-data__value">
																	<div class="order-data__text">доставка по адресу: г. Москва, ул. Каляева, 13</div>
																</div>
															</div>
															<div class="order-data__item">
																<div class="order-data__label">Стоимость доставки:</div>
																<div class="order-data__value">
																	<div class="order-data__text">200 руб.</div>
																</div>
															</div>
															<div class="order-data__item">
																<div class="order-data__label">Сумма заказа:</div>
																<div class="order-data__value">
																	<div class="order-data__text">15 000 руб.</div>
																</div>
															</div>
															<div class="order-data__item">
																<div class="order-data__label">Бонусы:</div>
																<div class="order-data__value">
																	<div class="order-data__text">20 баллов использовано, 40 баллов будет начислено</div>
																	<div class="order-data__help-text">Бонусы начисляются через 24 часа после покупки</div>
																</div>
															</div>
															<div class="order-data__item">
																<div class="order-data__label">Итого:</div>
																<div class="order-data__value">
																	<div class="order-data__text">15 200 руб.</div>
																</div>
															</div>
														</div>
													</div>
												</div>

											</div>
											<div class="pa-order__extra">
												<div class="order-status">
													<div class="order-status__top order-status__top--accepted">Статус заказа: В работе</div>

													<div class="order-status__main">
														<div class="order-status__date">01 августа 2018</div>

														<div class="order-status__list">
															<div class="order-status__item order-status__item--norm">
																<div class="order-status__time">20:45</div>
																<div class="order-status__label">Товар в пути</div>
															</div>
															<div class="order-status__item order-status__item--norm">
																<div class="order-status__time">20:15</div>
																<div class="order-status__label">Новый заказ</div>
															</div>
														</div>

														<div class="order-status__btns">
															<div class="order-status__btn">
																<a href="#" class="btn btn--md btn--write">Сообщить о проблеме</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="pa-order__main">
											<div class="ord-tbl">
												<div class="ord-tbl__head">
													<div class="ord-tbl__row">
														<div class="ord-tbl__col">Наименование</div>
														<div class="ord-tbl__col">Количество</div>
														<div class="ord-tbl__col">Сумма</div>
													</div>
												</div>

												<div class="ord-tbl__body">
													<div class="ord-tbl__item">
														<div class="ord-tbl__row">
															<div class="ord-tbl__col">
																<div class="ord-tbl__main">
																	<div class="ord-tbl__photo">
																		<img src="img/img_prod-sm_01.jpg" alt="" class="ord-tbl__img">
																	</div>
																	<div class="ord-tbl__name">
																		<a href="#" class="ord-tbl__name-link">
																			Люстра Vibrant A6412SP-5CC
																		</a>
																	</div>
																</div>
															</div>
															<div class="ord-tbl__col">1 шт.</div>
															<div class="ord-tbl__col">7 500 руб.</div>
														</div>
													</div>
													<div class="ord-tbl__item">
														<div class="ord-tbl__row">
															<div class="ord-tbl__col">
																<div class="ord-tbl__main">
																	<div class="ord-tbl__photo">
																		<img src="img/img_prod-sm_01.jpg" alt="" class="ord-tbl__img">
																	</div>
																	<div class="ord-tbl__name">
																		<a href="#" class="ord-tbl__name-link">
																			Люстра Vibrant A6412SP-5CC
																		</a>
																	</div>
																</div>
															</div>
															<div class="ord-tbl__col">1 шт.</div>
															<div class="ord-tbl__col">7 500 руб.</div>
														</div>
													</div>
													<div class="ord-tbl__delivery">
														<div class="ord-tbl__row">
															<div class="ord-tbl__col"><strong>Доставка</strong></div>
															<div class="ord-tbl__col"></div>
															<div class="ord-tbl__col">200 руб.</div>
														</div>
													</div>
												</div>

												<div class="ord-tbl__bottom">
													<div class="ord-tbl__row">
														<div class="ord-tbl__col"><strong>Итого</strong></div>
														<div class="ord-tbl__col">2 шт.</div>
														<div class="ord-tbl__col">15 200 руб.</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="pa-orders__item">
									<div class="pa-order">
										<div class="pa-order__top">
											<div class="pa-order__main">
												<div class="order-data">
													<div class="order-data__top">
														<div class="order-data__btn">
															<a href="#" class="link-toggle active">Сворачивание</a>
														</div>
														<div class="order-data__number">№ 1524987</div>
														<div class="order-data__date">01 августа 20:15</div>
														<div class="order-data__link">
															<a href="#" class="link">Полная информация по заказу</a>
														</div>
													</div>

													<div class="order-data__info">
														<div class="order-data__list">
															<div class="order-data__item">
																<div class="order-data__label">Статус:</div>
																<div class="order-data__value">
																	<div class="order-data__text">Завершён</div>
																</div>
															</div>
															<div class="order-data__item">
																<div class="order-data__label">Способ получения:</div>
																<div class="order-data__value">
																	<div class="order-data__text">доставка по адресу: г. Москва, ул. Каляева, 13</div>
																</div>
															</div>
															<div class="order-data__item">
																<div class="order-data__label">Стоимость доставки:</div>
																<div class="order-data__value">
																	<div class="order-data__text">200 руб.</div>
																</div>
															</div>
															<div class="order-data__item">
																<div class="order-data__label">Сумма заказа:</div>
																<div class="order-data__value">
																	<div class="order-data__text">15 000 руб.</div>
																</div>
															</div>
															<div class="order-data__item">
																<div class="order-data__label">Бонусы:</div>
																<div class="order-data__value">
																	<div class="order-data__text">20 баллов использовано, 40 баллов будет начислено</div>
																	<div class="order-data__help-text">Бонусы начисляются через 24 часа после покупки</div>
																</div>
															</div>
															<div class="order-data__item">
																<div class="order-data__label">Итого:</div>
																<div class="order-data__value">
																	<div class="order-data__text">15 200 руб.</div>
																</div>
															</div>
														</div>
													</div>
												</div>

											</div>
											<div class="pa-order__extra">
												<div class="order-status">
													<div class="order-status__top order-status__top--complete">Статус заказа: Завершён</div>

													<div class="order-status__main">
														<div class="order-status__date">04 августа 2018</div>

														<div class="order-status__list">
															<div class="order-status__item order-status__item--good">
																<div class="order-status__time">20:45</div>
																<div class="order-status__label">Заказ завершён</div>
															</div>
														</div>

														<div class="order-status__date">03 августа 2018</div>

														<div class="order-status__list">
															<div class="order-status__item order-status__item--norm">
																<div class="order-status__time">20:15</div>
																<div class="order-status__label">Новый заказ</div>
															</div>
														</div>

														<div class="order-status__btns">
															<div class="order-status__btn">
																<a href="#" class="btn btn--md btn--write">Полная история заказа</a>
															</div>
															<div class="order-status__btn">
																<a href="#" class="btn btn--md btn--write">Сообщить о проблеме</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="pa-order__main">
											<div class="ord-tbl">
												<div class="ord-tbl__head">
													<div class="ord-tbl__row">
														<div class="ord-tbl__col">Наименование</div>
														<div class="ord-tbl__col">Количество</div>
														<div class="ord-tbl__col">Сумма</div>
													</div>
												</div>

												<div class="ord-tbl__body">
													<div class="ord-tbl__item">
														<div class="ord-tbl__row">
															<div class="ord-tbl__col">
																<div class="ord-tbl__main">
																	<div class="ord-tbl__photo">
																		<img src="img/img_prod-sm_01.jpg" alt="" class="ord-tbl__img">
																	</div>
																	<div class="ord-tbl__name">
																		<a href="#" class="ord-tbl__name-link">
																			Люстра Vibrant A6412SP-5CC
																		</a>
																	</div>
																</div>
															</div>
															<div class="ord-tbl__col">1 шт.</div>
															<div class="ord-tbl__col">7 500 руб.</div>
														</div>
													</div>
													<div class="ord-tbl__item">
														<div class="ord-tbl__row">
															<div class="ord-tbl__col">
																<div class="ord-tbl__main">
																	<div class="ord-tbl__photo">
																		<img src="img/img_prod-sm_01.jpg" alt="" class="ord-tbl__img">
																	</div>
																	<div class="ord-tbl__name">
																		<a href="#" class="ord-tbl__name-link">
																			Люстра Vibrant A6412SP-5CC
																		</a>
																	</div>
																</div>
															</div>
															<div class="ord-tbl__col">1 шт.</div>
															<div class="ord-tbl__col">7 500 руб.</div>
														</div>
													</div>
													<div class="ord-tbl__delivery">
														<div class="ord-tbl__row">
															<div class="ord-tbl__col"><strong>Доставка</strong></div>
															<div class="ord-tbl__col"></div>
															<div class="ord-tbl__col">200 руб.</div>
														</div>
													</div>
												</div>

												<div class="ord-tbl__bottom">
													<div class="ord-tbl__row">
														<div class="ord-tbl__col"><strong>Итого</strong></div>
														<div class="ord-tbl__col">2 шт.</div>
														<div class="ord-tbl__col">15 200 руб.</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="pa-orders__item">
									<div class="pa-order">
										<div class="pa-order__top">
											<div class="pa-order__main">
												<div class="order-data">
													<div class="order-data__top">
														<div class="order-data__btn">
															<a href="#" class="link-toggle active">Сворачивание</a>
														</div>
														<div class="order-data__number">№ 1524987</div>
														<div class="order-data__date">01 августа 20:15</div>
														<div class="order-data__link">
															<a href="#" class="link">Полная информация по заказу</a>
														</div>
													</div>

													<div class="order-data__info">
														<div class="order-data__list">
															<div class="order-data__item">
																<div class="order-data__label">Статус:</div>
																<div class="order-data__value">
																	<div class="order-data__text">Отменён</div>
																</div>
															</div>
															<div class="order-data__item">
																<div class="order-data__label">Способ получения:</div>
																<div class="order-data__value">
																	<div class="order-data__text">доставка по адресу: г. Москва, ул. Каляева, 13</div>
																</div>
															</div>
															<div class="order-data__item">
																<div class="order-data__label">Стоимость доставки:</div>
																<div class="order-data__value">
																	<div class="order-data__text">200 руб.</div>
																</div>
															</div>
															<div class="order-data__item">
																<div class="order-data__label">Сумма заказа:</div>
																<div class="order-data__value">
																	<div class="order-data__text">15 000 руб.</div>
																</div>
															</div>
															<div class="order-data__item">
																<div class="order-data__label">Бонусы:</div>
																<div class="order-data__value">
																	<div class="order-data__text">20 баллов использовано, 40 баллов будет начислено</div>
																	<div class="order-data__help-text">Бонусы начисляются через 24 часа после покупки</div>
																</div>
															</div>
															<div class="order-data__item">
																<div class="order-data__label">Итого:</div>
																<div class="order-data__value">
																	<div class="order-data__text">15 200 руб.</div>
																</div>
															</div>
														</div>
													</div>
												</div>

											</div>
											<div class="pa-order__extra">
												<div class="order-status">
													<div class="order-status__top order-status__top--canceled">Статус заказа: Отменён</div>

													<div class="order-status__main">
														<div class="order-status__date">04 августа 2018</div>

														<div class="order-status__list">
															<div class="order-status__item order-status__item--bad">
																<div class="order-status__time">20:45</div>
																<div class="order-status__label">Заказ отменён</div>
															</div>
														</div>

														<div class="order-status__date">03 августа 2018</div>

														<div class="order-status__list">
															<div class="order-status__item order-status__item--norm">
																<div class="order-status__time">20:15</div>
																<div class="order-status__label">Новый заказ</div>
															</div>
														</div>

														<div class="order-status__btns">
															<div class="order-status__btn">
																<a href="#" class="btn btn--md btn--write">Сообщить о проблеме</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="pa-order__main">
											<div class="ord-tbl">
												<div class="ord-tbl__head">
													<div class="ord-tbl__row">
														<div class="ord-tbl__col">Наименование</div>
														<div class="ord-tbl__col">Количество</div>
														<div class="ord-tbl__col">Сумма</div>
													</div>
												</div>

												<div class="ord-tbl__body">
													<div class="ord-tbl__item">
														<div class="ord-tbl__row">
															<div class="ord-tbl__col">
																<div class="ord-tbl__main">
																	<div class="ord-tbl__photo">
																		<img src="img/img_prod-sm_01.jpg" alt="" class="ord-tbl__img">
																	</div>
																	<div class="ord-tbl__name">
																		<a href="#" class="ord-tbl__name-link">
																			Люстра Vibrant A6412SP-5CC
																		</a>
																	</div>
																</div>
															</div>
															<div class="ord-tbl__col">1 шт.</div>
															<div class="ord-tbl__col">7 500 руб.</div>
														</div>
													</div>
													<div class="ord-tbl__item">
														<div class="ord-tbl__row">
															<div class="ord-tbl__col">
																<div class="ord-tbl__main">
																	<div class="ord-tbl__photo">
																		<img src="img/img_prod-sm_01.jpg" alt="" class="ord-tbl__img">
																	</div>
																	<div class="ord-tbl__name">
																		<a href="#" class="ord-tbl__name-link">
																			Люстра Vibrant A6412SP-5CC
																		</a>
																	</div>
																</div>
															</div>
															<div class="ord-tbl__col">1 шт.</div>
															<div class="ord-tbl__col">7 500 руб.</div>
														</div>
													</div>
													<div class="ord-tbl__delivery">
														<div class="ord-tbl__row">
															<div class="ord-tbl__col"><strong>Доставка</strong></div>
															<div class="ord-tbl__col"></div>
															<div class="ord-tbl__col">200 руб.</div>
														</div>
													</div>
												</div>

												<div class="ord-tbl__bottom">
													<div class="ord-tbl__row">
														<div class="ord-tbl__col"><strong>Итого</strong></div>
														<div class="ord-tbl__col">2 шт.</div>
														<div class="ord-tbl__col">15 200 руб.</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>

{% include "includes/footer.html" %}
{% endblock %}
