{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Личные данные" %}

{% block content %}
{% include "includes/header.html" %}

<div class="main pa">
	<div class="pa__top">
		<div class="container">
			<div class="pa__head">
				<div class="pa__greeting">Здравствуйте, Евгений!</div>
				<div class="pa__ctrl"><a href="#" class="link">Редактировать личные данные</a></div>
			</div>
		</div>
	</div>

	<div class="pa__body container">
		<div class="main__body main__grid">
			<aside class="main__side side">
				<div class="side__wrap">
					<nav class="pa-nav">
						<ul class="pa-nav__list">
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Мой кабинет</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Мои заказы</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link active">Избранное</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Список ожидания</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Мои отзывы</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Мои обзоры и распаковки</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Личные данные</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Участие в акциях</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Программа лояльности</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Рассылки</a>
							</li>
							<li class="pa-nav__item">
								<a href="#" class="pa-nav__link">Техподдержка</a>
							</li>
						</ul>
					</nav>
				</div>
			</aside>

			<main class="main__content pa__content">
				<div class="pa-content">
					<div class="pa-content__head">
						<div class="pa-content__title">Избранные товары</div>
					</div>

					<div class="pa-content__body">
						<div class="pa-content__subtitle">Здесь хранятся все товары, которые вы пометили сердечком в каталоге или на страницах товаров.</div>

						<div class="pa-content__extra-top">
							<div class="fav-share">
								<div class="fav-share__wrap">
									<div class="fav-share__ctrl">
										<a href="#" class="link link--dashed active">Поделиться списком</a>
										<div class="fav-share__value">
											<input type="text" class="fav-share__control form-control" disabled value="https://shop-artelamp.ru/catalog/lyustry/podvesnye1/podvesnaya_lyustra_arte_lamp_jennifer_a1800lm_5bk.html">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="pa-content__main">
							<div class="catalog">
								<div class="catalog__filters catalog__filters--pa">
									<nav class="filt-nav">
										<ul class="filt-nav__list">
											<li class="filt-nav__item">
												<a href="#" class="filt-nav__link active">Все (3)</a>
											</li>
											<li class="filt-nav__item">
												<a href="#" class="filt-nav__link">Люстры (3)</a>
											</li>
										</ul>
									</nav>
								</div>

								<div class="catalog__main">
									<div class="catalog__row">
										<div class="catalog__col">
											{% include "includes/prod-teas_01.html" %}
										</div>
										<div class="catalog__col">
											{% include "includes/prod-teas_02.html" %}
										</div>
										<div class="catalog__col">
											{% include "includes/prod-teas_01.html" %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>

{% include "includes/footer.html" %}
{% endblock %}
