{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Контакты" %}

{% block content %}
{% include "includes/header.html" %}

<section class="main section">
	<div class="container">
		<div class="main__head">
			<h1 class="page-title">Попапы</h1>
		</div>

		<div class="main__body">
			<div class="main__block">
				<div class="pp-box pp-box--sm">
					<div class="pp-box__wrap">
						<button class="pp-box__close">Закрыть</button>

						<div class="pp-box__main">
							<div class="pp-box__head">
								<div class="pp-box__title">Оформить в 1 клик</div>
							</div>

							<div class="pp-box__body">
								<form action="./" class="pp-box__form pp-form">
									<div class="form-line form-group">
										<div class="form-line__label">Ваше имя:</div>
										<div class="form-line__main">
											<div class="form-line__item">
												<input type="text" class="pp-form__control form-control">
											</div>
										</div>
									</div>
									<div class="form-line form-group">
										<div class="form-line__label">Номер телефона:</div>
										<div class="form-line__main">
											<div class="form-line__item">
												<input type="tel" class="pp-form__control form-control">
											</div>
										</div>
									</div>
									<div class="form-group">
										<button class="btn btn--main">Купить</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="main__block">
				<div class="pp-box pp-box--md">
					<div class="pp-box__wrap">
						<button class="pp-box__close">Закрыть</button>

						<div class="pp-box__main">
							<div class="pp-box__head">
								<div class="pp-box__title">Товар добавлен в корзину</div>
							</div>
							<div class="pp-box__body">
								<div class="pp-box__text">
									<p>Всего в вашей корзине <strong>1</strong> товар</p>
								</div>
								<div class="pp-box__shipping">
									Доставка: <strong>500</strong> руб. При покупке от <strong>5000</strong> руб. — бесплатно
								</div>

								<div class="pp-box__cart">
									<div class="cart-tbl">
										<div class="cart-tbl__body">
											<div class="cart-tbl__item">
												<div class="cart-tbl__row">
													<div class="cart-tbl__col">
														<div class="cart-tbl__main">
															<div class="cart-tbl__photo">
																<img src="img/img_prod-sm_01.jpg" alt="" class="cart-tbl__img">
															</div>

															<div class="cart-tbl__name">
																<a href="#" class="cart-tbl__name-link">Люстра Vibrant A6412SP-5CC</a>
															</div>
														</div>
													</div>
													<div class="cart-tbl__col">
														<div class="cart-tbl__price"><span>7 500</span> руб.</div>
														<div class="cart-tbl__gray">
															1 шт.
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="pp-box__bottom">
								<div class="pp-box__ctrl pp-box__ctrl--end">
									<a href="#" class="link">Продолжить покупки</a>
									<a href="#" class="btn btn--blue">Оформить заказ</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="main__block">
				<div class="pp-box pp-box--lg">
					<div class="pp-box__wrap">
						<button class="pp-box__close">Закрыть</button>

						<div class="pp-box__main">
							<div class="pp-box__head">
								<div class="pp-box__title">Акция! К лампам Arte Lamp — плафоны в подарок!</div>
							</div>
							<div class="pp-box__body">
								<div class="pp-box__act-head">
									<div class="act-head">
										<div class="act-head__cover">
											<img src="img/img_prod-gift-md_01.jpg" alt="" class="act-head__img">
										</div>
										<div class="act-head__info">
											<div class="act-head__description">
												<p>Каждый покупатель ламп Arte Lamp получает в подарок набор плафонов!</p>
												<p>Период проведения акции: 9 июля — 29 июля 2018 г.</p>
												<p>Спешите, количество подарков ограничено!</p>
											</div>
										</div>
									</div>
								</div>

								<div class="pp-box__sb">
									<div class="pp-box__subtitle">В акции участвуют:</div>

									<div class="pp-box__ctrl">
										<a href="#" class="link">Посмотреть все →</a>
									</div>
								</div>

								<div class="pp-box__row">
									<div class="pp-box__col">
										{% include "includes/prod-teas-xs_01.html" %}
									</div>
									<div class="pp-box__col">
										{% include "includes/prod-teas-xs_01.html" %}
									</div>
									<div class="pp-box__col">
										{% include "includes/prod-teas-xs_01.html" %}
									</div>
								</div>
							</div>

							<div class="pp-box__bottom">
								<div class="pp-box__ctrl">
									<a href="#" class="link">Перейти на страницу акции →</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="main__block">
				<div class="pp-box pp-box--sm">
					<div class="pp-box__wrap">
						<button class="pp-box__close">Закрыть</button>

						<div class="pp-box__main">
							<div class="pp-box__head">
								<div class="pp-box__title">Кэшбэк 30%</div>
							</div>
							<div class="pp-box__body">
								<div class="pp-box__text">
									<p>Согласно ставшей уже классической работе Филипа Котлера, традиционный канал транслирует стратегический маркетинг. Осведомленность о бренде, следовательно, все еще интересна для многих. Идеология выстраивания бренда откровенна.</p>
									<p>VIP-мероприятие тормозит жизненный цикл продукции. Наряду с этим, потребление традиционно раскручивает ролевой имидж. Инвестиция притягивает креативный рекламный макет. Практика однозначно показывает, что медийная реклама индуцирует фирменный стиль менеджмента.</p>
								</div>
							</div>
							<div class="pp-box__bottom">
								<div class="pp-box__ctrl">
									<a href="#" class="link">Читать полностью →</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="main__block">
				<div class="pp-box pp-box--xs">
					<div class="pp-box__wrap">
						<button class="pp-box__close">Закрыть</button>

						<div class="pp-box__main">
							<div class="pp-box__head">
								<div class="pp-box__title">Вход</div>
							</div>
							<div class="pp-box__body">
								<form action="./" class="pp-box__form">
									<div class="form-group">
										<div class="form-label">Укажите ваш номер телефона:</div>
										<input type="tel" class="form-control">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="main__block">
				<div class="pp-box pp-box--xs">
					<div class="pp-box__wrap">
						<button class="pp-box__close">Закрыть</button>

						<div class="pp-box__main">
							<div class="pp-box__head">
								<div class="pp-box__title">Вход</div>
							</div>
							<div class="pp-box__body">
								<form action="./" class="pp-box__form">
									<div class="form-group">
										<div class="form-label">Укажите ваш номер телефона:</div>
										<input type="tel" class="form-control">
									</div>

									<div class="form-group">
										<div class="sms-code">
											<div class="sms-code__wrap">
												<div class="sms-code__ctrl">
													<a href="#" class="btn btn--blue">Выслать СМС</a>
												</div>
												<div class="sms-code__item">
													<input type="text" class="sms-code__input form-control" placeholder="Код из СМС">
												</div>
											</div>
											<div class="sms-code__help form-help">
												Не пришло СМС? <a class="link" href="#">Запросить повторно</a> через <strong>60</strong> секунд
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="main__block">
				<div class="pp-box pp-box--xs">
					<div class="pp-box__wrap">
						<button class="pp-box__close">Закрыть</button>

						<div class="pp-box__main">
							<div class="pp-box__head">
								<div class="pp-box__title">Вход</div>
							</div>
							<div class="pp-box__body">
								<form action="./" class="pp-box__form">
									<div class="form-group">
										<div class="form-label">Укажите ваш номер телефона:</div>
										<input type="tel" class="form-control">
									</div>

									<div class="form-group">
										<div class="sms-code">
											<div class="sms-code__wrap">
												<div class="sms-code__ctrl">
													<a href="#" class="btn btn--green">Войти</a>
												</div>
												<div class="sms-code__item sms-code__item--ok">
													<input type="text" class="sms-code__input sms-code__input--ok form-control" placeholder="Код из СМС" value="8448">
												</div>
											</div>
											<div class="sms-code__help form-help">
												Не пришло СМС? <a class="link" href="#">Запросить повторно</a> через <strong>60</strong> секунд
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="main__block">
				<div class="pp-box pp-box--sm">
					<div class="pp-box__wrap">
						<button class="pp-box__close">Закрыть</button>

						<div class="pp-box__main">
							<div class="pp-box__head">
								<div class="pp-box__title">Нет товаров для сравнения</div>
							</div>
							<div class="pp-box__body">
								<div class="pp-box__text">
									<p>Добавляйте товары к сравнению характеристик и выбирайте самый подходящий вам товар.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="main__block">
				<div class="pp-box pp-box--sm">
					<div class="pp-box__wrap">
						<button class="pp-box__close">Закрыть</button>

						<div class="pp-box__main">
							<div class="pp-box__title">Нет избранных товаров</div>
							<div class="pp-box__body">
								<div class="pp-box__text">
									<p>Добавляйте товары в избранное, следите за их поступлением. Функция доступна только зарегистрированным пользователям.</p>
									<p>Если у вас есть список избранного, <a href="#" class="link">авторизуйтесь</a>.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="main__block">
				<div class="pp-box pp-box--sm">
					<div class="pp-box__wrap">
						<button class="pp-box__close">Закрыть</button>

						<div class="pp-box__main">
							<div class="pp-box__head">
								<div class="pp-box__title">Мой отзыв на Люстра Vibrant A6412SP-5CC</div>
							</div>

							<div class="pp-box__body">
								<form action="./" class="pp-box__form pp-form">
									<div class="form-line form-group">
										<div class="form-line__label">Ваше имя:</div>
										<div class="form-line__main">
											<div class="form-line__item">
												<input type="text" class="pp-form__control form-control">
											</div>
										</div>
									</div>
									<div class="form-line form-group">
										<div class="form-line__label">Общая оценка:</div>
										<div class="form-line__main">
											<div class="form-line__item">
												<div class="vote">
													<div class="vote__one">
														<input type="radio" name="vote" id="vote_01" value="1">
														<label for="vote_01"></label>
													</div>
													<div class="vote__one">
														<input type="radio" name="vote" id="vote_02" value="2">
														<label for="vote_02"></label>
													</div>
													<div class="vote__one">
														<input type="radio" name="vote" id="vote_03" value="3">
														<label for="vote_03"></label>
													</div>
													<div class="vote__one">
														<input type="radio" name="vote" id="vote_04" value="4">
														<label for="vote_04"></label>
													</div>
													<div class="vote__one">
														<input type="radio" name="vote" id="vote_05" value="5">
														<label for="vote_05"></label>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="form-line form-group">
										<div class="form-line__label">Достоинства:</div>
										<div class="form-line__main">
											<div class="form-line__item">
												<textarea class="pp-form__control form-control" rows="3"></textarea>
											</div>
										</div>
									</div>
									<div class="form-line form-group">
										<div class="form-line__label">Недостатки:</div>
										<div class="form-line__main">
											<div class="form-line__item">
												<textarea class="pp-form__control form-control" rows="3"></textarea>
											</div>
										</div>
									</div>
									<div class="form-line form-group">
										<div class="form-line__label">Комментарий:</div>
										<div class="form-line__main">
											<div class="form-line__item">
												<textarea class="pp-form__control form-control" rows="3"></textarea>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="pp-form__label form-label">Фото или видео товара:</div>
										<div class="form-file">
											<div class="form-file__wrap">
												<div class="form-file__description">
													<a class="link" href="#">Нажмите на ссылку</a>, чтобы выбрать фото или видео, или просто перетащите его сюда.
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<button class="btn btn--blue">Загрузить файлы</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="main__block">
				<div class="pp-box pp-box--xs">
					<div class="pp-box__wrap">
						<button class="pp-box__close">Закрыть</button>

						<div class="pp-box__main">
							<div class="pp-box__head">
								<div class="pp-box__description">
									Спасибо за ваш отзыв! Он появится на сайте в течение 10 минут.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="main__block">
				<div class="pp-box pp-box--sm">
					<div class="pp-box__wrap">
						<button class="pp-box__close">Закрыть</button>

						<div class="pp-box__main">
							<div class="pp-box__head">
								<div class="pp-box__title">Мой вопрос по Люстра Vibrant A6412SP-5CC</div>
							</div>

							<div class="pp-box__body">
								<form action="./" class="pp-box__form pp-form">
									<div class="form-line form-group">
										<div class="form-line__label">Ваше имя:</div>
										<div class="form-line__main">
											<div class="form-line__item">
												<input type="text" class="pp-form__control form-control">
											</div>
										</div>
									</div>
									<div class="form-line form-group">
										<div class="form-line__label">Ваш вопрос:</div>
										<div class="form-line__main">
											<div class="form-line__item">
												<textarea class="pp-form__control form-control" rows="3"></textarea>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="pp-form__label form-label">Фото или видео товара:</div>
										<div class="form-file">
											<div class="form-file__wrap">
												<div class="form-file__description">
													<a class="link" href="#">Нажмите на ссылку</a>, чтобы выбрать фото или видео, или просто перетащите его сюда.
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<button class="btn btn--blue">Загрузить файлы</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="main__block">
				<div class="pp-box pp-box--extra">
					<div class="pp-box__visual">
						<div class="pp-box__cover pp-cover">
							<div class="pp-cover__title">Войдите в аккаунт, чтобы добавлять товары в избранное</div>
						</div>
					</div>

					<div class="pp-box__info">
						<div class="pp-box__wrap">
							<button class="pp-box__close">Закрыть</button>

							<div class="pp-box__main">
								<div class="pp-box__head">
									<div class="pp-box__title">Вход</div>
								</div>

								<div class="pp-box__body">
									<form action="./" class="pp-box__form">
										<div class="form-group">
											<div class="form-label">Укажите ваш номер телефона:</div>
											<input type="tel" class="form-control" value="+7 (918) 999-99-99">
										</div>
	
										<div class="form-group">
											<div class="sms-code">
												<div class="sms-code__wrap">
													<div class="sms-code__ctrl">
														<a href="#" class="btn btn--green">Войти</a>
													</div>
													<div class="sms-code__item sms-code__item--ok">
														<input type="text" class="sms-code__input sms-code__input--ok form-control" placeholder="Код из СМС" value="8448">
													</div>
												</div>
												<div class="sms-code__help form-help">
													Не пришло СМС? <a class="link" href="#">Запросить повторно</a> через <strong>60</strong> секунд
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="main__block">
				<div class="pp-box pp-box--extra">
					<div class="pp-box__visual">
						<div class="pp-box__cover pp-cover">
							<div class="pp-cover__title">Получайте отзывы за баллы и уаствуйте в наших акциях!</div>
						</div>
					</div>

					<div class="pp-box__info">
						<div class="pp-box__wrap">
							<button class="pp-box__close">Закрыть</button>

							<div class="pp-box__main">
								<div class="pp-box__head">
									<div class="pp-box__title">Вход</div>
								</div>

								<div class="pp-box__body">
									<form action="./" class="pp-box__form">
										<div class="form-group">
											<div class="form-label">Укажите ваш номер телефона:</div>
											<input type="tel" class="form-control" value="+7 (918) 999-99-99">
										</div>
	
										<div class="form-group">
											<div class="sms-code">
												<div class="sms-code__wrap">
													<div class="sms-code__ctrl">
														<a href="#" class="btn btn--green">Войти</a>
													</div>
													<div class="sms-code__item sms-code__item--ok">
														<input type="text" class="sms-code__input sms-code__input--ok form-control" placeholder="Код из СМС" value="8448">
													</div>
												</div>
												<div class="sms-code__help form-help">
													Не пришло СМС? <a class="link" href="#">Запросить повторно</a> через <strong>60</strong> секунд
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<div class="pp-box__footer">
						<a href="#" class="btn btn--md btn--blue">Оставить отзыв без регистрации</a>
					</div>
				</div>
			</div>

			<div class="main__block">
				<div class="pp-box pp-box--extra">
					<div class="pp-box__visual">
						<div class="pp-box__cover pp-cover">
							<div class="pp-cover__title">Авторизуйтесь и получайте бонусы!</div>
						</div>
					</div>

					<div class="pp-box__info">
						<div class="pp-box__wrap">
							<button class="pp-box__close">Закрыть</button>

							<div class="pp-box__main">
								<div class="pp-box__head">
									<div class="pp-box__title">Вход</div>
								</div>

								<div class="pp-box__body">
									<form action="./" class="pp-box__form">
										<div class="form-group">
											<div class="form-label">Укажите ваш номер телефона:</div>
											<input type="tel" class="form-control" value="+7 (918) 999-99-99">
										</div>
	
										<div class="form-group">
											<div class="sms-code">
												<div class="sms-code__wrap">
													<div class="sms-code__ctrl">
														<a href="#" class="btn btn--green">Войти</a>
													</div>
													<div class="sms-code__item sms-code__item--ok">
														<input type="text" class="sms-code__input sms-code__input--ok form-control" placeholder="Код из СМС" value="8448">
													</div>
												</div>
												<div class="sms-code__help form-help">
													Не пришло СМС? <a class="link" href="#">Запросить повторно</a> через <strong>60</strong> секунд
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<div class="pp-box__footer">
						<a href="#" class="btn btn--md btn--blue">Получить косультацию без регистрации</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
