{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Люстра Vibrant" %}

{% block content %}
{% include "includes/header.html" %}

<section class="main section product">
	<div class="container">
		<div class="main__head">
			<h1 class="page-title">Люстра Vibrant A6412SP-5CC</h1>
			
			<div class="product__top">
				<div class="prod-top">
					<div class="prod-top__sku">
						<div class="prod-sku">Код товара: 246894</div>
					</div>
					<div class="prod-top__rate">
						<div class="prod-rate">
							<div class="prod-rate__stars">
								<span class="prod-rate__star active"></span>
								<span class="prod-rate__star active"></span>
								<span class="prod-rate__star active"></span>
								<span class="prod-rate__star active"></span>
								<span class="prod-rate__star"></span>
							</div>
							<a href="#" class="prod-rate__link link">23 отзыва</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="main__body">
			<div class="product__card">
				{% include "includes/prod-card_01.html" %}
			</div>

			<div class="product__main">
				<div class="product__tabs">
					<nav class="tab-nav">
						<ul class="tab-nav__list">
							<li class="tab-nav__item">
								<a href="#" class="tab-nav__link">Описание</a>
							</li>
							<li class="tab-nav__item">
								<a href="#" class="tab-nav__link">Технические характеристики</a>
							</li>
							<li class="tab-nav__item">
								<a href="#" class="tab-nav__link">Видео и обзоры<sup>4</sup></a>
							</li>
							<li class="tab-nav__item">
								<a href="#" class="tab-nav__link active">Консультации<sup>1</sup></a>
							</li>
							<li class="tab-nav__item">
								<a href="#" class="tab-nav__link">Отзывы<sup>1</sup></a>
							</li>
							<li class="tab-nav__item">
								<a href="#" class="tab-nav__link">Доставка и оплата</a>
							</li>
							<li class="tab-nav__item">
								<a href="#" class="tab-nav__link">Похожие товары<sup>54</sup></a>
							</li>
							<li class="tab-nav__item">
								<a href="#" class="tab-nav__link">Аксессуары<sup>14</sup></a>
							</li>
						</ul>
					</nav>
				</div>

				<div class="product__body">
					<div class="prod-body">
						<div class="prod-body__content prod-body__grid">
							<div class="prod-body__main prod-body__col">
								<div class="prod-body__block">
									<h2 class="prod-body__title">Консультации по Люстра Vibrant A6412SP-5CC</h2>

									<div class="prod-body__wrap">
										<div class="consultations">
											<div class="consultations__list">
												<div class="consultations__item">
													<div class="consultation">
														<div class="consultation__top">
															<div class="consultation__author">Антонов Антон</div>
															<div class="consultation__date">23 февраля 2018</div>
														</div>
														<div class="consultation__body">
															<div class="consultation__text">А есть ли синий цвет у данной модели?</div>
														</div>
														<div class="consultation__bottom">
															<div class="consultation__ctrl"><a href="#" class="link link--dashed">Ответы</a> (1) ↑</div>
														</div>
													</div>
												</div>

												<div class="consultations__item consultations__item--admin">
													<div class="consultation consultation--admin">
														<div class="consultation__top">
															<div class="consultation__author">Интернет-магазин Персональный свет</div>
															<div class="consultation__date">23 февраля 2018</div>
														</div>
														<div class="consultation__body">
															<div class="consultation__text">В наличии есть бирюзово-синий и лазурный.</div>
														</div>
														<div class="consultation__bottom">
															<div class="consultation__ctrl"><a href="#" class="link link--dashed">Ответить</a></div>
														</div>
													</div>
												</div>

												<div class="consultations__item">
													<div class="consultation">
														<div class="consultation__top">
															<div class="consultation__author">Антонов Антон</div>
															<div class="consultation__date">23 февраля 2018</div>
														</div>
														<div class="consultation__body">
															<div class="consultation__text">А есть ли синий цвет у данной модели?</div>
														</div>
														<div class="consultation__bottom">
															<div class="consultation__ctrl"><a href="#" class="link link--dashed">Ответы</a> (1) ↑</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

							<div class="prod-body__extra prod-body__col">
								<a href="#" class="btn btn--lg btn--write">Задать вопрос</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
