{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Люстра Vibrant" %}

{% block content %}
{% include "includes/header.html" %}

<section class="main section product">
	<div class="container">
		<div class="main__head">
			<h1 class="page-title">Люстра Vibrant A6412SP-5CC</h1>
			
			<div class="product__top">
				<div class="prod-top">
					<div class="prod-top__sku">
						<div class="prod-sku">Код товара: 246894</div>
					</div>
					<div class="prod-top__rate">
						<div class="prod-rate">
							<div class="prod-rate__stars">
								<span class="prod-rate__star active"></span>
								<span class="prod-rate__star active"></span>
								<span class="prod-rate__star active"></span>
								<span class="prod-rate__star active"></span>
								<span class="prod-rate__star"></span>
							</div>
							<a href="#" class="prod-rate__link link">23 отзыва</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="main__body">
			<div class="product__card">
				{% include "includes/prod-card_01.html" %}
			</div>

			<div class="product__main">
				<div class="product__tabs">
					<nav class="tab-nav">
						<ul class="tab-nav__list">
							<li class="tab-nav__item">
								<a href="#" class="tab-nav__link active">Описание</a>
							</li>
							<li class="tab-nav__item">
								<a href="#" class="tab-nav__link">Технические характеристики</a>
							</li>
							<li class="tab-nav__item">
								<a href="#" class="tab-nav__link">Видео и обзоры<sup>4</sup></a>
							</li>
							<li class="tab-nav__item">
								<a href="#" class="tab-nav__link">Консультации<sup>1</sup></a>
							</li>
							<li class="tab-nav__item">
								<a href="#" class="tab-nav__link">Отзывы<sup>1</sup></a>
							</li>
							<li class="tab-nav__item">
								<a href="#" class="tab-nav__link">Доставка и оплата</a>
							</li>
							<li class="tab-nav__item">
								<a href="#" class="tab-nav__link">Похожие товары<sup>54</sup></a>
							</li>
							<li class="tab-nav__item">
								<a href="#" class="tab-nav__link">Аксессуары<sup>14</sup></a>
							</li>
						</ul>
					</nav>
				</div>

				<div class="product__body">
					<div class="prod-body">
						<div class="prod-body__content prod-body__grid">
							<div class="prod-body__main prod-body__col">
								
								<div class="prod-body__block">
									<h2 class="prod-body__title">Описание Люстра Vibrant A6412SP-5CC</h2>
									<div class="prod-body__description">
										Пресс-клиппинг спонтанно усиливает стратегический рыночный план. Стимулирование сбыта многопланово оправдывает контент. Ассортиментная политика предприятия без оглядки на авторитеты концентрирует контент. Концепция новой стратегии ускоряет институциональный нишевый проект, повышая конкуренцию.
									</div>
								</div>

								<div class="prod-body__block">
									<h3 class="prod-body__title">Технические характеристики Vibrant A6412SP-5CC</h3>

									<div class="prod-body__wrap">
										<div class="prod-body__grid prod-body__grid--half">
											<div class="prod-body__col prod-body__col--half">
												<table class="tech-tbl tech-tbl--xs">
													<tbody>
														<tr class="tech-tbl__odd">
															<td>Артикул</td>
															<td>A1800LM-5BK</td>
														</tr>
														<tr class="tech-tbl__even">
															<td>Коллекция</td>
															<td>Jennifer</td>
														</tr>
														<tr class="tech-tbl__odd">
															<td>Высота, мм</td>
															<td>470</td>
														</tr>
														<tr class="tech-tbl__even">
															<td>Цвет арматуры</td>
															<td>Чёрный</td>
														</tr>
														<tr class="tech-tbl__odd">
															<td>Стиль</td>
															<td>Модерн</td>
														</tr>
														<tr class="tech-tbl__even">
															<td>Цвет плафонов</td>
															<td>Чёрный</td>
														</tr>
													</tbody>
												</table>
											</div>
											<div class="prod-body__col prod-body__col--half">
												<table class="tech-tbl tech-tbl--xs">
													<tbody>
														<tr class="tech-tbl__odd">
															<td>Артикул</td>
															<td>A1800LM-5BK</td>
														</tr>
														<tr class="tech-tbl__even">
															<td>Коллекция</td>
															<td>Jennifer</td>
														</tr>
														<tr class="tech-tbl__odd">
															<td>Высота, мм</td>
															<td>470</td>
														</tr>
														<tr class="tech-tbl__even">
															<td>Цвет арматуры</td>
															<td>Чёрный</td>
														</tr>
														<tr class="tech-tbl__odd">
															<td>Стиль</td>
															<td>Модерн</td>
														</tr>
														<tr class="tech-tbl__even">
															<td>Цвет плафонов</td>
															<td>Чёрный</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>

									<div class="prod-body__ctrl">
										<a href="#" class="link">Все характеристики »</a>
									</div>
								</div>

								<div class="prod-body__block">
									<h2 class="prod-body__title">Фотографии Люстра Vibrant A6412SP-5CC</h2>

									<div class="prod-body__gallery">
										<div class="prod-body__photo-item">
											<a href="#" class="prod-body__photo-link">
												<img src="img/img_prod-extra_01.jpg" alt="" class="prod-body__photo-img">
											</a>
										</div>
										<div class="prod-body__photo-item">
											<a href="#" class="prod-body__photo-link">
												<img src="img/img_prod-extra_02.jpg" alt="" class="prod-body__photo-img">
											</a>
										</div>
										<div class="prod-body__photo-item">
											<a href="#" class="prod-body__photo-link">
												<img src="img/img_prod-extra_01.jpg" alt="" class="prod-body__photo-img">
											</a>
										</div>
										<div class="prod-body__photo-item">
											<a href="#" class="prod-body__photo-link">
												<img src="img/img_prod-extra_02.jpg" alt="" class="prod-body__photo-img">
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="prod-body__extra prod-body__extra--border prod-body__col">
								<div class="prod-body__block">
									<h2 class="prod-body__title">Информация по бренду</h2>
									<div class="prod-body__wrap">
										<div class="prod-brand">
											<div class="prod-brand__main">
												<div class="prod-brand__cover">
													<img src="https://pi-lt.ru/upload/Brand/3/preview_image/preview_image.jpg" alt="" class="prod-brand__logo">
												</div>

												<div class="prod-brand__country">
													<div class="country-item">
														<div class="country-item__label">Страна:</div>
														<div class="country-item__value">
															<span class="country-item__name">Италия</span>
															<span class="flag flag--ita"></span>
														</div>
													</div>
												</div>
											</div>

											<div class="prod-brand__bottom">
												<div class="prod-brand__list">
													<div class="prod-brand__item">
														<a href="#" class="link">Смотреть все товары Arte Lamp »</a>
													</div>
													<div class="prod-brand__item">
														<a href="#" class="link">Смотреть все подвесные люстры »</a>
													</div>
													<div class="prod-brand__item">
														<a href="#" class="link">Смотреть все подвесные люстры Arte Lamp »</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="prod-body__block">
									<div class="share-block">
										<div class="share-block__main">
											<div class="share-block__title">Поделиться:</div>
											<nav class="share-block__nav share-nav">
												<ul class="share-nav__list">
													<li class="share-nav__item">
														<a href="#" class="share-nav__link share-nav__link--vk">Вконтакте</a>
													</li>
													<li class="share-nav__item">
														<a href="#" class="share-nav__link share-nav__link--fb">Facebook</a>
													</li>
													<li class="share-nav__item">
														<a href="#" class="share-nav__link share-nav__link--ok">Одноклассники</a>
													</li>
													<li class="share-nav__item">
														<a href="#" class="share-nav__link share-nav__link--tw">Twitter</a>
													</li>
												</ul>
											</nav>
										</div>

										<div class="share-block__extra">
											<div class="share-block__label">Возможно, вам будет интересно:</div>
											<div class="share-block__list">
												<div class="share-block__item">
													<a href="#" class="link">Подвесные люстры в стиле лофт »</a>
												</div>
												<div class="share-block__item">
													<a href="#" class="link">Подвесные люстры для натяжных потолков »</a>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="prod-body__block">
									<div class="advantages">
										<div class="advantages__list">
											<div class="advantages__item">
												<div class="advantage">
													<div class="advantage__cover">
														<img src="img/icon_advantage-cart.svg" width="35" height="34" alt="" class="advantage__img">
													</div>
													<div class="advantage__info">3 магазина света в Москве</div>
												</div>
											</div>
											<div class="advantages__item">
												<div class="advantage">
													<div class="advantage__cover">
														<img src="img/icon_advantage-percent.svg" width="24" height="24" alt="" class="advantage__img">
													</div>
													<div class="advantage__info">Возвращаем до 25% от стоимости товара на следующие покупки</div>
												</div>
											</div>
											<div class="advantages__item">
												<div class="advantage">
													<div class="advantage__cover">
														<img src="img/icon_advantage-lamp.svg" width="27" height="32" alt="" class="advantage__img">
													</div>
													<div class="advantage__info">Гарантия качества товара</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<!--
								<div class="prod-body__block">
									<h3 class="prod-body__subtitle">Документация к товару</h3>

									<div class="prod-body__wrap">
										<div class="docs-list">
											<div class="docs-list__item">
												<a href="#" class="docs-list__link">
													<div class="docs-list__cover">
														<img src="img/img_doc_01.jpg" alt="" class="docs-list__img">
													</div>
													<div class="docs-list__label">Сертификат соответствия</div>
												</a>
											</div>

											<div class="docs-list__item">
												<a href="#" class="docs-list__link">
													<div class="docs-list__cover">
														<img src="img/img_doc_02.jpg" alt="" class="docs-list__img">
													</div>
													<div class="docs-list__label">Гарантийный талон</div>
												</a>
											</div>

											<div class="docs-list__item">
												<a href="#" class="docs-list__link">
													<div class="docs-list__cover">
														<img src="img/img_doc_03.jpg" alt="" class="docs-list__img">
													</div>
													<div class="docs-list__label">Сертификат дилера</div>
												</a>
											</div>
										</div>
									</div>
								</div>
								-->
							</div>
						</div>

						<div class="prod-body__bottom">
							<div class="prod-body__block">
								<div class="block block--front">
									<h2 class="block__title">Все товары коллекции:</h2>

									<div class="block__body">
										<div class="block__row">
											<div class="block__col block__col--fifth">
												{% include "includes/prod-teas-limites_01.html" %}
											</div>
											<div class="block__col block__col--fifth">
												{% include "includes/prod-teas-limites_01.html" %}
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="prod-body__block prod-body__block--limited">
								<div class="consultation">
									<div class="consultation__title">Бесплатная быстрая консультация по товару</div>
									<div class="consultation__questions">
										<p>Как мне купить этот товар дешевле? Есть живое фото из салона? Лампы к товару в комплекте или отдельно?</p>
										<p>Вы можете быстро получить ответ на любой ваш вопрос!</p>
									</div>
									
									<div class="consultation__bottom">
										<div class="consultation__left">
											<div class="consultation__btn">
												<a href="#" class="btn btn--write">Задать вопрос</a>
											</div>
											<div class="consultation__item">
												Сегодня мы ответили на <strong>24</strong> вопроса.
											</div>
										</div>
										
										<div class="consultation__extra">
											<div class="consultation__call">
												Не хотите ждать?<br>
												Звоните нам!
											</div>
											<div class="consultation__phone">
												+7 (495) 415-45-37
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="prod-body__block">
								<div class="prod-body__tabs">
									<nav class="tab-nav">
										<ul class="tab-nav__list">
											<li class="tab-nav__item">
												<a href="#" class="tab-nav__link">Консультации<sup>1</sup></a>
											</li>
											<li class="tab-nav__item">
												<a href="#" class="tab-nav__link active">Отзывы<sup>1</sup></a>
											</li>
										</ul>
									</nav>
								</div>

								<div class="prod-body__wrap">
									<div class="prod-body__content prod-body__grid">
										<div class="prod-body__main prod-body__col">
											<div class="prod-body__block">
												<h2 class="prod-body__title">Отзывы на Люстра Vibrant A6412SP-5CC</h2>

												<div class="prod-body__wrap">
													<div class="prod-reviews">
														<div class="prod-reviews__list">
															<div class="prod-reviews__item">
																<div class="prod-review">
																	<div class="prod-review__top">
																		<div class="prod-review__author">Антонов Антон</div>
																		<div class="prod-review__rate">
																			<div class="prod-rate">
																				<div class="prod-rate__stars">
																					<span class="prod-rate__star active"></span>
																					<span class="prod-rate__star active"></span>
																					<span class="prod-rate__star active"></span>
																					<span class="prod-rate__star active"></span>
																					<span class="prod-rate__star"></span>
																				</div>
																			</div>
																		</div>
																		<div class="prod-review__date">23 февраля 2018</div>
																	</div>
						
																	<div class="prod-review__text">
																		<p>Заказали данную люстру для спальни. Порадовала комплектация: все плафоны были аккуратно упакованы в пузырчатую пленку, имелись все необходимые провода и защелки для подключения люстры и даже были положены перчатки и такая штука, с помощью которой можно вкрутить плафоны, очень удобно и быстро</p>
																		<p>
																			<strong>Достоинства:</strong> В подарок шли лампы
																		</p>
																		<p>
																			<strong>Недостатки:</strong> лампы немного не подходят люстре, но всё же приятно :)
																		</p>
																	</div>

																	<div class="prod-review__helpful helpful">
																		<div class="helpful__label">
																			Отзыв помог?
																		</div>

																		<div class="helpful__ctrls">
																			<div class="helpful__ctrl">
																				<span class="helpful__qty helpful__qty--yes">+5</span>
																				<button class="helpful__btn btn btn--icon btn--yes">Да</button>
																			</div>
																			<div class="helpful__ctrl">
																				<span class="helpful__qty helpful__qty--no">-3</span>
																				<button class="helpful__btn btn btn--icon btn--no">Нет</button>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="prod-reviews__item">
																<div class="prod-review">
																	<div class="prod-review__top">
																		<div class="prod-review__author">Антонов Антон</div>
																		<div class="prod-review__rate">
																			<div class="prod-rate">
																				<div class="prod-rate__stars">
																					<span class="prod-rate__star active"></span>
																					<span class="prod-rate__star active"></span>
																					<span class="prod-rate__star active"></span>
																					<span class="prod-rate__star active"></span>
																					<span class="prod-rate__star"></span>
																				</div>
																			</div>
																		</div>
																		<div class="prod-review__date">23 февраля 2018</div>
																	</div>
						
																	<div class="prod-review__text">
																		<p>Заказали данную люстру для спальни. Порадовала комплектация: все плафоны были аккуратно упакованы в пузырчатую пленку, имелись все необходимые провода и защелки для подключения люстры и даже были положены перчатки и такая штука, с помощью которой можно вкрутить плафоны, очень удобно и быстро</p>
																		<p>
																			<strong>Достоинства:</strong> В подарок шли лампы
																		</p>
																		<p>
																			<strong>Недостатки:</strong> лампы немного не подходят люстре, но всё же приятно :)
																		</p>
																	</div>

																	<div class="prod-review__helpful helpful">
																		<div class="helpful__label">
																			Отзыв помог?
																		</div>

																		<div class="helpful__ctrls">
																			<div class="helpful__ctrl">
																				<span class="helpful__qty helpful__qty--yes">+5</span>
																				<button class="helpful__btn btn btn--icon btn--yes">Да</button>
																			</div>
																			<div class="helpful__ctrl">
																				<span class="helpful__qty helpful__qty--no">-3</span>
																				<button class="helpful__btn btn btn--icon btn--no">Нет</button>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>

														<div class="prod-reviews__bottom">
															<div class="prod-reviews__extra">
																<div class="prod-reviews__stats">
																	Показано <strong>22</strong> отзыва из 25
																</div>
									
																<div class="prod-reviews__pager">
																	<ul class="pager">
																		<li class="pager__item">
																			<a href="#" class="pager__link">1</a>
																		</li>
																		<li class="pager__item">
																			<a href="#" class="pager__link active">2</a>
																		</li>
																		<li class="pager__item">
																			<a href="#" class="pager__link">3</a>
																		</li>
																		<li class="pager__item">
																			<a href="#" class="pager__link">4</a>
																		</li>
																		<li class="pager__item">
																			<a href="#" class="pager__link">5</a>
																		</li>
																		<li class="pager__item">
																			<a href="#" class="pager__link">…</a>
																		</li>
																		<li class="pager__item">
																			<a href="#" class="pager__link pager__link--extra">Вперёд »</a>
																		</li>
																	</ul>
																</div>
															</div>
									
															<div class="prod-reviews__more">
																<a href="#" class="btn btn--light btn--lg">Показать ещё</a>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>

										<div class="prod-body__extra prod-body__col">
											<div class="rev-stats">
												<div class="rev-stats__top">
													<a href="#" class="btn btn--lg btn--write">Написать отзыв</a>
												</div>

												<div class="rev-stats__body">
													<div class="rev-stats__block">
														<div class="rev-stats__title">Общая оценка</div>
														<div class="rev-stats__wrap">
															<div class="rev-stats__row">
																<div class="rev-stats__rate">
																	<div class="prod-rate">
																		<div class="prod-rate__stars">
																			<span class="prod-rate__star active"></span>
																			<span class="prod-rate__star active"></span>
																			<span class="prod-rate__star active"></span>
																			<span class="prod-rate__star active"></span>
																			<span class="prod-rate__star active"></span>
																		</div>
																	</div>
																</div>

																<div class="rev-stats__qty">
																	15 отзывов
																</div>
															</div>
														</div>
													</div>

													<div class="rev-stats__block">
														<div class="rev-stats__title">Отзывы с оценкой</div>
														<div class="rev-stats__wrap">
															<div class="rev-stats__row">
																<div class="rev-stats__rate">
																	<div class="prod-rate">
																		<div class="prod-rate__stars">
																			<span class="prod-rate__star active"></span>
																			<span class="prod-rate__star active"></span>
																			<span class="prod-rate__star active"></span>
																			<span class="prod-rate__star active"></span>
																			<span class="prod-rate__star active"></span>
																		</div>
																	</div>
																</div>

																<div class="rev-stats__pct">96%</div>

																<div class="rev-stats__qty">
																	4 отзыва
																</div>
															</div>
															<div class="rev-stats__row">
																<div class="rev-stats__rate">
																	<div class="prod-rate">
																		<div class="prod-rate__stars">
																			<span class="prod-rate__star active"></span>
																			<span class="prod-rate__star active"></span>
																			<span class="prod-rate__star active"></span>
																			<span class="prod-rate__star active"></span>
																			<span class="prod-rate__star"></span>
																		</div>
																	</div>
																</div>

																<div class="rev-stats__pct">4%</div>

																<div class="rev-stats__qty">
																	1 отзыв
																</div>
															</div>
															<div class="rev-stats__row">
																<div class="rev-stats__rate">
																	<div class="prod-rate">
																		<div class="prod-rate__stars">
																			<span class="prod-rate__star active"></span>
																			<span class="prod-rate__star active"></span>
																			<span class="prod-rate__star active"></span>
																			<span class="prod-rate__star"></span>
																			<span class="prod-rate__star"></span>
																		</div>
																	</div>
																</div>

																<div class="rev-stats__pct">0%</div>

																<div class="rev-stats__qty">
																	0 отзывов
																</div>
															</div>
															<div class="rev-stats__row">
																<div class="rev-stats__rate">
																	<div class="prod-rate">
																		<div class="prod-rate__stars">
																			<span class="prod-rate__star active"></span>
																			<span class="prod-rate__star active"></span>
																			<span class="prod-rate__star"></span>
																			<span class="prod-rate__star"></span>
																			<span class="prod-rate__star"></span>
																		</div>
																	</div>
																</div>

																<div class="rev-stats__pct">0%</div>

																<div class="rev-stats__qty">
																	0 отзывов
																</div>
															</div>
															<div class="rev-stats__row">
																<div class="rev-stats__rate">
																	<div class="prod-rate">
																		<div class="prod-rate__stars">
																			<span class="prod-rate__star active"></span>
																			<span class="prod-rate__star"></span>
																			<span class="prod-rate__star"></span>
																			<span class="prod-rate__star"></span>
																			<span class="prod-rate__star"></span>
																		</div>
																	</div>
																</div>

																<div class="rev-stats__pct">0%</div>

																<div class="rev-stats__qty">
																	0 отзывов
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
