{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Люстра Vibrant" %}

{% block content %}
{% include "includes/header.html" %}

<section class="main section product">
	<div class="container">
		<div class="main__head">
			<h1 class="page-title">Люстра Vibrant A6412SP-5CC</h1>
			
			<div class="product__top">
				<div class="prod-top">
					<div class="prod-top__sku">
						<div class="prod-sku">Код товара: 246894</div>
					</div>
					<div class="prod-top__rate">
						<div class="prod-rate">
							<div class="prod-rate__stars">
								<span class="prod-rate__star active"></span>
								<span class="prod-rate__star active"></span>
								<span class="prod-rate__star active"></span>
								<span class="prod-rate__star active"></span>
								<span class="prod-rate__star"></span>
							</div>
							<a href="#" class="prod-rate__link link">23 отзыва</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="main__body">
			<div class="product__card">
				{% include "includes/prod-card_03.html" %}
			</div>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
