{% extends "layouts/default.html" %}
{% set title = "Персональный свет | Ничего не найдено" %}

{% block content %}
{% include "includes/header.html" %}

<section class="main section">
	<div class="container">
		<div class="main__tech">
			<div class="tech">
				<div class="tech__title page-title">По вашему запросу “Бетонные” ничего не найдено</div>
				
				<div class="tech__search">
					<div class="search-box">
						<div class="search-box__main">
							<div class="search-box__item">
								<input type="text" class="search-box__control" placeholder="Поиск по бренду, категории, товару">
							</div>

							<div class="search-box__submit">
								<button class="search-box__btn">Найти</button>
							</div>
						</div>
					</div>
				</div>

				<div class="tech__description">
					<p>— Проверьте, правильно ли введен запрос, нет ли опечаток, например «лютсра» вместо «люстра»</p>
					<p>— Попробуйте ввести синоним или схожий запрос</p>
					<p>— Попробуйте использовать более общий запрос, например «Хрустальные люстры» при поиске категории «Хрустальные люстры на дачу». Позже вы сможете отфильтровать результаты.</p>
				</div>
			</div>
		</div>
		
		<div class="main__body">
			<div class="main__block">
				<div class="block block--front">
					<h2 class="block__title">Но вы можете ознакомиться с нашими акциями:</h2>

					<div class="block__body">
						<div class="acts">
							<div class="acts__grid">
								<div class="acts__col">
									{% include "includes/act-teas_01.html" %}
								</div>
								<div class="acts__col">
									{% include "includes/act-teas_01.html" %}
								</div>
								<div class="acts__col">
									{% include "includes/act-teas_01.html" %}
								</div>
							</div>
						</div>
					</div>

					<div class="block__ctrl">
						<a href="#" class="link">Смотреть все акции →</a>
					</div>
				</div>
			</div>
			
			<div class="main__block">
				<div class="block block--front">
					<h2 class="block__title">Лучшие товары из каталога:</h2>

					<div class="block__body">
						<div class="block__row">
							<div class="block__col block__col--fifth">
								{% include "includes/prod-teas-limites_01.html" %}
							</div>
							<div class="block__col block__col--fifth">
								{% include "includes/prod-teas-limites_01.html" %}
							</div>
							<div class="block__col block__col--fifth">
								{% include "includes/prod-teas-limites_01.html" %}
							</div>
							<div class="block__col block__col--fifth">
								{% include "includes/prod-teas-limites_01.html" %}
							</div>
							<div class="block__col block__col--fifth">
								{% include "includes/prod-teas-limites_01.html" %}
							</div>
						</div>
					</div>

					<div class="block__ctrl">
						<a href="#" class="link">Смотреть все хиты →</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include "includes/footer.html" %}
{% endblock %}
