<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
	
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
  
<div class="wrapper">
	{% block content %}{% endblock %}
</div>
	
<link property="stylesheet" rel="stylesheet" href="css/third.css">
<link property="stylesheet" rel="stylesheet" href="fonts/stylesheet.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800" rel="stylesheet">

<script src="js/extra.js"></script>
<script src="js/main.js"></script>
</body>
</html>